<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c1328"><div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap"><div class="csc-textpic-center-outer"><div class="csc-textpic-center-inner"><div class="csc-textpic-imagerow"><div class="csc-textpic-imagecolumn csc-textpic-firstcol csc-textpic-lastcol"><figure class="csc-textpic-image csc-textpic-last"><img src="typo3temp/pics/28959d3647.jpg" width="700" height="1400" alt=""></figure></div></div>
						<div class="csc-textpic-imagerow"><div class="csc-textpic-imagecolumn csc-textpic-firstcol csc-textpic-lastcol"><figure class="csc-textpic-image csc-textpic-last"><img src="typo3temp/pics/64f2b4fb31.jpg" width="700" height="1400" alt=""></figure></div></div>
							<div class="csc-textpic-imagerow"><div class="csc-textpic-imagecolumn csc-textpic-firstcol csc-textpic-lastcol"><figure class="csc-textpic-image csc-textpic-last"><img src="typo3temp/pics/c5bb7094a9.jpg" width="700" height="1400" alt=""></figure></div></div>
								<div class="csc-textpic-imagerow"><div class="csc-textpic-imagecolumn csc-textpic-firstcol csc-textpic-lastcol"><figure class="csc-textpic-image csc-textpic-last"><img src="typo3temp/pics/72247a5af1.jpg" width="700" height="1400" alt=""></figure></div></div>
									<div class="csc-textpic-imagerow"><div class="csc-textpic-imagecolumn csc-textpic-firstcol csc-textpic-lastcol"><figure class="csc-textpic-image csc-textpic-last"><img src="typo3temp/pics/9deef97e80.jpg" width="700" height="1400" alt=""></figure></div></div>
										<div class="csc-textpic-imagerow"><div class="csc-textpic-imagecolumn csc-textpic-firstcol csc-textpic-lastcol"><figure class="csc-textpic-image csc-textpic-last"><img src="typo3temp/pics/d4ed1d4e3a.jpg" width="700" height="1400" alt=""></figure></div></div>
											<div class="csc-textpic-imagerow"><div class="csc-textpic-imagecolumn csc-textpic-firstcol csc-textpic-lastcol"><figure class="csc-textpic-image csc-textpic-last"><img src="typo3temp/pics/20ed729257.jpg" width="700" height="1400" alt=""></figure></div></div>
												<div class="csc-textpic-imagerow"><div class="csc-textpic-imagecolumn csc-textpic-firstcol csc-textpic-lastcol"><figure class="csc-textpic-image csc-textpic-last"><img src="typo3temp/pics/9c0edcd5d6.jpg" width="700" height="1400" alt=""></figure></div></div>
													<div class="csc-textpic-imagerow csc-textpic-imagerow-last"><div class="csc-textpic-imagecolumn csc-textpic-firstcol csc-textpic-lastcol"><figure class="csc-textpic-image csc-textpic-last"><img src="typo3temp/pics/3bdb1e21b3.jpg" width="700" height="1400" alt=""></figure></div></div></div></div></div></div></article></section><!--TYPO3SEARCH_end--></div>