<div>
	<meta charset="utf-8">
	<!--
	РТФ
	- - - - - - - - - - - -
	This website is powered by TYPO3 - inspiring people to share!zz!z
	TYPO3 is a free open source Content Management Framework initially created by Kasper Skaarhoj and licensed under GNU/GPL.
	TYPO3 is copyright 1998-2013 of Kasper Skaarhoj. Extensions are copyright of their respective owners.
	Information and contribution at http://typo3.org/
	-->
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Праздники и мероприятия</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_0f08f266c9.css?1494053264" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100&L=1%27A%3D0">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c1110"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Праздники и мероприятия</h1></header></article><article id="c1112"><header class="csc-header csc-header-n2"><h1>65-летний юбилей ИРИТ-РтФ</h1></header></article><article id="c1113"><div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap"><div class="csc-textpic-center-outer"><div class="csc-textpic-center-inner"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/Afisha_5maja.PNG" width="444" height="627"  alt=""></figure></div></div></div></div></article><article id="c1111"><p>&nbsp;</p>
						<p><b>Программа праздничных мероприятий, посвященных празднованию 65-летнего Юбилея ИРИТ-РтФ</b>
</p>
						<p>Институт Радиоэлектроники и Информационных Технологий - РтФ в этом году отмечает свой скромный 65-летний Юбилей. В преддверии самого масштабного праздника радистов - Дня радио, мы приглашаем вас на главную встречу этого года!
</p>
						<p>&nbsp;</p>
						<p><b>Юбилей ИРИТ-РтФ — это...</b>
</p>
						<p>- Место встречи выпускников всех лет
</p>
						<p>- Бесплатный чай и торт
</p>
						<p>- Беспроигрышная лотерея
</p>
						<p>- Общение с престижными IT-компаниями
</p>
						<p>- Бесплатные фото с Поповым
</p>
						<p>- Развлечения и конкурсы
</p>
						<p>- Фотовыставка
</p>
						<p>- Подарки
</p>
						<p>- Концерт на сцене Актового зала с участием выпускников, студентов и преподавателей РтФ!
</p>
						<p>&nbsp;</p>
						<p>Вход свободный!
</p>
						<p>&nbsp;</p>
						<p>Следите за информацией в сообществе&nbsp;<a href="https://vk.com/5may_yubiley" >https://vk.com/5may_yubiley</a>, приглашайте друзей и приходите на встречу вместе с нами. До скорого!
</p>
						<p>#РадиоСемья #RtFUrFU #ЮбилейРтФ
</p>
						<p>Актовый зал, ГУК, Мира ул. 19
</p>
						<p>5 мая в 15:30 — 5 мая в 18:30
</p>
						<p>&nbsp;</p><table class="" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: none;"><tbody><tr><td width="115" style="width: 86.4pt; border: 1pt solid windowtext; padding: 0cm 5.4pt;"><p class="MsoNormal" style="margin: 6pt 0cm; text-align: center;">Время</p></td><td width="324" style="width: 243pt; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0cm 5.4pt;"><p class="MsoNormal" style="margin: 6pt 0cm; text-align: center;">Мероприятия</p></td><td width="199" style="width: 149.15pt; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0cm 5.4pt;"><p class="MsoNormal" style="margin: 6pt 0cm; text-align: center;">Место</p></td></tr><tr><td width="115" style="width: 86.4pt; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt;"><p class="MsoNormal">&nbsp;</p><p class="MsoNormal">&nbsp;</p><p class="MsoNormal">14.30 - 15.45</p></td><td width="324" style="width: 243pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt;"><p class="MsoNormal" style="margin: 6pt 0cm;">зона общения для выпускников, преподавателей и студентов ИРИТ-РтФ</p><p class="MsoNormal" style="margin: 6pt 0cm;">зона общения с ведущими ИТ-компаниями Екатеринбурга (СКБ Контур, Акадо, Convex, Naumen, Хост, УЦСБ), выставка</p><p class="MsoNormal" style="margin: 6pt 0cm;">фотовыставка и фотозона — получи эксклюзивное фото с Поповым!</p></td><td width="199" style="width: 149.15pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt;"><p class="MsoNormal">&nbsp;</p><p class="MsoNormal">&nbsp;</p><p class="MsoNormal">фойе 2 этажа ГУКа</p></td></tr><tr><td width="115" style="width: 86.4pt; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt;"><p class="MsoNormal">15.00 - 15.50</p></td><td width="324" style="width: 243pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt;"><p class="MsoNormal" style="margin: 6pt 0cm;">беспроигрышная лотерея</p></td><td width="199" style="width: 149.15pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt;"><p class="MsoNormal">фойе 2 этажа ГУКа</p></td></tr><tr><td width="115" style="width: 86.4pt; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt;"><p class="MsoNormal">&nbsp;</p><p class="MsoNormal">15:00 - 16:00</p></td><td width="324" style="width: 243pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt;"><p class="MsoNormal" style="margin: 6pt 0cm;">регистрация гостей</p><p class="MsoNormal" style="margin: 6pt 0cm;">чаепитие с тортом</p></td><td width="199" style="width: 149.15pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt;"><p class="MsoNormal">&nbsp;</p><p class="MsoNormal">фойе 2 этажа ГУКа</p></td></tr><tr><td width="115" style="width: 86.4pt; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt;"><p class="MsoNormal">16:00 - 17:30</p></td><td width="324" style="width: 243pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt;"><p class="MsoNormal" style="margin: 6pt 0cm;">юбилейный концерт</p></td><td width="199" style="width: 149.15pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt;"><p class="MsoNormal">актовый зал ГУКа</p></td></tr><tr><td width="115" style="width: 86.4pt; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt;"><p class="MsoNormal">18:00</p></td><td width="324" style="width: 243pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt;"><p class="MsoNormal" style="margin: 6pt 0cm;">фотографирование выпускников, ветеранов, преподавателей</p></td><td width="199" style="width: 149.15pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt;"><p class="MsoNormal">площадь перед зданием Суворовского училища</p></td></tr></tbody></table><p style="margin: 0cm 0cm 0.0001pt; line-height: 130%;">&nbsp;</p>
						<p style="margin: 0cm 0cm 0.0001pt; line-height: 130%;">&nbsp;</p>
						<p style="margin: 0cm 0cm 0.0001pt; line-height: 130%;"><b><u>7 Мая</u></b></p>
						<p style="margin: 0cm 0cm 0.0001pt; line-height: 130%;">&nbsp;</p>
						<p style="margin: 0cm 0cm 0.0001pt; line-height: 130%;"><b>12.30</b> – фотографирование ветеранов ИРИТ-РтФ в Р-325;</p>
						<p style="margin: 0cm 0cm 0.0001pt; line-height: 130%;"><b>13.30</b> – Ветеранские посиделки в Р-237;</p>
						<p style="margin: 0cm 0cm 0.0001pt; line-height: 130%;" class="align-justify"><b>16.00</b><b>-</b><b>20.40</b> – мероприятия для студентов, выпускников и их друзей около входа в здание ИРИТ-РтФ;</p>
						<p style="margin: 0cm 0cm 0.0001pt; line-height: 130%;">&nbsp;</p></article><article id="c536"><h2 class="align-justify">Ежегодное шествие студентов института радиоэлектроники и информационных технологий к памятнику Попову</h2>
						<p class="align-justify">Особой гордостью и достоянием института радиоэлектроники и информационных технологий - РтФ&nbsp;по праву считается ежегодное шествие студентов радиофака к памятнику, воздвигнутому в честь русского изобретателя радио Александра Попова.</p></article><article id="c537"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_14.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">Памятник Попову расположен на площади Труда, около главпочтамта (пр. Ленина, 39). Старт же, в последнее время, происходит от здания института радиоэлектроники и информационных технологий - РтФ&nbsp;УрФУ (ул. Мира, 32). Таким образом, праздничный марш проходит по автодорогам улиц Малышева, Гагарина, Ленина (движение транспорта по всему маршруту следования заранее перекрывается силами дорожно-постовой службы).</p></div></div></article><article id="c538"><p class="align-justify">Пожалуй, это самое громкое и значимое событие внеучебной жизни радиофака. Отрадно то, что оно же, по сути, является одним из самых грандиозных мероприятий всего УрФУ. Несмотря на то, что традиция принадлежит отдельному институту, она затмевает собой многие общеуниверситетские праздники. Ни один другой институт не может похвастаться традициями подобной силы и размаха.</p></article><article id="c539"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_15.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">Масштабность мероприятия и его популярность настолько огромны, что большинство студентов и просто жителей города ошибочно полагают, что 7 мая празднуется день института радиоэлектроники и информационных технологий - РтФ. На самом деле, 7 мая 1895 года Александром Поповым было впервые успешно испытано устройство радиосигнализации, с чего и началась история радио. Таким образом, майское шествие является своеобразной данью благодарности ученому за одно из величайших изобретений века, которое в последствии привело к созданию отдельного института. День же радиофака празднуется гораздо скромнее, и зачастую проходит незамеченным даже для самих студентов.</p></div></div></article><article id="c540"><p class="align-justify">Интересно то, что праздник пытается оставаться неофициальным — как правило, 7 мая считается обычным учебным днем со стандартным расписанием. Но атмосферу, царящую в институте&nbsp;в эту знаменательную дату, витающую торжественность настроений преподавателей и студентов вы не спутаете ни с чем. Уже несколько недель назад пройдены все необходимые инстанции власти, получено официальное разрешение главы города, проведены подготовительные беседы со старостами академических групп. Уже днем в сквере перед институтом&nbsp;собираются самые разнные люди, далеко не все из них являются нынешними студентами УрФУ. Для многих выпускников-радиотехников 7 мая становится тем единственным днем, когда они снова собираются в свои старые, уже давно ушедшие в прошлое группы. Они могут жить в разных уголках страны (или даже мира), у каждого из них своя работа, семья и проблемы, но хотя бы раз в год они съезжаются и вместе вспоминают то, что некогда их всех объединяло и волновало. Им всегда найдется, что рассказать друг другу, и пусть некоторые свои студенческие истории они будут слышать далеко не в первый раз, а достоверность иных до сих пор остается сомнительной, все равно, они не перестанут быть интересными и смешными, потому что эти истории уже нетленны и останутся с ними до конца. </p>
						<p class="align-justify">Особую гордость Шествие вызывает еще и тем, что традиция зарождалась спонтанно, без всяких долгих размышлений, без указов свыше, без какой-либо подготовки. Начиналось все в восьмидесятые годы, с легкой руки студенческих отрядов «Импульс» и «Вега». Около десяти лет подряд они каждый год на 7 мая собирались у общежития института радиоэлектроники и информационных технологийа и в количестве 60 — 100 человек шествовали к памятнику Попову. Марш проходил спокойно и неофициально, движение транспорта, естественно, не перекрывалось, со стороны все выглядело, как простая прогулка достаточно организованной группы молодежи. Мероприятие реализовывалось настолько тихо, что около десяти лет о молодой традиции не знали ни руководство факультета, ни большинство студентов, не говоря уже о правлении УПИ и администрации города. </p>
						<p class="align-justify">Судьбоносным оказался 1994 год. Считается, что тогда колона ненадолго преградила дорогу действующему в то время мэру Екатеринбурга Аркадию Чернецкому, чем и обратила на себя внимание сильных мира сего. Неизвестно, насколько верна эта информация, однако 7 мая 1994 года, в районе Оперного театра, путь колоне студентов преградило подразделение ОМОНа. Далее последовало противостояние, закончившееся стычкой с органами охраны правопорядка. Около двух десятков студентов были задержаны и провели ночь в милиции. После этого в пору было считать традицию загубленной и не прижившейся. Да только не отступились студенты от молодого обычая, помогло и руководство факультета — во все последующие годы шествие проходило легально, с официального разрешения властей. Традиция же получила необходимую огласку, и с каждым разом ее популярность лавинообразно возрастала. </p>
						<p class="align-justify">Один год, в связи с техническими работами у памятника Попову, было решено отменить уже запланированное мероприятие. С этой целью в районе пересечения проспекта Ленина с улицей Гагарина колону встретил ректор УГТУ-УПИ Станислав Степанович Набойченко. Он попытался убедить студентов хотя бы единожды отменить свой праздничный марш. После непродолжительной паузы шествие продолжилось — колону вел С. С. Набойченко, что само по себе явилось символом официального признания институтом прекрасной и гордой традиции.</p></article><article id="c541"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_16.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p>2002 год был годом 50 — летнего юбилея основания института радиоэлектроники и информационных технологий, тогда по разным подсчетам в шествии приняло участие от двух до пяти тысяч человек.</p></div></div></article><article id="c542"><h2>День Победы</h2>
						<p class="align-justify">Во все времена в УрФУ&nbsp;очень серьезно относились к вопросам празднования Дня Победы и поздравлений ветеранов Великой Отечественной Войны. Сразу вспоминается ежегодная легкоатлетическая эстафета на призы газеты «За индустриальные кадры», что приурочена к знаменательной дате. Эстафете предшествует торжественный марш курсантов учебного военного центра, который проводится перед зданием главного учебного корпуса.</p></article><article id="c545"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_17.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">9 мая 1995 г. состоялось торжественное открытие памятника преподавателям и студентам университета, участникам Великой Отечественной войны — Героям Советского Союза.</p></div></div></article><article id="c546"><p class="align-justify">С особым чувством гордости можно говорить о поздравлении единовременных ветеранов ВОВ и УрФУ, которое ежегодно проводится в институте радиоэлектроники и информационных технологий.</p></article><article id="c547"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_18.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">Для того чтобы получить звание «ветеран УрФУ», мужчинам необходимо проработать в университете не менее 25 лет. Для женщин требуемый стаж равен 20 годам работы в вузе.</p></div></div></article><article id="c548"><p class="align-justify">История этого мероприятия весьма символична. Дело в том, что традиция зарождалась в девяностых годах, то были непростые времена в жизни института — сложности финансирования приводили к возникновению проблем с организацией учебного процесса, говорить же о выделении средств на какие-либо праздники не приходилось вовсе. </p>
					<p class="align-justify">Тогда — то и родилась замечательная идея обратиться за помощью к известнейшим выпускникам РТФ (подбор кандидатов проводился с помощью элементарного телефонного справочника со списком крупнейших предприятий и организаций города). Первые же встречи принесли свои плоды — выпускники откликнулись сразу же и с большим энтузиазмом. Поздравление прошло с размахом, соответствующим знаменательному юбилею, и вот уже почти десять лет факультет со своими выпускниками достойно чествуют единовременных ветеранов ВОВ и УрФУ.</p></article></section><!--TYPO3SEARCH_end--></div>
				</div>