<div>
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Газета РТФ News</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_9080299a88.css?1494053195" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c481"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Газета РТФ News</h1></header><div id="c30955" class="csc-default"><p>&nbsp;</p>
						<p class="align-justify"><b>Визитных карточек у радиофака, как известно, множество. Это и высокий рейтинг РтФ среди абитуриентов, и сильные строительные отряды, и, разумеется, ежегодный поход к памятнику Попову в День радио, и многое-многое другое, словом, то, без чего радиофак потерял бы свою, образно говоря, харизму. И, вне всякого сомнения, особый колорит радистам придает их собственная газета – их любимая «РтФ </b><b>News». В 2012&nbsp;году, а точнее, в марте 2012&nbsp;года радиофаковская газета отмечает свое 14-летие! Поздравляем!</b></p>
						<p class="align-justify">Без преувеличения, «РтФ News» - настоящая гордость института радиоэлектроники и информационных технологий: дело в том, что именно наша газета стала ПЕРВЫМ во всем УГТУ факультетским печатным публицистическим изданием, впоследствии давшим стимул для появления и развития газет других институтов нашего университета. Все эти годы «РтФ News» отражала практически все происходившие на радиофаке и в УрФУ (УГТУ-УПИ) события, поздравляла радистов, когда очередной номер издавался к красному дню календаря, копила опусы любимых преподавателей РтФ… </p>
						<p class="align-justify">Немного истории для читателя. Незадолго до развала СССР во всем политехническом институте считалось, что собственная стенгазета – неотъемлемая черта каждого факультета. Радисты, разумеется, располагали в то время подобной газетой, называлась она «Радиотехник». Конечно, она кардинально отличалась от нынешнего печатного издания радиофака, но надо отдать должное тем, кто держал ее в те времена на плаву: газета была рисованная, среди ее статей были и публицистические материалы, и лирические произведения, поэтому, как уже стало ясно, готовить новые номера стенгазеты было отнюдь не просто. Кстати, в редакции «Радиотехника» состоял и небезызвестный Лев Кощеев, нынешний главный редактор екатеринбургских газет «Уральский рабочий» и «Вечерний Екатеринбург». Но со временем работа над «Радиотехником» сошла на «нет», и радиофак долгое время оставался без собственной газеты, как, впрочем, и другие факультеты УПИ. Однако наступил март 1998 года. И кто знает, если бы не энтузиазм Евгения Рамиха, активнейшего члена профбюро тех лет, «РтФ News» могла не появиться. Евгением Рамихом, впоследствии ставшим главным редактором газеты, и группой его единомышленников в марте 98-го был напечатан первый номер «РтФ News» - небольшое двухстраничное издание, пока что без фотографий и иных изысков. Однако совершенству, как известно, нет предела: развивалось сотрудничество с газетой нашего университета «За индустриальные кадры», улучшалась верстка, на страницах газеты появились фотографии, материалы становились намного разнообразнее и т.д. и т.п. Короче говоря, «РтФ News» уверенно становилась тем, что сейчас читают радисты, да и не только. «РтФ News» стала настоящей ГАЗЕТОЙ!</p>
						<p class="align-justify">Работа сотрудников «РтФ News» была по достоинству оценена в разные годы: в 2005-м наша газета участвовала в конкурсе вузовских периодических изданий, проводившимся в рамках межвузовского фестиваля «Весна УПИ», и заняла в общем зачете 5 место, а среди факультетских газет – 1 место! В прошлом2011 году был проведен Фестиваль студенческой прессы, на этом фестивале коллектив «РтФ News» завоевал 4 место среди своих коллег по перу! И хочется верить, что это далеко не предел!</p>
						<p class="align-justify">Как уже говорилось, «РтФ News» - одна из визитных карточек, если хотите, один из «козырей» радиофака. И в день рождения радиофаковской газеты хочется пожелать ей дальнейшего развития, неординарных творческих решений, новых сторонников и любителей публицистического ремесла, профессиональных достижений и побед!</p>
						<p>Дмитрий БЕЛЯЕВ</p></div></article></section><!--TYPO3SEARCH_end--></div>
					</div>