<div>
	<meta charset="utf-8">
	<!--
	РТФ
	- - - - - - - - - - - -
	This website is powered by TYPO3 - inspiring people to share!zz!z
	TYPO3 is a free open source Content Management Framework initially created by Kasper Skaarhoj and licensed under GNU/GPL.
	TYPO3 is copyright 1998-2013 of Kasper Skaarhoj. Extensions are copyright of their respective owners.
	Information and contribution at http://typo3.org/
	-->
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Профсоюзная студенческая организация (союз студентов)</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_0f08f266c9.css?1494053264" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100&L=1%27A%3D0">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c527"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Профсоюзная студенческая организация (Союз студентов)</h1></header><p class="align-justify"><strong>Основная цель:</strong> объединение студентов университета для защиты своих социально-экономических прав и интересов, приумножения нравственных, культурных и научных ценностей общества. </p>
						<p class="align-justify">Для достижения поставленных целей профсоюзная студенческая организация ведет работу по пяти основным направлениям: организационно-массовое, информационное, социально-правовое, культурно-массовое и спортивно-оздоровительное.</p>
						<h2>Организационно-массовая работа</h2>
						<p class="align-justify">Во всех институтах ежегодно организуются отчётные конференции для формирования состава профбюро институтов, делегируются студенты в состав профкома студентов и избираются делегаты на отчётные конференции и пленумы профкома студентов. Формируются планы проведения будущих работ. </p>
						<p class="align-justify">Регулярно проходят занятия школы профсоюзного актива. Обучаются:</p><ul><li>члены комиссий профкома студентов и профбюро институтов по направлениям работы;</li><li>профорги первого курса и вновь избранные (результатом которого является выезд с экзаменом). </li></ul><h2>Информационная работа</h2>
						<p class="align-justify">Комиссия по информационной работе со студентами предназначена для организации информационно-рекламной поддержки при проведении различных студенческих мероприятий и праздников. Поддержка осуществляется путем изготовления печатной продукции, рекламных растяжек, роликов и наградной сувенирной продукции. Комиссия отвечает за сбор и распространение информации, т.е. решает, каким образом и какая информация должна быть предоставлена студентам. Производится также анализ информационных ресурсов профкома и УрФУ, осуществляется взаимодействие с информационным отделом УрФУ, регулируется взаимодействие различных направлений работы профкома между собой. </p></article><article id="c528"><p class="align-justify">В состав комиссии по информационной работе со студентами входят следующие  структурные подразделения:</p><ul><li>С Т В — студенческое телевидение; </li><li>администратор сети; </li><li>дизайнеры-разработчики. </li></ul><p class="align-justify">Раз в семестр проходит информационная конференция с руководителями института,  на которой встречаются ректор университета и председатель профкома. </p>
						<p class="align-justify">На конференции в обязательном порядке присутствуют профорги групп и старосты.  По результатам конференции готовятся специальные информационные стенды. </p>
						<h2>Социально-правовая работа</h2>
						<p class="align-justify">Комиссия по социально-правовой работе призвана обеспечивать контроль  в университете за соблюдением законодательства РФ и области, а также отслеживать  правомерность использования бюджетных средств. Комиссия контролирует социальные  выплаты детям-сиротам, студентам-инвалидам, начисление социальных стипендий;  распределяет 5% фонд надбавок и материальной помощи; производит начисление  премий студентам, принимавшим активное участие в спортивной, общественной,  научной жизни университета и студенческого городка; помогает студентам решать  правовые вопросы, связанные с жизнью университета. </p>
						<p class="align-justify">В рамках социально-правовой работы функционирует центр  социально-психологической помощи, а также оказывается поддержка одарённых  и талантливых студентов в области науки. </p>
						<h2>Культурно-массовая работа</h2>
						<p class="align-justify">Профбюро студентов осуществляет руководство деятельностью Дома культуры УрФУ  (УГТУ-УПИ), который является центром культурно-воспитательной работы  со студентами. На данный момент под эгидой ДК продолжают работу такие известные  творческие коллективы УрФУ (УГТУ-УПИ), как театр хореографической пластики  «Визави», команда КВН «Диаманты», студия пародий «Без обмана», студенческий  театр эстрадных миниатюр, рок-клуб, клуб «Интеллект», кино-клуб, дискоклуб. </p>
						<p class="align-justify">В рамках культурно-массовой работы профком участвует в организации  разнообразных молодежных мероприятий, курирует работу студенческих клубов. </p>
						<h2>Спортивно-оздоровительная работа</h2>
						<p class="align-justify">Профбюро студентов принимает участие в разработке и осуществлении комплексных  планов лечебно-оздоровительных мероприятий. </p>
						<p class="align-justify">Спортивно-оздоровительная программа профкома включает в себя следующие  основные направления работы: санаторий-профилакторий, санаторно-курортное  лечение, донорство, туризм, оздоровительно-спортивные лагеря.</p></article><article id="c529"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_10.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">Университет располагает спортивно-оздоровительным комплексом (СОК) «Песчаное», спортивно-оздоровительным лагерем (СОЛ) «Радуга-2» на Черном море (п. Дивноморское), базой отдыха на Белоярском водохранилище «Чайка».</p></div></div></article></section><!--TYPO3SEARCH_end--></div>
					</div>