<div>
	<meta charset="utf-8">
	<!--
	РТФ
	- - - - - - - - - - - -
	This website is powered by TYPO3 - inspiring people to share!zz!z
	TYPO3 is a free open source Content Management Framework initially created by Kasper Skaarhoj and licensed under GNU/GPL.
	TYPO3 is copyright 1998-2013 of Kasper Skaarhoj. Extensions are copyright of their respective owners.
	Information and contribution at http://typo3.org/
	-->
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Студенческие отряды</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_0f08f266c9.css?1494053264" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c486"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Студенческие отряды</h1></header><h2>Что такое Студенческий отряд?</h2>
						<p class="align-justify">Линейный студенческий отряд (ЛСО) — добровольное неполитическое объединение студенческой молодежи, образованное для совместной производственной, общественно-воспитательной и культурной деятельности в составе молодежной общественной организации «Свердловский областной студенческий отряд». ЛСО — коллектив студентов, объединенный общим фронтом работ, определяемых договором с организацией (предприятием). </p>
						<p class="align-justify">ЛСО призван воспитывать студентов в духе коллективизма и взаимовыручки, ответственного отношения к труду, формировать высокие нравственные качества, активную гражданскую позицию. </p>
						<p class="align-justify">Цели СО: обеспечение вторичной занятости студентов, защита и реализация прав и интересов бойцов ЛСО, улучшение социально-бытовых условий их жизни, создание условий для развития творческого потенциала и способностей бойцов ЛСО, повышение качества подготовки молодых специалистов. </p>
						<p class="align-justify">На самом деле, для большинства студентов отряды становятся необъятным и неизведанным миром. Миром, где их встречает огромное количество стимулов и возможностей к самореализации и раскрытию своих внутренних талантов. Они открывают для себя новый круг интересов, встречают множество друзей, учатся решать непривычные проблемы. Таким образом, отряды занимают отдельную нишу в обучающе-воспитательном процессе и способствуют формированию полноценной личности студента. </p>
						<p class="align-justify">По направлению деятельности линейные студенческие отряды подразделяются: </p><ul><li>На студенческие строительные отряды (ССО) — отряды, выполняющие ремонтно-строительные работы на объектах; </li><li>студенческие педагогические отряды (СПО) — отряды, работающие вожатыми в детских оздоровительных лагерях, </li><li>студенческие отряды проводников (СОП) — отряды, обслуживающие пассажирские вагоны, </li><li>Прочие отряды — сервисные, уборочные и другие. </li></ul><h2>Основные руководящие должности ЛСО</h2>
						<p class="align-justify">Будучи сложным социальным образованием, каждый ЛСО должен иметь свою строго регламентируемую структуру со своими органами управления, высшим из которых является общее собрание ЛСО. Однако в повседневной жизни управление организуется посредством руководителей ЛСО, которые избираются из числа бойцов данного ЛСО. Основными должностями среди руководителей ЛСО выделяют должности командира, комиссара и мастера (заместителя командира по производству). </p>
						<p class="align-justify"><strong>Командир</strong> организует работу ЛСО, несет персональную ответственность перед вышестоящими органами СО, ректоратом учебного заведения за производственную, воспитательную, общественную деятельность ЛСО, обеспечение безопасных условий труда, соблюдение трудового законодательства, внутриотрядную дисциплину, выполнение постановлений и решений вышестоящих органов СО и приказов ректора. В решении вопросов повседневной деятельности, не относящихся к компетенции других органов, командир пользуется правом единоначалия. О принятых в оперативном порядке решениях командир должен информировать Штаб ЛСО. </p>
						<p class="align-justify"><strong>Комиссар</strong> возглавляет общественную, досуговую, культурно-массовую деятельность ЛСО, несет ответственность перед вышестоящими органами СО и ректоратом учебного заведения за выполнение стоящих перед ЛСО задач, воспитательную, общественную, культурно-массовую работу, организацию внутриотрядной жизни. В отсутствие командира комиссар выполняет его обязанности. </p>
						<p class="align-justify"><strong>Мастер</strong> является непосредственным руководителем производственной деятельности ЛСО и несет ответственность за своевременное и качественное выполнение работ, за состояние охраны труда на объектах, где работают бойцы ЛСО, бережное отношение к технике и материалам.</p>
						<h2>Целина</h2></article><article id="c487"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_01.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">«Целина» — ежегодная мобилизация всех действующих членов студенческого отряда с целью выполнения определенного фронта работ, специфика которых зависит от направления деятельности отряда. Как правило, «целину» проводится летом и за пределами родного города.</p></div></div></article><article id="c488"><p class="align-justify">Выезд на «целину» является серьезным испытанием для всех участников СО.  Для молодых же бойцов «целина» становиться «боевым крещением». Во время  летних работ каждый учится решать неизведанные серьезные проблемы,  проходит очередной этап своей жизни, получает новые мироощущения.  «Целина» проходит вдали от дома (в тех редких случаях, когда работы  ведутся в пределах родного города, категорически запрещаются поездки  домой), и, наверное, каждому бойцу отрядов знакома щемящая тоска по  дому.</p>
						<p>&nbsp;</p></article><article id="c489"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_02.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">«Целинная» география свердловских отрядов настолько обширна, что не будет преувеличением сказать — наши отряды объездили всю Россию. При этом качество выполнения работ и, соответственно, авторитет Свердловских отрядов уже давно традиционно высоки.</p></div></div></article><article id="c490"><p class="align-justify">«Целина» закаляет, она формирует новые личности и взаимоотношения. Как  правило, люди, прошедшие «целину», расширяют свой круг интересов и несколько  иначе смотрят на мир. Теперь они полноправные бойцы студенческого отряда.</p>
						<h2>Культура и традиции ЛСО</h2>
						<p class="align-justify">Одним из основных атрибутов каждого участника студенческих отрядов является  куртка («<strong>целинка</strong>») единого образца защитного цвета с нанесенным  на спину рисунком, отражающим название отряда, учебного заведения, характер  деятельности (ССО, СПО, СОП и др.), эмблему отряда и название административной  территории, на которой сформирован отряд.</p></article><article id="c491"></article><article id="c492"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_03.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">Форменная одежда приобретается каждым участником отряда за свой счет.</p></div></div></article><article id="c493"><p class="align-justify">«<strong>Целинка</strong>» — это не просто символ принадлежности  к какому-либо отряду или к ЛСО в целом. Ношение «<strong>Целинки</strong>»  является своеобразным ритуалом, накладывающим определенные поведенческие нормы  на участника ЛСО, надевшего куртку (например, категорически запрещается как  употребление алкогольных напитков, так и пребывание в нетрезвом состоянии).  Каждая «<strong>целинка</strong>» индивидуальна и принадлежит конкретному бойцу,  кроме того, форменная куртка несет на себе знаки различия, шевроны, нашивки  и значки, благодаря чему любой, кто знаком с символикой ЛСО, может легко  определить статус бойца. Таким образом, форменная одежда играет очень важную  роль в жизни студенческих отрядов. </p>
						<p class="align-justify">Культурное богатство студенческих отрядов, их несгибаемый дух романтики,  творческая одаренность всегда являлись предметами восхищения. Незыблемыми  остаются традиции свердловского областного студенческого Отряда, такие как  конкурс коллективов художественной самодеятельности (агитбригад), конкурс  кандидатов, фестивали «Звездный» и «Целинный», областной слет студенческих  отрядов и многое-многое другое. Особое место в данном ряду занимает фестиваль  самодеятельной авторской песни «<strong>Знаменка</strong>». Впервые фестиваль  был проведен в 1978 г. на живописном берегу р. Пышмы на окраине села Знаменское.  Тогда в нем приняло участие три зональных отряда (Богдановичский, Красноуфимский  и Свердловский). Уже на следующий год фестиваль получил статус областного.  Сейчас же «<strong>Знаменка</strong>» считается одним из крупнейших мероприятий  подобного рода. </p>
						<p class="align-justify">Среди мероприятий, проводимых молодежным движением студенческих отрядов УрФУ  (УГТУ-УПИ), — ставшие традиционными турнир по футболу, посвященный «Дню  энергетика», конкурс инсценированной песни «Счастливый билет», полюбившаяся всем  «Карнавальная ночь» (бал-маскарад на 200 человек под новогодней елкой в фойе  нашего ДК), а также профессиональные конкурсы СО и различные соревнования между  отрядами в целом. Перед ежегодным слетом студенческих отрядов УрФУ (УГТУ-УПИ)  проходит традиционная «Неделя целинки».</p></article><article id="c494"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_04.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">Вообще, говоря о культуре и традициях студенческих отрядов, следует заметить, что каждый отряд обладает своим уникальным набором обычаев и традиций. Практически каждый отряд имеет свой индивидуальный ритуал приема кандидата и его аттестации до молодого бойца. В процессе обучения и во время выезда на свою первую «целину» молодой участник СО может неожиданно столкнуться с рядом курьезных ситуаций и неожиданных проблем, разрешение которых призвано сформировать в нем истинного бойца отряда.</p></div></div></article><article id="c495"><p class="align-justify">И это далеко не весь список культурных мероприятий. Из года в год  он постоянно пополняется, равно как растет и сила движения студенческих  отрядов.</p></article><article id="c496"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_05.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">На данный момент в составе МОО «Свердловский областной студенческий отряд» насчитывается около ста линейных студенческих отрядов, примерно треть которых состоит при УрФУ.</p></div></div></article><article id="c497"><h2>Вступление в студенческий отряд</h2>
						<p class="align-justify">Бойцами (участниками) ЛСО могут быть студенты, успешно выполнившие учебную  программу, не имеющие медицинских противопоказаний для указанных в договоре  видов работ, прошедшие обучение правилам техники безопасности и профессиональную  подготовку, признающие Устав «Свердловского областного студенческого отряда»,  Положение о линейных студенческих отрядах и Устав ЛСО. Бойцами ЛСО могут быть  также аспиранты и преподаватели учебных заведений. Как правило, ЛСО формируется  из числа студентов одного факультета одного учебного заведения и может быть  мужским, женским или смешанным. </p>
						<p class="align-justify">Прием в члены ЛСО осуществляется в индивидуальном порядке на общем собрании  ЛСО на основании личного заявления и порядка зачисления, принятого Уставом ЛСО,  после прохождения профессионального обучения и сдачи экзаменов по охране труда.  Принятым в ЛСО вручаются знаки различия Студенческого Областного Студенческого  Отряда. </p>
					<p class="align-justify">Данная статья подготовлена по материалам МОО «СОСО».</p></article></section><!--TYPO3SEARCH_end--></div>
				</div>