<div>
	<meta charset="utf-8">

	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Конкурсы и фестивали</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_0f08f266c9.css?1494053264" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100&L=1%27A%3D0">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c518"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Конкурсы и фестивали</h1></header><p class="align-justify">Межвузовский студенческий фестиваль «Весна УПИ» можно смело назвать  жемчужиной фестивального движения Урала. Впервые состоявшись в мае 1958 года,  фестиваль стал традиционным и регулярно проводится с периодичностью два раза  в пять лет. Следует заметить, что с самых своих истоков фестиваль был открытым  и привлекал гостей со всей страны. С каждым витком своей истории фестиваль  «Весна УПИ» становился все более популярным и увеличивал свои масштабы. Уже  в 2002 году фестиваль был утвержден в статусе Всероссийского и имел блок  мероприятий художественного творчества, который являлся отборочным туром  в рамках программы «Российская студенческая весна 2002».</p></article><article id="c519"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_06.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">В настоящее время в городах России проводятся студенческие фестивали разного уровня. Все они, так или иначе, способствуют всестороннему развитию личности студентов. Но их программы, как правило, включают мероприятия какого-либо одного направления студенческого творчества: художественного («Фестос», г. Москва; «Российская студенческая весна», г. Нижний Новгород), театрального («Театральные встречи», г. Екатеринбург), хорового (фестиваль хорового искусства, г. Ижевск) и т.д.. Уникальность «Весны УПИ» в том, что это единственный фестиваль в России, программа которого включает практически все основные направления студенческой жизни: художественное творчество, студенческая наука, спорт, научно-практические конференции.</p></div></div></article><article id="c520"><h2>Цели и задачи фестиваля «Весна УПИ»</h2>
						<p class="align-justify"><strong>Основной целью Межвузовского студенческого фестиваля «Весна УПИ»</strong> является сохранение и приумножение нравственных, культурных, спортивных и научных достижений студенческой молодежи; формирование активной гражданской позиции студенчества. </p>
						<h2>Задачи фестиваля:</h2><ul><li>укрепление в общественном сознании имиджа студенчества как передовой части молодежи; </li><li>популяризация различных видов и направлений творческой деятельности студентов; </li><li>выявление талантливой студенческой молодежи и создание условий для реализации её творческого потенциала; </li><li>повышение профессионального уровня творческих коллективов вузов России; </li><li>поддержка и развитие физкультурно-спортивного молодежного движения; </li><li>сохранение и приумножение традиций проведения студенческих фестивалей, научных олимпиад, конкурсов, научных молодежных школ и конференций; </li><li>реализация возможностей и дальнейшее развитие студенческого самоуправления; </li><li>развитие и укрепление профессиональных и культурных связей между творческими студенческими коллективами, молодежными организациями и учебными заведениями регионов России. </li></ul><h2 class="align-justify">&nbsp;</h2></article><article id="c521"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_07.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p>Данный фестиваль широко известен тем, что за все время своего существования он неоднократно принимал группы, которые не признавались властью и, соответственно, не могли давать официальные концерты.</p></div></div></article><article id="c522"><p class="align-justify">Но не стоит думать, что культурная жизнь УрФУ&nbsp;активизируется только на время проведения Межвузовского студенческого фестиваля. Ежегодно Дом культуры совместно с отделом по внеучебной работе и профкомом студентов принимает участие в организации и проведении более 40 различных мероприятий, таких как «День первокурсника», игры команд КВН, конкурсы «Мисс УрФУ» и «Мистер УрФУ», «Самая обаятельная студенческая семья», дебют первокурсников, спортивного бального танца, «Конкурс дураков», танцевально-развлекательных команд (дискотек), литературно-музыкальные конкурсы, выставки художественного творчества студентов, тематические танцевальные вечера, концерты и спектакли коллективов художественной самодеятельности и многие другие. </p>
						<p class="align-justify">Незыблемыми остаются и спортивные традиции университета. Наряду с интеллектуальным и духовным самосовершенствованием большое внимание в УрФУ&nbsp;уделяется и физическому развитию студентов. </p>
						<p class="align-justify">В вузе реализуется комплексная программа «Здоровье студентов». Данная программа включает в себя такие мероприятия, как «Дни здоровья институтов», спартакиада студенческих общежитий, первенство среди студентов первого курса по четырем видам спорта (проходит в рамках «Недели первокурсника») и спортивный фестиваль по пяти видам спорта.</p></article><article id="c523"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_08.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">В течение года в манеже УрФУ&nbsp;проходит множество спортивных мероприятий самых разнообразных уровней и направлений, вплоть до этапов кубка мира по скалолазанию.</p></div></div></article><article id="c524"><p class="align-justify">Настоящим торжеством спортивной жизни УрФУ&nbsp;является универсиада вуза, программа которой включает в себя 15 видов спорта: </p><ul><li>настольный теннис, </li><li>баскетбол, </li><li>легкая атлетика, </li><li>лыжи, </li><li>скалолазание, </li><li>спортивное ориентирование, </li><li>гандбол, </li><li>конькобежный спорт, </li><li>шахматы, </li><li>аэробика, </li><li>пауэрлифтинг, </li><li>футбол, </li><li>дзюдо, </li><li>бокс, </li><li>эстафета «ЗИК».</li></ul></article><article id="c525"><div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-80"><div class="csc-textpic-imagewrap"><figure class="csc-textpic-image csc-textpic-last"><img src="uploads/pics/arrowBig_09.gif" width="70" height="69"  alt=""></figure></div><div class="csc-textpic-text"><p class="align-justify">Традиционная легкоатлетическая эстафета «ЗИК» (на призы газеты «За индустриальные кадры»), посвященная Дню Победы, собирает огромное количество участников и является одним из самых популярных спортивных мероприятий.</p></div></div></article><article id="c526"><p class="align-justify">Слава о спортивной доблести УрФУ&nbsp;уже давно разнеслась за пределы нашей страны. Спортсмены нашего университета неоднократно становились призерами олимпиад и чемпионатов. </p>
					<p class="align-justify">Насыщенность и динамика жизни УрФУ&nbsp;являются отражением нового, современного подхода к воспитательной деятельности университета. Мы видим, что взят курс на всестороннее развитие человека, на воспитание и реализацию самых различных его качеств и способностей.</p></article></section><!--TYPO3SEARCH_end--></div>
				</div>