﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c392"><h2>Студенты УрФУ имеют право:</h2><ul><li>получать знания, соответствующие современному уровню развития науки, техники и культуры; </li><li>посещать все виды учебных занятий и консультаций, предусмотренные учебным планом; </li><li>принимать участие в решении важнейших вопросов деятельности УрФУ через органы его управления и общественные организации; </li><li>создавать органы самоуправления для решения вопросов студенческой жизни; </li><li>пользоваться услугами учебных, научных, социально-бытовых, лечебных, спортивно-оздоровительных и других подразделений, входящих в структуру УрФУ, его помещениями и оборудованием; </li><li>пользоваться бесплатно библиотеками и информационными фондами университета; </li><li>по решению ученого совета УрФУ проходить стажировку или специализированное обучение по индивидуальному плану в зарубежном вузе; </li><li>принимать на конкурсной основе участие во всех видах научно-исследовательских работ, в конференциях, симпозиумах, совещаниях, публиковать свои работы как в изданиях УрФУ, так и в центральной печати при наличии рекомендации научного руководителя; </li><li>по согласованию с выпускающими кафедрами и департаментами выбирать определенный набор дисциплин обучения в пределах, установленных учебным планом, получать рабочую профессию по выбранной специальности; </li><li>иногородние студенты, нуждающиеся в жилье, обеспечиваются местами в общежитии (при наличии свободных мест); </li><li>изучать за плату дополнительно любые курсы, преподаваемые в других высших учебных заведениях, включая прохождение интересующих студентов видов практики, с разрешения руководителей вузов; </li><li>досрочно или в пределах сессии сдавать экзамены и зачеты по индивидуальному расписанию при выполнении всех требований, предусмотренных учебной программой данной дисциплины; </li><li>обучаться по индивидуальным графикам, планам и программам по решению ученого совета института для получения углубленной профессиональной подготовки или для завершения обучения в сокращенные сроки без изменения обязательной программы обучения и требований к специальностям соответствующей квалификации в рамках государственных образовательных стандартов; </li><li>участвовать в разработке индивидуальных графиков, планов и программ обучения, посещать заседания кафедр, департаментов и ученых советов; </li><li>заключать индивидуальный договор (контракт) на подготовку с заинтересованными организациями для последующей работы по полученной специальности; </li><li>организовывать при УрФУ&nbsp;студенческие коммерческие организации и предприятия в установленном порядке; </li><li>переходить из УрФУ&nbsp;в другое учебное заведение в порядке, установленном Министерством образования Российской Федеpации, менять формы обучения и направления подготовки, восстанавливаться для обучения после отчисления в порядке, определенном настоящим уставом; </li><li>обжаловать приказы и распоряжения администрации УрФУ в установленном законодательством порядке. </li></ul><h2>Студенты УрФУ обязаны:</h2><ul><li>глубоко овладевать знаниями, умениями, навыками современных методов научных исследований по избранной специальности, выполнять в установленные сроки все виды заданий, предусмотренные учебным планом и программами обучения; </li><li>стремиться к повышению общей культуры, нравственному и физическому совершенству; </li><li>беречь имущество и нести в установленном порядке материальную ответственность за его порчу, соблюдать устав УрФУ и Правила внутреннего распорядка. </li></ul><p class="align-justify">За особые успехи в учебе, спортивные достижения, активное участие в научно-исследовательских и опытно-конструкторских работах, а также в общественной жизни для студентов устанавливаются различные формы морального и материального поощрения, которые определяются Правилами внутреннего распорядка УрФУ, в том числе студенты могут быть представлены к назначению стипендий Президента и Правительства Российской Федерации.</p></article></section><!--TYPO3SEARCH_end--></div>