﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c391"><p>Университет — высшее учебное заведение, которое:</p><ul><li class="align-justify">реализует образовательные программы высшего и послевузовского профессионального образования по многим направлениям подготовки (специальностям); </li><li class="align-justify">осуществляет подготовку, переподготовку и (или) повышение квалификации работников высшей квалификации, научных и научно-педагогических работников; </li><li>выполняет фундаментальные и прикладные научные исследования по широкому спектру наук; </li><li>является ведущим научным и методическим центром в области своей деятельности. </li></ul><p class="align-justify">В состав высшего учебного заведения входят кафедры и департаменты по отраслям знаний и институты&nbsp;по направлениям подготовки специалистов. </p>
					<p class="align-justify">Высшее учебное заведение может иметь филиалы, представительства, научно-исследовательские подразделения, конструкторские бюро, аспирантуру, интернатуру, ординатуру, докторантуру, структурные подразделения дополнительного профессионального образования, внеучебной и воспитательной работы, подготовительные отделения и курсы, объекты производственной и социальной инфраструктуры, общежития, клинические базы и другие структурные подразделения. </p>
					<p class="align-justify">В университете и академии в качестве структурного подразделения, осуществляющего в рамках уставной деятельности высшего учебного заведения автономную образовательную, научную либо научно-исследовательскую деятельность, могут быть созданы институт и (или) научно-исследовательский институт. </p>
					<p class="align-justify">Воспитательные задачи высшего учебного заведения, вытекающие из гуманистического характера образования, приоритета общечеловеческих и нравственных ценностей, реализуются в совместной образовательной, научной, производственной, общественной и иной деятельности обучающихся и работников. </p>
					<p>Основными задачами высшего учебного заведения являются:</p><ul><li class="align-justify">удовлетворение потребности личности в интеллектуальном, культурном и нравственном развитии посредством получения высшего и послевузовского профессионального образования; </li><li class="align-justify">удовлетворение потребности общества и государства в квалифицированных специалистах с высшим образованием и научно-педагогических кадрах высшей квалификации; </li><li class="align-justify">организация и проведение фундаментальных и прикладных научных исследований и иных научно-технических, опытно-конструкторских работ, в том числе по проблемам образования; </li><li class="align-justify">подготовка, переподготовка и повышение квалификации специалистов и руководящих работников; </li><li class="align-justify">накопление, сохранение и приумножение нравственных, культурных и научных ценностей общества; </li><li class="align-justify">распространение знаний среди населения, повышение его образовательного и культурного уровня.</li></ul><p>&nbsp;</p>
				<p>&nbsp;</p></article></section><!--TYPO3SEARCH_end--></div>