<app-header></app-header>
<div class="root-main">
  <div class="top-div">
    <div>
      <img class="logo" src="assets/img/IRIT-RTF_logo.jpeg">
    </div>
    <div class="search">
      <mat-form-field>
        <input matInput type="text" placeholder="Поисковый запрос">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="buttons">
      <mat-slide-toggle class="language-toggle">Switch to English</mat-slide-toggle>
      <button class="rtf-news" mat-raised-button color="primary">Загрузить РТФ News</button>
    </div>
  </div>
  <div class="root-slider">
    <h2 style="color:#0067B2"> Новости </h2>
    <ngb-carousel class="carousel">
      <ng-template ngbSlide class="slide">
        <img class="img" src="assets/img/main/2.png">
        <div class="carousel-caption">
          <h3>День радио</h3>
          <p>День радио 7 мая ежегодно отмечают преподаватели, студенты
            и выпускники всех радиофизических факультетов России, а также радиолюбители</p>
        </div>
      </ng-template>
      <ng-template ngbSlide class="slide">
        <img class="img" src="assets/img/main/4.jpg">
        <div class="carousel-caption">
          <h3>Заседание Ученого совета ИРИТ-РТФ</h3>
          <p>На первом заседании вручены грамоты УрФУ сотрудникам института за вклад в
            образовательную и научную деятельность по итогам 2017 г.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide class="slide">
        <img class="img" src="assets/img/main/6.jpeg">
        <div class="carousel-caption">
          <h3>Отладочные комплекты в подарок</h3>
          <p>В рамках Университетской Программы фирмы STMicroelectronics департамент радиоэлектроники
            и связи получил в подарок 15 отладочных комплектов STM32F767 Nucleo-144.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="root-specs">
    <div class="section">
      <strong>Дневная, заочная</strong> <br>
       и <strong>ускоренная</strong> форма обучения
    </div>
    <div class="section">
      <strong>Бюджетные</strong><br>
      и <strong>контрактные</strong> места
    </div>
    <div class="section">
      <strong>Гибкий график<br> учебы</strong> и <strong>отсрочка</strong> от армии
    </div>
  </div>
  <div class="root-inst-info">
    <img class="info-img" src="assets/img/main/Sloy_56.png">
    <div class="info-text">
      В настоящее время в ИРИТ-РтФ обучается более<br> <strong>2000</strong> студентов,
      работает <strong>214</strong> преподавателей,<br> среди которых <strong>14</strong>
      академиков<br> и членов-корреспондентов различных академий наук,<br>
      <strong>27</strong> докторов и <strong>127</strong> кандидатов наук.
    </div>
  </div>

  <div class="calendar">

    <a class="circle biggest-circle first" [routerLink]=news[0].url>
      <div class="circle overlay"></div>
      <div class="circle text">
        <strong>{{ news[0].date }}</strong>
        <hr>
        {{ news[0].title }}
      </div>
      <img [src]=news[0].img>
    </a>

    <div class="line l1"></div>

    <a class="circle middle-circle second" [routerLink]=news[1].url>
      <div class="circle overlay"></div>
      <div class="circle text">
        <strong>{{ news[1].date }}</strong>
        {{ news[1].title }}
      </div>
      <img [src]=news[1].img>
    </a>

    <div class="line l2"></div>

    <a class="circle big-circle third" [routerLink]=news[2].url>
      <div class="circle overlay"></div>
      <div class="circle text">
        <strong>{{ news[2].date }}</strong>
        <hr>
        {{ news[2].title }}
      </div>
      <img [src]=news[2].img>
    </a>

    <div class="line l3"></div>

    <a class="circle biggest-circle fourth" [routerLink]=news[3].url>
      <div class="circle overlay"></div>
      <div class="circle text">
        <strong>{{ news[3].date }}</strong>
        <hr>
        {{ news[3].title }}
      </div>
      <img [src]=news[3].img>
    </a>

    <div class="line l4"></div>

    <a class="circle small-circle fifth" [routerLink]=news[4].url>
      <div class="circle overlay"></div>
      <div class="circle text">
        <strong>{{ news[4].date }}</strong>
        {{ news[4].title }}
      </div>
      <img [src]=news[4].img>
    </a>

    <div class="line l5"></div>

    <a class="circle small-circle sixth" [routerLink]=news[5].url>
      <div class="circle overlay"></div>
      <div class="circle text">
        <strong>{{ news[5].date }}</strong>
        {{ news[5].title }}
      </div>
      <img [src]=news[5].img>
    </a>

  </div>
</div>
<app-footer></app-footer>
