.top-div {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  height: 160px;
}

.logo {
  height: 160px;
  margin-left: 50px;
  bottom: 0;
}
.buttons {
  display: flex;
  flex: 0 0;
  flex-direction: column !important;
  margin-right: 50px;
  position: absolute;
  right: 0;
  width: 15%;
  bottom: 0;
}
.search {
  position: absolute;
  left: 45%;
  width: 150px;
  bottom: 0;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
}
.rtf-news {
  margin-top: 50px;
  background-color: #0067B2;
  color: white;
}
mat-slide-toggle ::ng-deep .mat-disabled{
  background-color: #0067B2 !important;
}

.mat-checked ::ng-deep  .mat-slide-toggle-thumb {
  background-color: #0067B2 !important;
}
.mat-checked ::ng-deep .mat-slide-toggle-bar  {
  background-color: rgba(1,104,181,.5) !important;
}
.slide {

}
.root-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 150px;
}
.carousel {

}
.root-specs {
  background-color: #0067B2;
  color: white;
  height: 250px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;

}
.section {
  margin-right: 50px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border-right: 1px white double;
  font-size: 26px;
}
.section:last-of-type {
  border-right: none;
}

.img {
  width: 555px;
  height: 450px;
}

.root-inst-info {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 100px;
  white-space: nowrap;
}
.info-img {
  width: 150px;
  height: 125px;
  margin-right: 25px;
}
.info-text {
  color: #0067B2;
  font-size: 20px;
}

.calendar {
  display: grid;
  grid-template-columns: 300px 230px 170px 130px 200px;
  grid-template-rows: 50px 250px 130px 160px;
  margin: 0 auto 100px auto;
  width: 90%;
}

@keyframes floating {
  0% {
    transform: translate(0%,0%);
  }
  25% {
    transform: translate(3%,5%);
  }
  50% {
    transform: translate(4%,3%);
  }
  75% {
    transform: translate(0%,5%);
  }
  100% {
    transform: translate(0%,0%);
  }
}
.circle {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  animation: floating infinite ease-in-out;
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.circle:hover {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.circle:hover .overlay {
  opacity: 1;
}

.circle:hover .text {
  opacity: 1;
  z-index: 1;
}

.overlay {
  position: absolute;
  background: rgba(00,103,178,.82);
  width: inherit;
  height: inherit;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  padding: 10px;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

hr {
  border: solid 1px #fff;
  width: 40px;
}

.biggest-circle {
  width: 270px;
  height: 270px;
}

.biggest-circle img {
  height: 270px;
}

.big-circle {
  width: 250px;
  height: 250px;
}

.big-circle img {
  height: 250px;
}

.middle-circle {
  width: 190px;
  height: 190px;
}

.middle-circle img {
  height : 190px;
}

.small-circle {
  width: 160px;
  height: 160px;
}

.small-circle img {
  height: 160px;
}

.first {
  grid-row: 2;
  grid-column: 1;
  animation-duration: 15s;
  animation-direction: reverse;
}

.second {
  grid-row: 1 / 2;
  grid-column: 2;
  justify-self: end;
  animation-duration: 13s;
}

.third {
  grid-row: 3 / 4;
  grid-column: 3;
  animation-duration: 14s;
  animation-direction: reverse;
}

.fourth {
  grid-row: 1;
  grid-column: 5;
  animation-duration: 12s;
}

.fifth {
  grid-row: 1;
  grid-column: 4;
  justify-self: end;
  animation-duration: 13s;
  animation-direction: reverse;
}

.sixth {
  grid-row: 4;
  grid-column: 2;
  animation-duration: 12s;
  animation-direction: reverse;
}


.line {
  height: 3px;
  width: 360px;
  background: #0067B2;
  z-index: -1;
}

.l1 {
  grid-row: 2;
  grid-column: 2;
  justify-self: end;
  align-self: center;
  width: 380px;
  transform: rotate(-25deg);
}

.l2 {
  grid-row: 2;
  grid-column: 3;
  align-self: end;
  justify-self: center;
  transform: rotate(55deg);
}

.l3 {
  grid-row: 3;
  grid-column: 4;
  align-self: center;
  justify-self: center;
  transform: rotate(-45deg);
}

.l4 {
  grid-row: 2;
  grid-column: 5;
  justify-self: center;
  align-self: center;
  transform: rotate(30deg);
  width: 270px;
}

.l5 {
  grid-row: 4;
  grid-column: 3;
  justify-self: end;
  align-self: center;
  transform: rotate(-10deg);
  width: 280px;
}
