﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c1345"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">О Секции</h1></header><p style="text-align:justify;text-indent:35.45pt">&nbsp;</p>
						<p style="text-align:justify;text-indent:35.45pt">Секция иностранного языка ИРИТ-РтФ УрФУ существует с 2007 года. Обучает иностранным языкам (английскому и немецкому) бакалавров/специалистов ИРИТ в течение 3,5 лет, магистрантов – 1 год, а также аспирантов – 1 год.</p>
						<p style="text-align:justify;text-indent:35.45pt">Учебный план включает следующие дисциплины: «Иностранный язык», «Иностранный язык специальности», «Иностранный язык для научных целей». В рамках обучения иностранному языку реализуется междисциплинарный проект «Иностранный язык специальности». Работа над проектом проводится в 5-7 семестрах у бакалавров/специалистов и 1-2 семестрах у магистрантов. Руководство проектом осуществляется руководителями образовательных программ ИРИТ-РтФ и преподавателями иностранных языков.</p>
						<p style="text-align:justify;text-indent:35.45pt">При обучении английскому языку осуществляется уровневый подход, когда педагоги выстраивают обучение согласно компетенциям, которыми уже владеет конкретный студент (или должен владеть для успешного освоения программы). По результатам входного тестирования определяется уровень владения английским языком (по системе стандартов «Common European Framework of Reference – CEFR», или «Общеевропейские компетенции владения иностранным языком»): <span lang="EN-US">A</span>0 – начальный 1, <span lang="EN-US">A</span>1– начальный 2, <span lang="EN-US">A</span>2 – базовый 1, <span lang="EN-US">B</span>1 – базовый 2, <span lang="EN-US">B</span>2 – базовый 3, <span lang="EN-US">C</span>1 – продвинутый 1, <span lang="EN-US">C</span>2 – продвинутый 2. </p>
					<p style="text-align:center">В процессе обучения студентов готовят к сдаче международных экзаменов по английскому языку: <span lang="EN-US">Cambridge</span> KET (A2), PET (B1), FCE (B2+), CAE (C1), CPE (C2).<b></b></p></article></section><!--TYPO3SEARCH_end--></div>