﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c638"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Учебная литература</h1></header><p>&nbsp;</p>
						<p style="text-align:justify"><b>Учебно-методическая литература, используемая для обучения английскому языку:</b></p>
						<p>&nbsp;</p>
						<p><b>1-2 курс</b></p><ul><li class="align-justify"><span lang="EN-US"></span><b>«</b><b><span lang="EN-US">Language</span><span lang="EN-US"> </span></b><b><span lang="EN-US">Leader</span>»</b> - курс английского, сочетающий в себе богатое информационное содержание и систематическую работу по развитию аналитических навыков и коммуникативной компетенции, которые необходимы для сдачи международных экзаменов по английскому языку. Скачать электронную версию <span lang="EN-US">Language</span><span lang="EN-US"> </span><span lang="EN-US">Leader</span><span lang="EN-US"> </span><span lang="EN-US">Int</span>. и <span lang="EN-US">Language Leader Upper-Int.;</span></li></ul><ul><li class="align-justify"><b>«MyGrammarLab»</b> - курс по грамматике английского языка, содержащий четкие и доступные для понимания объяснения грамматических правил; аутентичные примеры, иллюстрирующие правила грамматики; разнообразные типы заданий для тренировки, закрепления и употребления грамматических форм в ситуациях общения; информацию о типичных ошибках в грамматике и произношении. Скачать электронную версию.</li></ul><p>&nbsp;</p>
						<p><b>3-4 курс</b></p><ul><li class="align-justify"><b>«Infotech. English for Computer Users»</b> - учебник по английскому языку для программистов.&nbsp;В 30 разделах содержательного и красочно оформленного учебного пособия (уровень - Upper Intermediate) изучается тот вариант английского языка, которым пользуются при профессиональном и непрофессиональном общении во всех основных областях информационных технологий и компьютерной техники, а также при беседах на общетехнические темы.&nbsp;Скачать электронную версию;</li></ul><ul><li class="align-justify"><b>«English for Academics»</b> - пособие, разработанное Британским Советом совместно с издательством "Cambridge University Press. Данное пособие (уровень Intermediate и выше)&nbsp; поможет студентам овладеть необходимыми знаниями, лексикой и коммуникативными навыками для эффективной интеграции в международное научно-образовательное пространство. Скачать электронную версию (обе части учебника); </li></ul><ul><li class="align-justify"><b>практикумы</b> для развития иноязычных компетенций, разработанные преподавателями английского языка, работающими со студентами ИРИТ-РтФ.</li></ul><hr>
						<p style="text-align:center;text-indent:35.45pt" class="align-center"><b>Дистанционное и электронное обучение:</b></p><ul><li class="align-justify">специализированный&nbsp;<a href="https://www.pearsonelt.com/myenglishlab.html" title="Внешняя ссылка открывается в новом окне" class="external-link-new-window"><b>интернет-ресурс</b> <b>«MyEnglishLab</b>»</a>, содержащий видео объяснения ключевых грамматических правил; обширную базу тестовых заданий, включая итоговые тесты на проверку усвоенного материала; дополнительные упражнения и задания к каждому разделу с автоматической проверкой и анализом ошибок; возможность тренировки произношения и возможность прослушать и проверить свои ответы к упражнениям; дополнительные упражнения для подготовки к международным экзаменам; </li></ul><ul><li class="align-justify">система дистанционного обучения УрФУ&nbsp;<b><a href="https://learn.urfu.ru/" title="Внешняя ссылка открывается в новом окне" class="external-link-new-window">«Гиперметод»</a>,</b> который включает авторские методики обучения английскому и немецкому языкам, разработанные преподавателями УрФУ.</li></ul><p>&nbsp;</p>
					<p>&nbsp;</p></article></section><!--TYPO3SEARCH_end--></div>