﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c1350"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Проекты</h1></header></article><article id="c1349"><p style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal"><b>Неделя иностранных языков в ИРИТ-РтФ</b></p>
						<p style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal"><b>02.04.2018 – 07.04.2018</b></p><table border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;mso-table-layout-alt:fixed;border:none;  mso-border-alt:solid black .5pt;mso-border-themecolor:text1;mso-yfti-tbllook:  1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" class="">  <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">   <td valign="top" width="130" style="width:97.55pt;border:solid black 1.0pt;   mso-border-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>Число, день   недели</b></p></td>   <td valign="top" width="416" style="width:11.0cm;border:solid black 1.0pt;   mso-border-themecolor:text1;border-left:none;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>Мероприятие</b></p></td>   <td valign="top" width="123" style="width:92.15pt;border:solid black 1.0pt;   mso-border-themecolor:text1;border-left:none;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>Время проведения</b></p></td>   <td valign="top" width="123" style="width:92.15pt;border:solid black 1.0pt;   mso-border-themecolor:text1;border-left:none;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>Место проведения</b></p></td>   <td valign="top" width="170" style="width:127.55pt;border:solid black 1.0pt;   mso-border-themecolor:text1;border-left:none;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>Ответственный</b></p></td>  </tr>  <tr style="mso-yfti-irow:1">   <td valign="top" width="130" style="width:97.55pt;border:solid black 1.0pt;   mso-border-themecolor:text1;border-top:none;mso-border-top-alt:solid black .5pt;   mso-border-top-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt" rowspan="2"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>&nbsp;</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>02.04.2018</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>понедельник</b></p></td>   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-170002, 03, 04</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">1 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-237</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Бекетова А.П., Иванова О.Р.</p></td>  </tr>  <tr style="mso-yfti-irow:2">   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-261221, 261222</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">4 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-102</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Дымова Е.Е., Морозова Н.Н.</p></td>  </tr>  <tr style="mso-yfti-irow:3">   <td valign="top" width="130" style="width:97.55pt;border:solid black 1.0pt;   mso-border-themecolor:text1;border-top:none;mso-border-top-alt:solid black .5pt;   mso-border-top-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>03.04.2018</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>вторник</b></p></td>   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-260007-260009</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">1 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-237</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Пономарева Е.В., Зарифуллина Д.П.</p></td>  </tr>  <tr style="mso-yfti-irow:4">   <td valign="top" width="130" style="width:97.55pt;border:solid black 1.0pt;   mso-border-themecolor:text1;border-top:none;mso-border-top-alt:solid black .5pt;   mso-border-top-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt" rowspan="4"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>&nbsp;</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>&nbsp;</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>&nbsp;</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>&nbsp;</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>04.04.2018</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>среда</b></p></td>   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-171223, 170024, 170034</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">1 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-203</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Уткина Д.Г.,</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Сизикова А.С.</p></td>  </tr>  <tr style="mso-yfti-irow:5">   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-261223, 260024</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">3 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-102</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Дымова Е.Е., Морозова Н.Н.</p></td>  </tr>  <tr style="mso-yfti-irow:6">   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-260001, 02, 06</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">4 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-203</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Ковалева А.Г.,</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Ткачева М.В.</p></td>  </tr>  <tr style="mso-yfti-irow:7">   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Показ фильмов-победителей видеоконференции</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">на английском языке<span lang="EN-US"> “How it works” </span>и видеоконференции <span lang="EN-US">“Technological Innovations in Marketing and Advertising”</span><span lang="EN-US"></span></p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><span lang="EN-US">&nbsp;</span></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><span lang="EN-US">&nbsp;</span></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">5 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-325</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Ковалева А.Г.,</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Анчугова О.В., Зарифуллина Д.П.,</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Курманова Д.И.</p></td>  </tr>  <tr style="mso-yfti-irow:8">   <td valign="top" width="130" style="width:97.55pt;border:solid black 1.0pt;   mso-border-themecolor:text1;border-top:none;mso-border-top-alt:solid black .5pt;   mso-border-top-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt" rowspan="2"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>&nbsp;</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>05.04.2018</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>четверг</b></p></td>   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-170008-170010</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">1 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-237</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Прокопенко Е.В., Анчугова О.В.</p></td>  </tr>  <tr style="mso-yfti-irow:9">   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-171220, 171221, 171222, 171227</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">2 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-237</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Ковалева А.Г., Иванова О.Р.</p></td>  </tr>  <tr style="mso-yfti-irow:10">   <td valign="top" width="130" style="width:97.55pt;border:solid black 1.0pt;   mso-border-themecolor:text1;border-top:none;mso-border-top-alt:solid black .5pt;   mso-border-top-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt" rowspan="4"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>&nbsp;</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>&nbsp;</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>&nbsp;</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>06.04.2018</b></p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal"><b>пятница</b></p></td>   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-170005-170007</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">1 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-203</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Бекетова А.П., Сизикова А.С.</p></td>  </tr>  <tr style="mso-yfti-irow:11">   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-170011, 170017</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">4 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-237</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Курманова Д.И., Морозова Н.Н.</p></td>  </tr>  <tr style="mso-yfti-irow:12">   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-260003-260005, 017</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">4 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-215</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Пономарева Е.В., Ткачева М.В.</p></td>  </tr>  <tr style="mso-yfti-irow:13;mso-yfti-lastrow:yes">   <td valign="top" width="416" style="width:11.0cm;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Открытый коллоквиум</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">РИ-260010, 260011, 261220</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">5 пара</p></td>   <td valign="top" width="123" style="width:92.15pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">&nbsp;</p>   <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Р-237</p></td>   <td valign="top" width="170" style="width:127.55pt;border-top:none;border-left:   none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;   border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:   solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;   mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:   text1;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;   text-align:center;line-height:normal">Анчугова О.В., Зарифуллина Д.П.</p></td>  </tr> </tbody></table></article><article id="c639"><p style="text-align:center" class="align-center">&nbsp;</p>
						<p style="text-align:center" class="align-center"><b>График постоянных мероприятий,</b></p>
						<p style="text-align:center" class="align-center"><b>проводимых секцией иностранного языка ИРИТ-РтФ</b></p>
						<p style="text-align:center" class="align-center">&nbsp;</p><table border="1" cellpadding="0" cellspacing="0" width="735" style="width:551.15pt;border-collapse:collapse;border:none;mso-border-alt: solid windowtext .5pt;mso-yfti-tbllook:480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt; mso-border-insideh:.5pt solid windowtext;mso-border-insidev:.5pt solid windowtext" class=""> <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes"> <td valign="top" width="36" style="width:27.0pt;border:solid windowtext 1.0pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="text-align:center">№ п/п</p></td> <td width="198" style="width:148.5pt;border:solid windowtext 1.0pt;border-left: none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="text-align:center">Название мероприятия</p></td> <td width="350" style="width:262.25pt;border:solid windowtext 1.0pt;border-left: none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="text-align:center">Описание мероприятия</p></td> <td width="151" style="width:4.0cm;border:solid windowtext 1.0pt;border-left: none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="text-align:center">Период проведения мероприятия</p></td> </tr> <tr style="mso-yfti-irow:1"> <td valign="top" width="36" style="width:27.0pt;border:solid windowtext 1.0pt; border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal">1.</p></td> <td valign="top" width="198" style="width:148.5pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal"><a name="_GoBack"></a>Студенческая видеоконференция на иностранном языке “How it works”</p></td> <td valign="top" width="350" style="width:262.25pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="text-align:justify">Студенты-участники конкурса представляют самостоятельно созданные короткие (до 2-х минут) тематические видеоролики на английском/немецком языке, посвященные описанию какого-либо процесса в области получаемой специальности (например, жизненный цикл продукта, процесс производства чего-либо, процесс передачи данных через Интернет, этапы создания рекламы, этапы создания/осуществления проектов в различных областях, описание юридических процессов и т. д.)</p></td> <td valign="top" width="151" style="width:4.0cm;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal">Март-апрель ежегодно</p></td> </tr> <tr style="mso-yfti-irow:2"> <td valign="top" width="36" style="width:27.0pt;border:solid windowtext 1.0pt; border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal">2.</p></td> <td valign="top" width="198" style="width:148.5pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal">Студенческая видеоконференция<span lang="EN-US"> </span></p> <p class="MsoNormal"><span lang="EN-US">“Technological Innovations in Marketing and Advertising” </span>на иностранных языках<span lang="EN-US"> </span></p> <p class="MsoNormal"><span lang="EN-US">&nbsp;</span></p></td> <td valign="top" width="350" style="width:262.25pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="text-align:justify;background:white">Студенты, принимающие участие в видеоконференции, представляют самостоятельно созданные короткие (до 1 мин.) видеоролики на английском/немецком языке на любую из предложенных тем (темы объявляются ежегодно): </p> <p class="MsoNormal" style="margin-left:11.5pt;text-align:justify;text-indent: -9.0pt;mso-list:l0 level1 lfo1;tab-stops:list 11.5pt;background:white">·&nbsp;&nbsp; Моя страна/Мой город: традиции, события, люди</p> <p class="MsoNormal" style="margin-left:11.5pt;text-align:justify;text-indent: -9.0pt;mso-list:l0 level1 lfo1;tab-stops:list 11.5pt;background:white">·&nbsp;&nbsp; Мой университет/Моя школа: традиции, события, люди</p> <p class="MsoNormal" style="margin-left:11.5pt;text-align:justify;text-indent: -9.0pt;mso-list:l0 level1 lfo1;tab-stops:list 11.5pt;background:white">·&nbsp;&nbsp; Социальная реклама</p> <p class="MsoNormal" style="margin-left:11.5pt;text-align:justify;text-indent: -9.0pt;mso-list:l0 level1 lfo1;tab-stops:list 11.5pt;background:white">·&nbsp;&nbsp; Озвучение готового видео сюжета</p> <p class="MsoNormal" style="margin-left:11.5pt;text-align:justify;text-indent: -9.0pt;mso-list:l0 level1 lfo1;tab-stops:8.65pt list 11.5pt;background:white">· Мир глазами студента</p></td> <td valign="top" width="151" style="width:4.0cm;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal">Март-апрель ежегодно</p></td> </tr> <tr style="mso-yfti-irow:3"> <td valign="top" width="36" style="width:27.0pt;border:solid windowtext 1.0pt; border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal">3. </p></td> <td valign="top" width="198" style="width:148.5pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal">Неделя науки на иностранном языке </p></td> <td valign="top" width="350" style="width:262.25pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="text-align:justify">Проведение защиты проектов по специальности 1-2 курсов в виде коллоквиума, на котором выступающие студенты представляют свой проект с мультимедийной презентацией на английском/немецком языке.</p></td> <td valign="top" width="151" style="width:4.0cm;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal">Март-апрель ежегодно</p></td> </tr> <tr style="mso-yfti-irow:4;mso-yfti-lastrow:yes"> <td valign="top" width="36" style="width:27.0pt;border:solid windowtext 1.0pt; border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal">4.</p></td> <td valign="top" width="198" style="width:148.5pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal">Международная конференция <span class="s1">«Язык в сфере профессиональной коммуникации»</span></p></td> <td valign="top" width="350" style="width:262.25pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="p13" style="text-align:justify">Приглашаются студенты, магистранты и аспиранты принять участие в традиционной конференции, организуемой кафедрой иностранных языков и перевода, по результатам которой будет опубликован электронный сборник научных статей с индексацией в <span class="s2">РИНЦ</span>.&nbsp; Статьи принимаются на <span class="s2">английском, немецком, французском</span> языках. Для иностранных граждан – возможно на <span class="s2">русском</span> языке. Объем статьи 3-5 страниц. Срок подачи статей до <span class="s2">31 января.</span></p></td> <td valign="top" width="151" style="width:4.0cm;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal">Апрель ежегодно</p></td> </tr> </tbody></table><p>&nbsp;</p>
						<p>&nbsp;</p>
					<p>&nbsp;</p></article></section><!--TYPO3SEARCH_end--></div>