﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c637"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Преподавательский состав</h1></header><p>&nbsp;</p>
						<p><b>Руководитель секции:</b>
</p>
						<p>Кандидат пед. наук,&nbsp; доцент Ковалева А.Г.
</p>
						<p>&nbsp;<img height="311" width="600" style="padding-left: 10px; padding-bottom: 5px;" src="uploads/RTEmagicC_na_sait.jpg.jpg" alt="">
</p>
					<p style="text-align:justify"><b>Преподавательский состав:</b></p><table border="0" cellpadding="0" cellspacing="0" width="668" class="" style="width:501.3pt;margin-left:12.5pt;border-collapse:collapse;mso-padding-alt: 0cm 5.4pt 0cm 5.4pt"> <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid windowtext 1.5pt; padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal"><b>ФИО преподавателя</b></p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid windowtext 1.5pt; padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal"><b>Должность</b></p></td> <td width="190" valign="bottom" style="width:142.5pt;border:none; border-bottom:solid windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal" style="text-align:center"><b>Корпоративный почтовый адрес</b></p></td> <td width="102" valign="bottom" style="width:76.8pt;border-top:none; border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid white 1.0pt; mso-border-right-themecolor:background1;mso-border-bottom-alt:solid windowtext 1.5pt; mso-border-right-alt:solid white .5pt;mso-border-right-themecolor:background1; padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal" style="text-align:center"><b>Номер телефона</b></p></td> </tr> <tr style="mso-yfti-irow:1;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid windowtext 1.5pt;mso-border-top-alt:solid windowtext 1.5pt; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Анчугова Ольга Вячеславовна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid windowtext 1.5pt;mso-border-top-alt:solid windowtext 1.5pt; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Старший преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid windowtext 1.5pt;mso-border-top-alt:solid windowtext 1.5pt; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">O.V.Anchugova@urfu.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid windowtext 1.5pt; mso-border-top-alt:solid windowtext 1.5pt;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; background:#E7E6E6;mso-background-themecolor:background2;padding:0cm 5.4pt 0cm 5.4pt; height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:2;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Бекетова Анна Павловна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Старший преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">annishuara@ya.ru </p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:3;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Бурдакова Екатерина Сергеевна</p></td> <td width="117" valign="top" style="width:87.7pt;border:none;border-bottom: solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade: 191;mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">e.s.burdakova@urfu.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; background:#E7E6E6;mso-background-themecolor:background2;padding:0cm 5.4pt 0cm 5.4pt; height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:4;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Дымова Елена Евгеньевна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">кандидат пед. наук, доцент</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">dymovaee@mail.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:5;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Зарифуллина Дарья Павловна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Старший преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">D.P.Efremova@urfu.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; background:#E7E6E6;mso-background-themecolor:background2;padding:0cm 5.4pt 0cm 5.4pt; height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:6;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Иванова Ольга Радиевна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Старший преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">o.r.ivanova@urfu.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:7;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Ковалева Александра Георгиевна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">кандидат пед. наук, доцент</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">AG.Kovaleva@urfu.ru, kovalka73@mail.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; background:#E7E6E6;mso-background-themecolor:background2;padding:0cm 5.4pt 0cm 5.4pt; height:13.2pt"><p class="MsoNormal">89122450982</p></td> </tr> <tr style="mso-yfti-irow:8;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Курманова Диляра Ильшатовна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Преподаватель - лектор</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">diliara.kurmanova@urfu.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:9;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Морозова Нина Николаевна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">n.n.morozova@urfu.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; background:#E7E6E6;mso-background-themecolor:background2;padding:0cm 5.4pt 0cm 5.4pt; height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:10;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Платонова Светлана Владиславовна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Старший преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">s.v.platonova@urfu.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:11;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Пономарева Елена Владиславовна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Старший преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">helen-ponomareva@mail.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; background:#E7E6E6;mso-background-themecolor:background2;padding:0cm 5.4pt 0cm 5.4pt; height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:12;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Прокопенко Елена Валерьевна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Старший преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">E.V.Prokopenko@urfu.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:13;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Сизикова Анастасия Сергеевна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">a.s.sizikova@urfu.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; background:#E7E6E6;mso-background-themecolor:background2;padding:0cm 5.4pt 0cm 5.4pt; height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:14;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Ткачева Марина Викторовна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Старший преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">m.v.tkacheva@urfu.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border:none; border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> <tr style="mso-yfti-irow:15;mso-yfti-lastrow:yes;height:13.2pt"> <td width="259" style="width:194.3pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Уткина Дарья Геннадьевна</p></td> <td width="117" style="width:87.7pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">Старший преподаватель</p></td> <td width="190" style="width:142.5pt;border:none;border-bottom:solid #BFBFBF 1.0pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-bottom-alt:solid #BFBFBF .5pt;mso-border-bottom-themecolor:background1; mso-border-bottom-themeshade:191;background:#E7E6E6;mso-background-themecolor: background2;padding:0cm 5.4pt 0cm 5.4pt;height:13.2pt"><p class="MsoNormal">d.g.utkina@urfu.ru</p></td> <td width="102" valign="bottom" style="width:76.8pt;border-top:none; border-left:none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor: background1;mso-border-bottom-themeshade:191;border-right:solid white 1.0pt; mso-border-right-themecolor:background1;mso-border-top-alt:solid #BFBFBF .5pt; mso-border-top-themecolor:background1;mso-border-top-themeshade:191; mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1; mso-border-top-themeshade:191;mso-border-bottom-alt:solid #BFBFBF .5pt; mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:191; mso-border-right-alt:solid white .5pt;mso-border-right-themecolor:background1; background:#E7E6E6;mso-background-themecolor:background2;padding:0cm 5.4pt 0cm 5.4pt; height:13.2pt"><p class="MsoNormal">&nbsp;</p></td> </tr> </tbody></table></article></section><!--TYPO3SEARCH_end--></div>