<div>
  <mat-dialog-content class="content">
    <img class="modal-image" src="{{data.img}}" />
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onCloseConfirm()">Закрыть</button>&nbsp;
  </mat-dialog-actions>
</div>
