<app-header></app-header>
  <app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Интересное!'" [subtitle]="'Из буклета УрФУ 2014'" [url]="'assets/other-pages/abiturient/абитуриенту'"></app-cards>
  <app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Направление подготовки'" [subtitle]="'Бакалавриат 3,5 года'" [url]="'assets/other-pages/abiturient/бакалавр3.5года'"></app-cards>
  <app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Направление подготовки'" [subtitle]="'Бакалавриат 4 года'" [url]="'assets/other-pages/abiturient/бакалавр4года'"></app-cards>
  <app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Направление подготовки'" [subtitle]="'Магистратура 2 года'" [url]="'assets/other-pages/abiturient/магистратура2года'"></app-cards>
  <app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Направление подготовки'" [subtitle]="'Специалитет 5,5 лет'" [url]="'assets/other-pages/abiturient/специалитет5.5лет'"></app-cards>

<app-footer></app-footer>
