<app-header></app-header>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'БРС'" [subtitle]="'Бально рейтинговая система'" [url]="'assets/other-pages/student/BRS'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Учебные материалы'" [subtitle]="'Учебные материалы для студентов'" [url]="'assets/other-pages/student/materials'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Поселение в общежитие'" [subtitle]="'Информация о поселении в общежитие'" [url]="'assets/other-pages/student/students_hostel'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Списки групп 1 курса'" [subtitle]="'Инофрмация о списках групп 1 курса'" [url]="'assets/other-pages/student/freshmen_groups_lists'"></app-cards>

  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Очное обучение'" [subtitle]="'График контрольных мероприятий для первого курса'" [url]="'assets/other-pages/student/ochn/freshmen_tests_schedule'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Очное обучение'" [subtitle]="'Отдел по работе со студентами'" [url]="'assets/other-pages/student/ochn/work_with_students_department'"></app-cards>

  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Заочное обучение'" [subtitle]="'Объявления'" [url]="'assets/other-pages/student/zaochn/announcements'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Заочное обучение'" [subtitle]="'Консультации'" [url]="'assets/other-pages/student/zaochn/consultations'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Заочное обучение'" [subtitle]="'Контакты'" [url]="'assets/other-pages/student/zaochn/contacts'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Заочное обучение'" [subtitle]="'Расписание экзаменов'" [url]="'assets/other-pages/student/zaochn/exams_schedule'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Заочное обучение'" [subtitle]="'Методологическое обучение'" [url]="'assets/other-pages/student/zaochn/methodological'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Заочное обучение'" [subtitle]="'Рабочие и учебные планы'" [url]="'assets/other-pages/student/zaochn/work_plans'"></app-cards>

  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Права и обязаности'" [subtitle]="'Студенты'" [url]="'assets/other-pages/student/prava_i_ob/student'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Права и обязаности'" [subtitle]="'Основные задачи ВУЗа'" [url]="'assets/other-pages/student/prava_i_ob/university'"></app-cards>

  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Секция иностранных языков'" [subtitle]="'О секции'" [url]="'assets/other-pages/student/in_yaz/about_section'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Секция иностранных языков'" [subtitle]="'Преподавательский состав'" [url]="'assets/other-pages/student/in_yaz/teachers'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Секция иностранных языков'" [subtitle]="'Проекты'" [url]="'assets/other-pages/student/in_yaz/projects'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Секция иностранных языков'" [subtitle]="'Учебная литература'" [url]="'assets/other-pages/student/in_yaz/literature'"></app-cards>

  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Дополнительное профессиональное образование'" [subtitle]="'Контакты'" [url]="'assets/other-pages/student/dop/contacts'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Дополнительное профессиональное образование'" [subtitle]="'Программы ДПО'" [url]="'assets/other-pages/student/dop/programmes'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Дополнительное профессиональное образование'" [subtitle]="'Расписание проведения курсов повышения квалификации'" [url]="'assets/other-pages/student/dop/courses_schedule'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'"[title]="'Дополнительное профессиональное образование'" [subtitle]="'Информация о прошедших курсах'" [url]="'assets/other-pages/student/dop/past_courses_info'"></app-cards>
<app-footer></app-footer>

