<app-header></app-header>

<div>
  <app-cards [img]="'assets/img/main/1.jpg'" [title]="'Выпускники-отличники'" [subtitle]="'Выпускники-отличники'" [url]="'assets/other-pages/not-stud/Alumni-best_students'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'" [title]="'Газета РТФ'" [subtitle]="'Газета РТФ'" [url]="'assets/other-pages/not-stud/Newspaper_rtf'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'" [title]="'Конкурсы и фестивали'" [subtitle]="'Конкурсы и фестивали'" [url]="'assets/other-pages/not-stud/Сompetitions_and_festivals'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'" [title]="'Праздники и мероприятия'" [subtitle]="'Праздники и мероприятия'" [url]="'assets/other-pages/not-stud/Holidays_and_events'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'" [title]="'Профсоюзная организация'" [subtitle]="'Профсоюзная организация'" [url]="'assets/other-pages/not-stud/Prof_union_org'"></app-cards>
  <app-cards [img]="'assets/img/main/1.jpg'" [title]="'Студенческие отряды'" [subtitle]="'Студенческие отряды'" [url]="'assets/other-pages/not-stud/Students_squads'"></app-cards>
</div>

<app-footer></app-footer>
