<mat-tab-group>
  <mat-tab label="1 курс">
    <embed  src="assets/schedule/1course/ochn1.htm" width="500" height="500">
  </mat-tab>
  <mat-tab label="2 курс">
    <iframe src="assets/schedule/2course/ochn2.xlsx" width="500" height="500"></iframe>
  </mat-tab>
  <mat-tab label="3 курс">
    <iframe src="assets/schedule/3course/ochn3.xlsx" width="500" height="500"></iframe>
  </mat-tab>
  <mat-tab label="4+5 курс">
    <iframe src="assets/schedule/4course/ochn4.pdf" width="500" height="500"></iframe>
  </mat-tab>
</mat-tab-group>
