<mat-tab-group>
  <mat-tab label="Новости">
    <app-news-comp></app-news-comp>
  </mat-tab>
  <mat-tab label="Тексты">
    <app-texts></app-texts>
  </mat-tab>
  <mat-tab label="Банеры">
    <app-banners></app-banners>
  </mat-tab>
</mat-tab-group>
