<div class="wrapper">
  <div class="central">
    <div class="cards">
      <mat-card>
        <a [routerLink]="['/page', url]">
          <img mat-card-image [src]="img">
          <mat-card-title>{{title}}</mat-card-title>
          <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
          <!-- <mat-card-content>{{card.content}}</mat-card-content> -->
        </a>
      </mat-card>
    </div>
  </div>
</div>
