.h1c {
  display: inline-block;
  background-color: #0067B2;
  padding: 0 0.5em;
  line-height: 5em;
  height: 4em;
  text-align: center;
  vertical-align: central;
  color: white;
}

h1 {
  display: inline;
}

.h1b {
  display: inline-block;
  border-left: 35px solid transparent;
  border-bottom: 4em solid #0067B2;
  vertical-align: top;
}

.h1a {
  display: inline-block;
  border-right: 35px solid transparent;
  border-top: 4em solid #0067B2;
  vertical-align: top;
}

.pageTitle {
  padding: 1.5em 0;
}

.wrapper {
  padding: 1.5em 2em 4em;
  font-family: Corbel;
  line-height: 1.2;
  background-color: whitesmoke;
}

.central {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  padding: 0 2em 2em 0;
  flex-grow: 4;
  max-width: 70em;
}

.cards {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-card {
  max-width: 20em;
  margin: 0 0.3em 1.5em;
}

mat-card img {
  height: 13em;
  padding: 1em 1em 0.5em;
}

@media (max-width: 750px) {
  mat-card img {
    display: none;
  }

  mat-card-title {
    font-size: medium;
  }

  .h1a {display: none}
  .h1b {display: none}
}

mat-card a {
  text-decoration: none;
}

mat-card-title {
  font-weight: bolder;
}

mat-card-content {
  color: #313439;
}
