﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c1248"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Списки групп 1 курс</h1></header><p>Бакалавриат:
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170002.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170002</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170003.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170003</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170004.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170004</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170005.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170005</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170006.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170006</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170007.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170007</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170008.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170008</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170009.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170009</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170010.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170010</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170011.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170011</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170012.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170012</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170013.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170013</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170014.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170014</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170015.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170015</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170017.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170017</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170018.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170018</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170019.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170019</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-170024.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-170024</a>
</p>
						<p>&nbsp;</p>
						<p>Специалитет:
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-171220.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-171220</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-171221.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-171221</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-171222.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-171222</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RI-171223.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-171223</a>
</p>
						<p>&nbsp;</p>
						<p>Магистратура:
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171201.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171201</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171202.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171202</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171204.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171204</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171205.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171205</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171206.rtf" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171206</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171207.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171207</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171208.rtf" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171208</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171209.rtf" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171209</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171210.rtf" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171210</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171211.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171211</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171212.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171212</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171213.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171213</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171214.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171214</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171215.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171215</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171218.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171218</a>
</p>
						<p><a href="fileadmin/Dokumenty/Spiski_grup_1_kurs/RIM-171226.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИМ-171226</a>
</p>
						<p>&nbsp;</p>
					<p>&nbsp;</p></article></section><!--TYPO3SEARCH_end--></div>