﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c613"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Материалы для скачивания:</h1></header><p><a href="fileadmin/Dokumenty/Obshee/Prikaz_po_osnovnoi_dejatelnosti_No_0944_03_ot_13.11.2017__O_vvedenii_trebovanii_k_VKR___1253498_v2_.pdf" title="Начинается скачивание файла" class="download"><br></a>
</p>
						<h1><a href="fileadmin/Dokumenty/Obshee/Prikaz_po_osnovnoi_dejatelnosti_No_0944_03_ot_13.11.2017__O_vvedenii_trebovanii_k_VKR___1253498_v2_.pdf" title="Начинается скачивание файла" class="download"><b>!!!Требования к выпускным квалификационным работам (бакалавр, специалист, магистр) от 13.11.2017г.</b></a></h1>
						<p>&nbsp;</p>
						<p><b><a href="fileadmin/Dokumenty/Obshee/Algebra__geometrija_i_TDU.rar" title="Начинается скачивание файла" class="download">1. Алгебра, геометрия и ТДУ</a></b>
</p>
						<p><b><a href="fileadmin/Dokumenty/Obshee/Matematicheskii_analiz_1_semestr_IRIT-RTF.rar" title="Начинается скачивание файла" class="download">2. Математический анализ 1 семестр</a></b>
</p>
						<p><a href="fileadmin/Dokumenty/Obshee/Matem.analiz_2.rar" title="Начинается скачивание файла" class="download"><b>3. Математический анализ 2 семестр</b></a>
</p>
						<p><a href="fileadmin/Dokumenty/Obshee/IDZ_teorija_verojatnostei_.pdf" title="Начинается скачивание файла" class="download"><b>4. Теория вероятностей и математическая статистика</b></a>
</p>
						<p><a href="fileadmin/Dokumenty/Obshee/Algebra__geometrija_i_TDU_2_semestr.rar" title="Начинается скачивание файла" class="download"><b>5. ИДЗ по алгебре</b></a>
</p>
						<p><a href="fileadmin/Dokumenty/Obshee/paral_vychisl.doc" title="Начинается скачивание файла" class="download"><b>6. Учебное пособие "Параллельные вычисления" Акимова Е.Н.</b></a>
</p>
						<p><b><a href="fileadmin/Dokumenty/Obshee/Fortran_osnovy.doc" title="Начинается скачивание файла" class="download">7. Учебное пособие "Основы программирования на языке&nbsp;Фортран" Акимова Е.Н.</a></b>
</p>
						<p><a href="fileadmin/Dokumenty/Obshee/IDZ_No1_Vvedenie_v_analiz.docx" title="Начинается скачивание файла" class="download"><b>8. ИДЗ №1 Введение в анализ</b></a>
</p>
						<p><a href="fileadmin/Dokumenty/Obshee/Raschetno-graficheskaja_rabota.docx" title="Начинается скачивание файла" class="download"><b>9. Исследование функции . Сборник расчетно-графических работ</b></a>
</p>
						<p><b><a href="fileadmin/Dokumenty/Obshee/Kursovaja_rabota_po_OTC.pdf" title="Начинается скачивание файла" class="download">10. Курсовая работа по ОТЦ</a></b>
</p>
					<p><b><a href="fileadmin/Dokumenty/Obshee/IDZ_Teorija_verojatnostei.pdf" title="Начинается скачивание файла" class="download">11. ИДЗ Теория вероятностей</a></b></p></article></section><!--TYPO3SEARCH_end--></div>