﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c775"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Поселение в общежитие</h1></header><p>&nbsp;</p>
						<p>Ответственный за поселение:
</p>
						<p><b>Гусев Олег Александрович</b>, 
</p>
						<p>Зам. директора по общим вопросам 
</p>
						<p>E-mail: gusev.rtf@yandex.ru 
</p>
						<p>тел.: 8 (343) 375-97-03 
</p>
						<p>&nbsp;</p>
						<p><b>Курочкина Марина Сергеевна</b> 
</p>
						<p>E-mail:<a href="https://e.mail.ru/compose/?mailto=mailto%3am.s.kurochkina@urfu.ru" target="_blank">m.s.kurochkina@urfu.ru</a><br> тел.: 8 (343) 375-48-99
</p>
						<p style="margin-top: 0px; margin-bottom: 0px; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 16px;"><strong></strong></p>
						<p><strong>Рабочее время с 9.00 до 17.00</strong>
</p>
						<p><strong>Обед с 12.15 до 13.30</strong>
</p>
						<hr>
						<p style="margin-top: 0px; margin-bottom: 0px; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 16px;"><strong></strong></p></article><article id="c774"><h1 style="mso-margin-top-alt:auto;margin-bottom: 0cm;margin-bottom:.0001pt;text-align:center;line-height:normal">&nbsp;</h1>
						<p>График поселения на&nbsp;2017/2018 уч.г.
</p>
						<p>ЗАЯВЛЕНИЯ&nbsp;<u><strong>НА&nbsp;ПЕРЕСЕЛЕНИЕ</strong></u> ИЗ КОМНАТЫ В КОМНАТУ&nbsp;БУДУТ ПРИНИМАТЬСЯ <u><strong>ТОЛЬКО&nbsp;</strong></u>ПОСЛЕ&nbsp;<strong><u>25 СЕНТЯБРЯ</u></strong></p></article><article id="c859"><hr>
						<p>Общежитие — это не место временного пребывания, а ваш «второй дом» на время обучения в вузе. Относитесь к нему бережно и внимательно!
</p>
						<p>В каждом общежитии действует Совет студенческого корпуса — орган студенческого самоуправления. Активно принимайте участие в его работе! 
</p>
						<p style="text-align: justify;">Заселение студентов <b>1 курса</b> производится на места, освобожденные студентами последних курсов обучения, а также на иные свободные места.</p>
						<p style="text-align: justify;">Распределение мест в общежитии строго в следующей очередности, в соответствии с приказом о поселении.</p><ul type="disc"><li class="MsoNormal" style="text-align: justify;">лицам, указанными в части 5 статьи 36 и части 4 статьи 39 Федерального закона «Об образовании в Российской Федерации» (в т.ч. детям-сиротам и детям, оставшимся без попечения родителей, детям-инвалидам, инвалидам <span lang="EN-US">I</span><span lang="EN-US"> </span>и <span lang="EN-US">II</span> групп, инвалидам с детства, студентам подвергшимся воздействию радиации вследствие катастрофы на Чернобыльской АЭС и иных радиационных катастроф, вследствие ядерных испытаний на Семипалатинском полигоне);</li><li class="MsoNormal" style="text-align: justify;">лицам, принимающим участие в локальных конфликтах; воинам-интернационалистам;</li><li class="MsoNormal" style="text-align: justify;">именным стипендиатам, отличникам учебы;</li><li class="MsoNormal" style="text-align: justify;">лицам, активно занимающимся научной работой;</li><li class="MsoNormal" style="text-align: justify;">лицам, активно занимающимся&nbsp; общественной работой;</li><li class="MsoNormal" style="text-align: justify;">лицам, находящимся на диспансерном учете (при предоставлении справок государственного медицинского учреждения);</li><li class="MsoNormal" style="text-align: justify;">иные категориям обучающихся;</li></ul><p style="text-align: justify;">Студентам, проживающим в 50-километровой зоне вокруг города Екатеринбурга (В.Пышма, Среднеуральск, Березовский, Полевской, Ревда, Первоуральск, Дегтярск и др.) общежитие не предоставляется.</p>
						<p style="text-align: justify;"><b>Студенты II и старших курсов будут заселены в случаях:</b></p><ul type="disc"><li class="MsoNormal" style="text-align: justify;">отсутствия академических долгов;</li><li class="MsoNormal" style="text-align: justify;">отсутствие задолженностей по оплате за проживание в общежитии;</li><li class="MsoNormal" style="text-align: justify;">отсутствия нарушений, зафиксированных управлением безопасности;</li></ul><p style="text-align: justify;">В случае, <b>если хотя бы одному из перечисленных требований студент не удовлетворяет, то он будет заселяться в индивидуальном порядке на конкурсной основе</b>. Помните, ВУЗ не может удовлетворить все заявки студентов на поселение.</p>
						<p style="text-align: justify;">Студенты, не получившие места в общежитии, могут обратиться в <a href="http://urfu.ru/ru/students/social/campus/rent-flats/" title="Внешняя ссылка открывается в новом окне" target="_top" class="external-link-new-window"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/external_link_new_window.gif" alt="Внешняя ссылка открывается в новом окне">профком студентов УрФУ</a>&nbsp;по адресу ул. Мира, 19, ауд. ГУК-309 или по телефону (343) 375-45-18 за помощью в аренде комнаты или квартиры.</p>
					<p class="align-center">&nbsp;<a href="typo3temp/pics/d9ae4ec866.png" class="t3colorbox cboxElement" data-rel="cbox859"><img height="565" width="800" src="uploads/RTEmagicC_pamyatka_zhbk_2017_1.1_01.png.png" alt=""></a> <a href="typo3temp/pics/840dbb809f.png" class="t3colorbox cboxElement" data-rel="cbox859"><img height="565" width="800" src="uploads/RTEmagicC_pamyatka_zhbk_2017_2.1.png.png" alt=""></a></p></article></section><!--TYPO3SEARCH_end--></div>