<div class="root-admin">
  <mat-tab-group>
    <mat-tab label="Просмотр и редактирование">
      <app-tab1></app-tab1>
    </mat-tab>
    <mat-tab label="Добавить расписание">
      <app-tab2></app-tab2>
    </mat-tab>
  </mat-tab-group>
</div>
