<div class="root-admin-auth">
  <form [formGroup]="authForm" class="auth-form">
    <mat-form-field>
      <input matInput type="text" placeholder="Имя пользователя" formControlName="username" id="username" >
      <mat-error *ngIf="authForm.get('username').hasError('required') && authForm.get('username').touched">
        Пожалуйста введите имя пользователя
      </mat-error>
      <mat-error *ngIf="authForm.get('username').hasError('minlength') && authForm.get('username').touched">
        Минимальная длина 4 символа
      </mat-error>
      <mat-error *ngIf="authForm.get('username').hasError('maxlength') && authForm.get('username').touched">
        Достигнута максимальная длина поля
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Пароль">
      <mat-error *ngIf="authForm.get('password').hasError('required') && authForm.get('username').touched">
        Пожалуйста введите пароль
      </mat-error>
      <mat-error *ngIf="authForm.get('password').hasError('minlength') && authForm.get('username').touched">
        Минимальная длина пароля 4 символа
      </mat-error>
      <mat-error *ngIf="authForm.get('password').hasError('maxlength') && authForm.get('username').touched">
        Достигнута максимальная длина поля
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="validError">
      {{validError}}
    </mat-error>
    <input type="submit" (click)="initAuth()">
  </form>
</div>
