<app-header></app-header>
<app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Конференции ИРИТ-РТФ'" [subtitle]="'Ежегодные конфееренции ИРИТ-РТФ'" [url]="'assets/other-pages/science/conference.irit'"></app-cards>
<app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Совет молодых ученых'" [subtitle]="'Молодые ученые ИРИТ-РТФ'" [url]="'assets/other-pages/science/councilt.scientists'"></app-cards>
<app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Монографии'" [subtitle]="'Научный труд студентов и преподавателей'" [url]="'assets/other-pages/science/monographs'"></app-cards>
<app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Патенты'" [subtitle]="'Патенты студентов и преподавателей'" [url]="'assets/other-pages/science/patents'"></app-cards>
<app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Основные результаты НИР'" [subtitle]="'Результаты Научно-Исследовательных работ'" [url]="'assets/other-pages/science/results.nir'"></app-cards>
<app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Научные проекты'" [subtitle]="'Научные проекты студентов и преподавателей'" [url]="'assets/other-pages/science/science.project'"></app-cards>
<app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Научно-Образовательный центр'" [subtitle]="'Scientific Education Center'" [url]="'assets/other-pages/science/scientific.educational.center'"></app-cards>
<app-cards [img]= "'assets/img/main/1.jpg'" [title]="'Тематический план'" [subtitle]="'Тематический план выполненных работ'" [url]="'assets/other-pages/science/thematic.plan'"></app-cards>
<app-footer></app-footer>
