<app-header></app-header>
  <app-cards [img]="'assets/img/main/1.jpg'" [title]="'История института'" [subtitle]="'История становления института'" [url]="'assets/other-pages/about/History'"></app-cards>
  <app-cards [img]="'assets/img/main/2.png'" [title]="'Кафедры и департаменты'" [subtitle]="'Кафедра Аналитики больших данных и методы видеоанализа'" [url]="'assets/other-pages/about/Department_of_BigData'"></app-cards>
  <app-cards [img]="'assets/img/main/3.jpg'" [title]="'Кафедры и департаменты'" [subtitle]="'Департамент информацинных технологий и автоматики'" [url]="'assets/other-pages/about/Department_of_Inf_Tech_and_Auto'"></app-cards>
  <app-cards [img]="'assets/img/main/3.jpg'" [title]="'Кафедры и департаменты'" [subtitle]="'Департамент радиоэлектроники и связи'" [url]="'assets/other-pages/about/Department_of_Radioel_ and_Co'"></app-cards>
  <app-cards [img]="'assets/img/main/3.jpg'" [title]="'Виртуальная экскурсия'" [subtitle]="'Возможность виртуальной экскурсии по институту'" [url]="'assets/other-pages/about/virtual_excursion'"></app-cards>
  <app-cards [img]="'assets/img/main/3.jpg'" [title]="'Презентация ИРИТ-РтФ'" [subtitle]="'Презентация ИРИТ-РтФ'" [url]="'assets/other-pages/about/presentation_rtf'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Международная деятельность'" [subtitle]="'Активность института в международной среде'" [url]="'assets/other-pages/about/International_activities'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Научно-исследовательский медико-биологический инженерный центр высоких технологий'" [subtitle]="'Научно-исследовательский медико-биологический инженерный центр высоких технологий'" [url]="'assets/other-pages/about/biomedical_engineering_center'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Инновационный центр Cisco'" [subtitle]="'Инновационный центр компании Cisco'" [url]="'assets/other-pages/about/cisco'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Лаборатория робототехники'" [subtitle]="'В настоящее время студенты в лаборатории создают андроидного робота.'" [url]="'assets/other-pages/about/robo_lab'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Студенческий центр высоких технологий'" [subtitle]="'Учебно-научное подразделение, осуществляющее работы в области производства радиоэлектронной аппаратуры'" [url]="'assets/other-pages/about/center_of_high_technology'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Центр космического мониторинга'" [subtitle]="'Подразделение, осуществляющее работы в области обработки данных оперативного космического мониторинга'" [url]="'assets/other-pages/about/space_monitoring'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Центр тестирования навигационной аппаратуры GPS/ГЛОНАСС'" [subtitle]="'Разработка и тестирование навигационной аппаратуры GPS/ГЛОНАСС'" [url]="'assets/other-pages/about/test_gps'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Центр ускоренного обучения'" [subtitle]="'Подготовка бакалавров по ускоренным учебным программам'" [url]="'assets/other-pages/about/Accelerated_Learning_Center'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Центр электромагнитных измерений'" [subtitle]="'Исследования характеристик радиоприемных и радиопередающих устройств'" [url]="'assets/other-pages/about/center_of_el_measurements'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Международная деятельность'" [subtitle]="'Активность института в международной среде'" [url]="'assets/other-pages/about/International_activities'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Международная деятельность'" [subtitle]="'Активность института в международной среде'" [url]="'assets/other-pages/about/International_activities'"></app-cards>
  <app-cards [img]="'assets/img/main/5.jpg'" [title]="'Международная деятельность'" [subtitle]="'Активность института в международной среде'" [url]="'assets/other-pages/about/International_activities'"></app-cards>

<app-footer></app-footer>
