﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c866"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">График контрольных мероприятий для 1 курса</h1></header><p>&nbsp;</p>
						<p>1. <a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160001.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160001</a>
</p>
						<p>2.&nbsp;<a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160002.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160002</a>&nbsp;
</p>
						<p>3.&nbsp;<a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160003.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160003</a>
</p>
						<p>4.&nbsp;<a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160004.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160004</a>
</p>
						<p>5.&nbsp;<a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160005.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160005</a>
</p>
						<p>6.&nbsp;<a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160006.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160006</a>
</p>
						<p>7. <a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160007.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160007</a>
</p>
						<p>8.&nbsp;<a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160008.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160008</a>
</p>
						<p>9. <a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160009.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160009</a>
</p>
						<p>10. <a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160010.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160010</a>
</p>
						<p>11. <a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160011.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160011</a>
</p>
						<p>12. <a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160012.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160012</a>
</p>
						<p>13. <a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160014.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160014</a>
</p>
						<p>14. <a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160015.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160015</a>
</p>
						<p>15. <a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160017.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160017</a>
</p>
						<p>16. <a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160022.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160022</a>
</p>
					<p>17. <a href="fileadmin/Dokumenty/Grafik_kontrol_meropriyatiy_1_kurs/RI-160024.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИ-160024</a></p></article></section><!--TYPO3SEARCH_end--></div>