﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c317"><h2>Отдел по работе со студентами</h2>
						<p class="align-justify">В состав УрФУ&nbsp;входят институты по направлениям подготовки специалистов и кафедры и департаменты&nbsp;по отраслям знаний. Институт является учебно-научным структурным подразделением УрФУ, осуществляющим подготовку специалистов по одной или нескольким родственным специальностям (направлениям), воспитательный процесс, а также руководство научно-исследовательской работой преподавателей и студентов. В состав института входят кафедры, департаменты и лаборатории, относящиеся к специальностям и направлениям института, а также общенаучные и общеобразовательные кафедры. Деканат — это организационный центр, управляющий работой института. Основная функция деканата — координационная. Из студентов, поступивших на определенную специальность, формируется группа (ей присваивается номер, первая цифра которого показывает год обучения и меняется на протяжении учебы). Студенты одного года обучения объединяются в курс. К каждой группе приписывается куратор. В группе избирается староста, который является представителем группы при решении всех административных вопросов, ведет журнал посещаемости и т.п. Организация учебного процесса в УрФУ регламентируется учебным планом по специальности и расписанием занятий для каждой формы обучения. Расписание занятий, которое составляется в деканате института, учитывает работу многих других подразделений УрФУ, поскольку занятия студентов, особенно при изучении блока гуманитарных и общетехнических дисциплин, проходят в аудиториях всех институтов и подразделений университета, включая библиотеку и музей. Деканат контролирует работу преподавателей и студентов на предмет ее соответствия учебному плану по специальности и Правилам внутреннего распорядка, осуществляет разбор конфликтных ситуаций между преподавателем и студентами. Перевод успевающих студентов и слушателей с курса на курс производится директором института. Студенты, слушатели, не аттестованные по дисциплинам учебного плана текущего учебного года, на следующий курс не переводятся до ликвидации академической задолженности. Весь документооборот проходит через деканат — приказы, распоряжения ректора, проректоров, учебно-методического управления и т.п. доводятся до сведения преподавателей и студентов.</p></article><article id="c1192"><header class="csc-header csc-header-n2"><h1>Режим работы отдела</h1></header><p>&nbsp;</p>
						<p>пн.-пт.&nbsp;с 08.30 до 17.30,&nbsp;перерыв с 12.15 до 13.30<br><br>сб. с 08.30 до 14.00,&nbsp;перерыва нет
</p>
					<p>Аудитория: Р-330</p></article></section><!--TYPO3SEARCH_end--></div>