<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;display: block;">
    
    <h1 style="font-size: 1.375em;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    color: #444;    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;display: block;-webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;font-family: sans-serif;">Центр ускоренного обучения ИРИТ-РтФ</h1>
    
    <div style="margin-bottom: 1em;">
        <div style="   display: block;  float: left;       margin-right: 10px;">
            <figure style="   display: block;  float: left;       margin-right: 10px;margin: 0;    display: table;-webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 40px;
            -webkit-margin-end: 40px;"><img src="http://rtf.urfu.ru/typo3temp/pics/6f12e8edf0.jpg" width="100" height="128" alt="">
            </figure>
        </div>
    
        <p style="font-size: 8px;">&nbsp;</p>

        <div style="margin-left: 0px!important; display: block;font-size: 100%;"><p style="font-size: 8px;">&nbsp;</p>
                <p><b>Директор -&nbsp;</b><b>Тимошенко Сергей Иванович,</b></p>
                <p><b>канд. технических наук, доцент</b></p>
                <p>Сайт центра: <a href="http://cat.rtf.urfu.ru" title="Внешняя ссылка открывается в новом окне" >http://cat.rtf.urfu.ru</a></p>
                <p>E-mail: <a href="javascript:linkTo_UnCryptMailto('jxfiql7zxq+oqcXrocr+or');" title="Открывается окно почтовой программы для отправки email">cat.rtf@<span style="display:none;">remove-this.</span>urfu.ru</a></p>
                <p>Тел./факс: (343) 295-10-05, 251-22-42</p>
                <p>Адрес: 620002, Екатеринбург, ул. Чапаева, 20, учебное здание № 6.</p>
        </div>
    </div>
    
    <div style="    margin-bottom: 1em;    border-top: 0;
    margin-top: 0;
    padding-top: 0;display: block;font-size: 100%;line-height: 1.2em;text-align: justify;">
        <p style="margin-top:6.0pt;text-align:justify;line-height:120%" class="align-justify">Центр ускоренного обучения (ЦУО) является структурным подразделением ИРИТ-РТФ и осуществляет <b>подготовку бакалавров по ускоренным программам</b> (срок обучения – 3 года 6 месяцев). </p>
        <p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm; margin-left:0cm;margin-bottom:.0001pt;line-height:115%" class="align-justify">На обучение принимаются &nbsp;<b>выпускники техникумов, колледжей и вузов</b>. Сокращение срока обучения происходит за счет частичной переаттестации дисциплин, изученных ранее в учебном заведении. Это &nbsp;позволяет учащемуся сэкономить и время, и финансы. </p>
        <p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm; margin-left:0cm;margin-bottom:.0001pt;line-height:115%" class="align-justify">Поступая в университет, наши студенты, как правило, уже имеют четкие жизненные ориентиры. Им нужно научиться справляться с конкретными профессиональными задачами, расширить круг компетенций, решить проблемы личного карьерного роста, а порой вообще получить новую профессию. Поэтому выбраны формы обучения, позволяющие учиться без отрыва от работы: </p>
        <p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm; margin-left:14.2pt;margin-bottom:.0001pt;text-indent:-14.2pt;line-height:115%; mso-list:l0 level1 lfo1">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; очно-заочная (два учебных дня в неделю, один из которых – суббота или воскресенье); </p>
        <p style="margin-top:0cm;margin-right:0cm;margin-bottom:5.0pt; margin-left:14.2pt;text-indent:-14.2pt;line-height:115%;mso-list:l0 level1 lfo1">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; заочная (две сессии в год). </p>
        <p style="text-align:justify;line-height:115%" class="align-justify">Сопровождение учебного процесса направлено на создание благоприятных условий для обучения работающих студентов. Учащиеся объединены в отдельные академические группы. Используются активные формы обучения, дистанционные обучающие и контролирующие системы. Центр оснащен современными компьютерами и учебным лабораторным оборудованием. Существует обширная база адаптированных учебно-методических разработок.</p>
        <p style="text-align:justify;line-height:115%" class="align-justify">Центр ускоренного обучения является преемником факультета ускоренного обучения УрФУ (ранее – УГТУ­-УПИ) и его 29-летнего опыта работы по реализации программ высшего образования в ускоренные сроки. </p>
        <p style="text-align:justify;line-height:115%" class="align-justify">Наш педагогический коллектив прекрасно знает особенности своего контингента учащихся: преимущества их первого образования и сложности совмещения работы с учебой. Гибкость, индивидуальный подход и нацеленность на результат – принципы нашей работы.</p>
        <p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm; margin-left:0cm;margin-bottom:.0001pt;line-height: 1.3em;text-align: justify;">В текущем году прием на обучение в ЦУО будет вестись на контрактной основе по направлениям:</p>
        <p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm; margin-left:36.0pt;margin-bottom:.0001pt;text-indent:-18.0pt;line-height: 1.2em; mso-list:l1 level1 lfo2">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 09.03.04 «Программная инженерия» (очно-заочная и заочная форма);</p>
        <p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm; margin-left:36.0pt;margin-bottom:.0001pt;text-indent:-18.0pt;line-height: 1.2em; mso-list:l1 level1 lfo2">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 09.03.01 «Информатика и вычислительная техника» (очно-заочная&nbsp;форма);</p>
        <p style="margin: 0cm 0cm 0.0001pt 36pt; text-indent: -18pt; line-height: 1.2em;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10.03.01 «Информационная безопасность» (очно-заочная форма);</p>
        <p style="margin: 0cm 0cm 0.0001pt 36pt; text-indent: -18pt; line-height: 1.2em;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11.03.01 «Радиотехника» (заочная&nbsp;форма);</p>
        <p style="margin: 0cm 0cm 0.0001pt 36pt; text-indent: -18pt; line-height: 1.2em;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11.03.02 «Инфокоммуникационные технологии и системы связи» (очно-заочная&nbsp;форма);</p>
        <p class="    font-size: 0.79em;
        line-height: 1.3em;
        margin: 0;
        margin-bottom: 10px;display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;text-align: justify;"> Кроме того, в этом году для бакалавров и дипломированных специалистов в нашем центре открыта программа магистратуры по направлению 09.04.04 «Программная инженерия».&nbsp;</p>
    </div>
</div>