<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;display: block;">
    
    <div style="      border-top: 0;
        margin-top: 0;
        padding-top: 0;margin-bottom: 1em;display: block; font-size: 100%;">
        <h1 style="font-size: 1.375em;
            margin: 0;
            padding: 0;
            line-height: 1.2em;
            color: #444;    -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;display: block;-webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;font-family: sans-serif;">Научно-исследовательский медико-биологический инженерный центр высоких технологий
        </h1>
        <div >
            <div>
                <figure style="   display: block;  float: left;       margin-right: 10px;margin: 0;    display: table;-webkit-margin-before: 1em;
                -webkit-margin-after: 1em;
                -webkit-margin-start: 40px;
                -webkit-margin-end: 40px;"><img src="http://rtf.urfu.ru/uploads/pics/csm_kublanov.jpg" width="100" height="150" alt=""></figure>
            </div>
            
            <div><p style="font-size: 8px;">&nbsp;</p>
                <p><b>Руководитель - д.т.н.&nbsp;</b><b>Кубланов Владимир Семенович</b>,</p>
                <p>сайт центра:&nbsp;<a href="http://bioeng.rtf.urfu.ru" title="Внешняя ссылка открывается в новом окне" >bioeng.rtf.urfu.ru</a></p>
                <p>e-mail:&nbsp;&nbsp;<a href="javascript:linkTo_UnCryptMailto('jxfiql7s+p+hryixklsXrocr+or');">v.s.kublanov@<span style="display:none;">remove-this.</span>urfu.ru</a></p>
                <p>Тел.: (343) 375-94-64</p>
                <p>Адрес: 620078, Екатеринбург, ул. Комсомольская, д. 66а.</p>
            </div>
        </div>
    </div>
    
    <div style="    border-top: 0;
    margin-top: 0;
    padding-top: 0;">
        <p style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto; line-height:normal"><b>Задачи МБИЦВТ: </b></p>
        <div style="text-align: justify;">
            <p style="margin:0cm;margin-bottom:.0001pt;text-indent:0cm; mso-list:l0 level1 lfo1" class="align-justify">- Обеспечение проблемно-ориентированных поисковых исследований и НИОКР новых прорывных технологий в области систем жизнеобеспечения и защиты человека и животных, методов экологической и экстремальной медицины, технологий мониторинга состояния здоровья.</p>
            <p style="margin:0cm;margin-bottom:.0001pt;text-indent:0cm; mso-list:l0 level1 lfo1" class="align-justify">- Обеспечение НИОКР в области новых технологий восстановительной медицины методами управляемой вегетативной регуляции функциональными и психоэмоциональными процессами с помощью фокусированных физических полей.</p>
            <p style="margin:0cm;margin-bottom:.0001pt;text-indent:0cm; mso-list:l0 level1 lfo1" class="align-justify">- Обеспечение научных исследований новых прорывных технологий биоинженерии, клеточных и биоинформационных технологий в области ангиогенеза и регенерации тканей.</p>
            <p style="margin:0cm;margin-bottom:.0001pt;text-indent:0cm; mso-list:l0 level1 lfo1" class="align-justify">- Обеспечение НИОКР новых диагностических систем, изделий медицинской техники и биомедицинских технологий с применением современных систем микроэлектроники, тканевой биоинженерии и информационных технологий.</p>
            <p style="margin:0cm;margin-bottom:.0001pt;text-indent:0cm; mso-list:l0 level1 lfo1" class="align-justify">- Обеспечение разработки новых методов обработки биомедицинских сигналов, обработки и распознавания изображений в медицинских задачах, в том числе методов идентификации физиологических паттернов, разработки новых медицинских технологий.</p>
            <p style="margin:0cm;margin-bottom:.0001pt;text-indent:0cm; mso-list:l0 level1 lfo1" class="align-justify">- Обеспечение организации и проведения доклинических научных исследований изделий медицинского назначения, медицинской техники и медицинских методик.</p>
            <p style="margin:0cm;margin-bottom:.0001pt;text-indent:0cm; mso-list:l0 level1 lfo1" class="align-justify">- Обеспечение разработки и внедрения новых изделий медицинской техники и медицинских технологий, реализуемых в рамках национальной программы «Здоровье» и технологической платформы «Медицина будущего».</p>
            <p style="margin:0cm;margin-bottom:.0001pt;text-indent:0cm; mso-list:l0 level1 lfo1" class="align-justify">- Развитие лабораторной базы для образовательного процесса, обеспечение взаимодействия и интеграции с медицинским университетом. </p>
            <p style="margin:0cm;margin-bottom:.0001pt;text-indent:0cm; mso-list:l0 level1 lfo1" class="align-justify">- Повышение качества подготовки специалистов, бакалавров, магистров, аспирантов, слушателей, соискателей и т.д. по перспективным направлениям в области радиоэлектроники и обработки информации за счет внедрения современных биоинженерных технологий в учебный процесс.</p>
            <p style="margin:0cm;margin-bottom:.0001pt;text-indent:0cm; mso-list:l0 level1 lfo1" class="align-justify">- Обеспечение проведения мероприятий по профилактике, выявлению и лечению заболеваний.</p>
            <p style="margin:0cm;margin-bottom:.0001pt;text-indent:0cm; mso-list:l0 level1 lfo1" class="align-justify"><span style="text-indent: 0cm;">- Обеспечение научных исследований, направленных на повышение уровня здоровья студентов и сотрудников Университета.</span></p>
            <p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:130%">&nbsp;</p>
            <p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:130%">МБИЦВТ является структурным подразделением ИРИТ-РтФ и осуществляет подготовку магистров по программе по&nbsp;направлению <b>09.04.02 Информационные системы и технологии функциональной диагностики и нейрореабилитации</b> на бюджетной и контрактной основе (срок обучения 2 года).</p>
            <p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:130%">&nbsp;</p>
            <p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:130%"><b>Цель магистерской программы</b> – подготовка инженеров мирового уровня для новых инновационных производств в области проектирования и разработки систем и технологий для функциональной диагностики человека и нейрореабилитации.</p>
            <p style="margin-bottom: 0.0001pt; line-height: 130%; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;">&nbsp;</p>
            <p style="margin-bottom: 0.0001pt; line-height: 130%; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><b>Область профессиональной деятельности выпускников программы:</b></p>
            <p style="margin-bottom: 0.0001pt; line-height: 130%; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;">- Информационные системы и технологии в области функциональной диагностики и нейрореабилитации;</p>
            <p style="margin-bottom: 0.0001pt; line-height: 130%; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;">- Разработка, внедрение и эксплуатация информационных систем и технологий в науке и производстве;</p>
            <p style="margin-bottom: 0.0001pt; line-height: 130%; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;">- Разработка приборов, систем, и программного обеспечения медицинского назначения;</p>
            <p style="margin-bottom: 0.0001pt; line-height: 130%; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;">- Исследование и моделирование информационных процессов и технологий;</p>
            <p style="margin-bottom: 0.0001pt; line-height: 130%; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;">- Разработка систем компьютерного зрения и цифровой обработки сигналов;</p>
            <p style="margin-bottom: 0.0001pt; line-height: 130%; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;">- Разработка интерфейсов мозг-компьютер (BCI).</p>
        </div>
        <div>
            <p style="text-align:justify">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src="http://rtf.urfu.ru/uploads/RTEmagicC_plata.jpg.jpg" width="300" height="163" style="float: none;" alt=""></p>
            <p style="text-align:justify" class="align-center"><img src="http://rtf.urfu.ru/uploads/RTEmagicC_MBICVT1.png.png" width="300" height="239" alt="">&nbsp;<img src="http://rtf.urfu.ru/uploads/RTEmagicC_MBICVT2.jpg.jpg" width="300" height="170" alt=""></p>
        </div>
    </div>
</div>