<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;display: block;">
    <div>
        <h1 style="font-size: 1.375em;
        margin: 0;
        padding: 0;
        line-height: 1.2em;
        color: #444;    -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;display: block;-webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;font-family: sans-serif;">Центр электромагнитных измерений
        </h1>
    </div>
    
    <div style="overflow: hidden;border-top: 0;
        margin-top: 0;
        padding-top: 0;margin-bottom: 1em;display: block; font-size: 100%;">
       
        <div>
            <figure style=" float: left;"><img src="http://rtf.urfu.ru/typo3temp/pics/e5cdc097f6.jpg" width="200" height="158" alt=""></figure>
        </div>
        
        <div style="margin-left: 0px!important;">
            <p style="text-align: justify; line-height: normal; margin-bottom: 0pt;">&nbsp;</p>
            <p style="text-align: justify; line-height: normal; margin-bottom: 0pt;">Центр электромагнитных измерений проводит:</p><ul><li style="text-align: justify; line-height: normal; margin-bottom: 0pt;" class="MsoNormal">исследования технических средств на электромагнитную совместимость, по стандартам ГОСТ Р 51318.11-2006 (Радиопомехи индустриальные, ВЧ, ПНМБ), ГОСТ Р 51318.22-2006 (Радиопомехи индустриальные, оборудование информационных технологий), ГОСТ Р 51317.4.3-2006 (Устойчивость к радиочастотному электромагнитному полю); </li><li style="text-align: justify; line-height: normal; margin-bottom: 0pt;" class="MsoNormal">исследования характеристик радиоприемных и радиопередающих устройств; </li><li style="text-align: justify; line-height: normal; margin-bottom: 0pt;" class="MsoNormal">исследование параметров антенн.&nbsp;</li></ul><p style="text-align: justify; line-height: normal; margin-bottom: 0pt;">&nbsp;</p>
            <p style="text-align: justify; line-height: normal; margin-bottom: 0pt;" class="align-justify">Измерения проводятся в безэховой камере (БЭК) <span lang="EN-US">Rainford</span><span lang="EN-US"> </span><span lang="EN-US">EMC</span>3, представляющей собой полностью экранированное от внешних электромагнитных полей (до 100дБ в диапазоне до 26ГГц). В безэховой камере используются гибридные пирамидальные и ферритовые радиопоглощающие материалы, обеспечивающие высокую эффективность поглощения отраженных сигналов. Безэховая камера оборудована поворотным столом, антенной мачтой, системой автоматизированного управления процессом измерения и видеонаблюдением. </p>
            <p style="text-align: justify; line-height: normal; margin-bottom: 0pt;" class="align-justify">&nbsp;</p>
            <p style="text-align: justify; line-height: normal; margin-bottom: 0pt;" class="align-justify">БЭК полностью соответствует стандартам <span lang="EN-US">CISPR</span>, <span lang="EN-US">EN</span> и <span lang="EN-US">FCC</span>. Диапазон рабочих частот 30МГц – 18ГГц. </p>
            <p style="line-height: normal; margin-bottom: 0pt;" class="align-justify">&nbsp;</p>
            <p style="line-height: normal; margin-bottom: 0pt;" class="align-justify">Безэховая камера Центра электромагнитных измерений аттестована по ГОСТ 50414-92. </p>
            <p style="text-align: justify; line-height: normal; margin-bottom: 0pt;" class="align-justify">&nbsp;</p>
            <p style="text-align: justify; line-height: normal; margin-bottom: 0pt;" class="align-justify">Для осуществления измерений используется высокоточное оборудование немецкой компании <span lang="EN-US">Rohde</span>&amp;<span lang="EN-US">Schwarz</span> – одного из мировых лидеров в разработке и производстве коммуникационного и измерительного оборудования.</p>
            <p style="text-align: justify; line-height: normal; margin-bottom: 0pt;" class="align-justify">&nbsp;</p>
            <p style="text-align: justify; line-height: normal; margin-bottom: 0pt;" class="align-justify">Подробная информация на сайте Центра&nbsp;<a href="http://cemi.rtf.urfu.ru/" target="_blank" class="external-link-new-window" title="Внешняя ссылка открывается в новом окне" rel="noopener"></a><a href="http://cemi.rtf.urfu.ru/">cemi.rtf.urfu.ru</a></p>
        </div>
    </div>
</div>