    <div style="font-family: sans-serif;
        color: #222; padding-bottom: 130px;    float: left;
        width: 750px;
        margin-left: 1.25em;display: block;">
        <div>
            <h1 style="font-size: 1.375em;
            margin: 0;
            padding: 0;
            line-height: 1.2em;
            color: #444;    -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;display: block;-webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;font-family: sans-serif;">Студенческий центр высоких технологий</h1>
        </div>

        <div style="margin-left: 0px!important;font-size: 0.79em;
            line-height: 1.7em;
            margin: 0;
            margin-bottom: 10px;       display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;">   
            <p style="font-size: 8px;"><b style="font-size: 12px;"><img src="http://rtf.urfu.ru/uploads/RTEmagicC_SCVT.jpg.jpg" height="200" title="" alt="" style="padding-right: 20px; padding-bottom: 5px; float: left;">&nbsp;Директор -&nbsp;</b><b style="font-size: 12px;">Черных Олег Авитисович,</b></p>
        

            <p>сайт центра: <a href="http://htc.rtf.urfu.ru">http://htc.rtf.urfu.ru</a></p>
            <p>Тел.: +7 905-800-74-70</p>
            <p>Адрес: 620002, Екатеринбург, ул. Мира, д.&nbsp;32, Р-046.</p>
            <p style="text-align: justify;">Студенческий центр высоких технологий создан на ИРИТ-РТФ как учебно-научное подразделение, способное осуществлять полный цикл работ в области производства радиоэлектронной аппаратуры. Деятельность центра направлена на продвижении современных технологий проектирования, производства и программирования радиоэлектронных устройств.</p>
        </div>
        
        <p>&nbsp;</p>   
        <div>
            <p style="    font-size: 0.79em;
            line-height: 1.3em;
            margin: 0;
            margin-bottom: 10px;    display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;"><i>Предлагаемые услуги:</i>&nbsp;</p>
            <ul style="display: block;
                list-style-type: disc;
                -webkit-margin-before: 1em;
                -webkit-margin-after: 1em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                -webkit-padding-start: 40px;margin: 1em 0;
                padding: 0 0 0 2.5em;    font-family: sans-serif;
                color: #222;">
                <div style="font-size: 0.75em;
                line-height: 1.725em;
                margin-bottom: 0.5em;display: list-item;
                text-align: -webkit-match-parent;    list-style-type: disc;font-family: sans-serif;
                color: #222;"><li>Индивидуальное и групповое обучение методам конструирования, производства, программирования и контроля качества радиоэлектронных устройств;</li><li>Предоставление оборудования центра для проведения лабораторных занятий, курсового и дипломного проектирования;</li><li>Оказание услуг по монтажу печатных плат, конструированию и изготовлению радиотехнических устройств;</li><li>Программирование электронно-вычислительных средств, в том числе, микроконтроллеров STMicroelectronics, <span lang="EN-US">Atmel</span>, Texas Instruments и др.;</li><li>Автоматизация технологических процессов и измерений параметров радиоаппаратуры с использованием технологий <span lang="EN-US">National</span><span lang="EN-US"> </span><span lang="EN-US">Instruments;</span></li><li>Создание 3<span lang="EN-US">D</span><span lang="EN-US"> </span>моделей, по технологии <span lang="EN-US">FDM</span> печати на 3<span lang="EN-US">D</span><span lang="EN-US"> </span>принтерах;</li><li>Оказание научно-технических консультаций по вопросам технологий и конструирования радиоэлектронных и электронно-вычислительных средств;</li><li>Выполнение совместных научно-исследовательских работ.</li>
        </div>
    </ul>
</div>