<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;display: block;">

    <div>
        <h1 style="text-align: center;    font-size: 1.375em;
        margin: 0;
        padding: 0;
        line-height: 1.2em;
        color: #444;    -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;    display: block;font-family: sans-serif;
        color: #222;"> Инновационный центр CISCO</h1>
    </div>
    
    <p>&nbsp;</p>

    <div style="    float: left;margin-right: 10px;
        display: block;  font-size: 100%;font-family: sans-serif;"><figure><img src="http://rtf.urfu.ru/typo3temp/pics/47816fe3cd.jpg" width="220" height="180" alt=""></figure></div>
        <p style="text-align: center; color: rgb(0, 51, 255);font-size: 0.79em;
        line-height: 1.3em;
        margin: 0;
        margin-bottom: 10px;font-family: sans-serif;">Торжественная церемония открытия Центра состоялась</p>
        <p style="text-align: center; color: rgb(0, 51, 255);font-size: 0.79em;
        line-height: 1.3em;
        margin: 0;
        margin-bottom: 10px;font-family: sans-serif;">09 июля 2015 на международной выставке «ИННОПРОМ-2015»</p>
        <p style="font-size: 0.79em;
        line-height: 1.3em;
        margin: 0;
        margin-bottom: 10px;    text-align: center;    display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;font-family: sans-serif;
        color: #222;">Деятельность центра направлена на продвижении инновационных научно-прикладных разработок, востребованных бизнесом и государством на российском и международном рынках, а также для демонстрации технологий Cisco и создании инновационных решений на базе оборудования Cisco.</p>

    <p>&nbsp;</p>

    <div style="text-align: justify;    font-size: 0.79em;
        line-height: 1.3em;
        margin: 0;
        margin-bottom: 10px;
               display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px; font-family: sans-serif;
        color: #222;">
        <p><b>Директор центра</b> </p>
        <p><b>Папуловская Наталья Владимировна</b></p>
        <p><b>e-mail:</b>&nbsp;<a href="https://e.mail.ru/compose/?mailto=mailto%3an.v.papulovskaia@urfu.ru" target="_blank">n.v.papulovskaia@urfu.ru</a></p>
    </div>
    
    <div>
        <p>&nbsp;</p>
        <p style="text-align: justify;     font-size: 0.79em;
        line-height: 1.3em;
        margin: 0;
        margin-bottom: 10px;    display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;    font-family: sans-serif;
        color: #222;"><a href="http://rtf.urfu.ru/fileadmin/Cisco_Innovation/Pary_-224.docx"><b>Расписание</b></a></p>
    </div>
    

    <div style="text-align: justify;     font-size: 0.79em;
        line-height: 1.3em;
        margin: 0;
        margin-bottom: 10px;    display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;    font-family: sans-serif;
        color: #222;"><p>В ходе обучения слушатели получают навыки установки и конфигурирования коммутаторов и маршрутизаторов Cisco в многопротокольных сетях, объединяющих локальные и территориально-распределенные сети.</p><p ><b>Программа курса</b> позволяет подготовиться к сдаче международных сертификационных экзаменов на статус ССNA.<br><b></b></p><p><b>1 часть</b> "Введение в сетевые технологии" (72 ч., 2-3 месяца ) стоимость 13000 руб.<br><b></b></p><p><b>2 часть</b> "Принципы маршрутизации и коммутации" (72 ч., 2-3 месяца ) стоимость 13000 руб.<br><b></b></p><p><b>3 часть</b> "Масштабирование сетей" (72 ч., 2 месяца ) стоимость 10500 руб.<br><b></b></p><p ><b>4 часть</b> "Соединение сетей" (72 ч., 2 месяца ) стоимость 10500 руб.&nbsp;</p>
    </div>
        
        <hr>
        <p style="text-align:center"><b>На базе Инновационного центра ведутся разработки в области</b></p>
        <p style="text-align:center"><b>Всеобъемлющего интернета</b></p>
        <hr>
    
        <p>&nbsp;</p>
    
        <div style="  text-align: center;">
         <table class="" border="1" cellspacing="0" cellpadding="0" style="margin: auto;border-collapse:collapse;mso-table-layout-alt:fixed;border:none; mso-border-alt:solid windowtext .5pt;mso-yfti-tbllook:1184;mso-padding-alt: 0cm 5.4pt 0cm 5.4pt"> <tbody><tr> <td width="347" valign="top" style="width:260.55pt;border:none;border-bottom: solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt" class="align-center"><p class="MsoNormal align-center" style="margin-bottom: 0.0001pt; text-align: center;"><b>Проект «</b><b><span lang="EN-US">iStopper</span></b><b>»</b></p> <p><img src="http://rtf.urfu.ru/uploads/RTEmagicC_proekt_iStopper_01.jpg.jpg" width="150" height="145" style="padding-bottom: 5px;" alt=""></p></td> <td width="291" valign="top" style="width:218.0pt;border:none;border-bottom:solid windowtext 1.0pt; mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center;">&nbsp;</p><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center;">Программно-аппаратный комплекс для информирования пассажиров о местоположении общественного транспорта<b></b></p></td> </tr> <tr> <td width="347" valign="top" style="width:260.55pt;border:none;border-bottom: solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt: solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding: 0cm 5.4pt 0cm 5.4pt" class="align-center"><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center;"><b>Проект «</b><b><span lang="EN-US">smart</span></b><b><span lang="EN-US"> </span></b><b><span lang="EN-US">Parking</span></b><b>»</b></p> <p><img src="http://rtf.urfu.ru/uploads/RTEmagicC_proekt_smart_Parking.jpg.jpg" width="200" height="125" style="padding-bottom: 5px;" alt=""></p></td> <td width="291" valign="top" style="width:218.0pt;border:none;border-bottom:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center;">&nbsp;</p><p class="MsoNormal align-center" style="margin-bottom: 0.0001pt; text-align: center;">Система предназначена для автоматизированного учета и распределения парковочных мест на автостоянках крупных торговых центров.<b></b></p></td> </tr> <tr> <td width="347" valign="top" style="width:260.55pt;border:none;mso-border-top-alt: solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" class="align-center"><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center;"><b>Проект «</b><b><span lang="EN-US">Safe</span>*</b><b><span lang="EN-US">Driver</span></b><b>»</b></p> <p><img src="http://rtf.urfu.ru/uploads/RTEmagicC_proekt_Safe_Driver.jpg.jpg" width="300" height="212" style="padding-bottom: 5px;" alt=""></p></td> <td width="291" valign="top" style="width:218.0pt;border:none;mso-border-top-alt: solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt"><p class="Standard align-center" style="text-align:center;text-indent:21.3pt">&nbsp;</p><p class="Standard align-center" style="text-align:center;text-indent:21.3pt">Распределенная самоорганизующаяся телекоммуникационная система помогает водителю выбирать безопасный режим движения с целью предотвращения дорожно-транспортных происшествий.</p> <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center;"><b>&nbsp;</b></p></td> </tr> </tbody></table>
    </div>
</div>