<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;display: block;font-size: 100%;">
    <div style="border-top: 0;
        margin-top: 0;
        padding-top: 0; margin-bottom: 1em;">
        
        <div style="float: left;    margin-right: 10px;">
            <figure class="csc-textpic-image csc-textpic-last"><img src="http://rtf.urfu.ru/uploads/pics/Gainanov.jpg"  width="103" height="138" alt=""></figure>
        </div>
    
        <div style="0px!important;    font-size: 0.79em;
            line-height: 1.3em;
            margin: 0;
            margin-bottom: 10px;">
            <div>
                <h1 style="font-size: 1.375em;
                margin: 0;
                padding: 0;
                line-height: 1.2em;
                color: #444;    -webkit-margin-before: 1em;
                -webkit-margin-after: 1em;display: block;-webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                font-weight: bold;font-family: sans-serif;">Кафедра Аналитики больших данных и методов видеоанализа
                </h1>
            </div>

            <p><b>зав. кафедрой</b></p>
            <p><b>Гайнанов Дамир Насибуллович,</b></p>
            <p><b>кандидат технических наук</b></p>
            <p><b>Ученый секретарь кафедры – к.ф.-м.н. Белоусов Иван Николаевич</b></p>
            <p>e-mail: <a href="javascript:linkTo_UnCryptMailto('jxfiql7f+k+ybilrplsXrocr+or');">i.n.belousov@<span style="display:none;">remove-this.</span>urfu.ru</a></p>
            <p>сайт кафедры:&nbsp;<a href="http://www.dc.ru/activities/rtf_ustu/">http://www.dc.ru/activities/rtf_ustu/</a></p>

            <p>тел.кафедры:&nbsp;(343) 204-72-32 Лебедев Михаил Петрович</p>
            <p>адрес кафедры: 620075, г.Екатеринбург, ул.Горького, 63</p>

        <div>
            <p style="margin-bottom:11.25pt;text-align:justify;line-height:14.7pt;text-align: justify">На кафедре осуществляется подготовка магистров по профилю «Аналитика больших данных и методы видеоанализа». Данная программа в Уральском федеральном университете и в регионе уникальна и осуществляется только в ИРИТ-РТФ Уральского федерального университета.<b></b></p>
            <p style="text-align: justify">Магистерская программа предусматривает изучение современных математических методов и программного обеспечения для решения задач, связанных с большими данными и видеоанализом.</p>
            <p style="text-align: justify">Для обеспечения квалифицированной подготовки магистров планируется: содействие в проведении научно-исследовательских и опытно-конструкторских работ и инновационная научно-образовательная деятельность по профилю базовой кафедры; участие в проектах, поддержанных Министерством образования и науки Российской федерации; использование оборудования, поддерживающего массивно-параллельные вычисления. Для учебных и исследовательских целей используется научная и лабораторная база Института математики и механики и компании ООО «ДАТА-ЦЕНТР Автоматика».</p>
            <p style="text-align: justify"><span style="text-align: start;"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/EduVersionPlan3G.xls" title="Начинается скачивание файла">Учебный план</a></span></p>
        </div>
    </div>  
</div>
