<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;display: block;font-size: 100%;">
    <div style="border-top: 0;
        margin-top: 0;
        padding-top: 0; margin-bottom: 1em;">
        
        <div style="float: left;    margin-right: 10px;">
            <figure class="csc-textpic-image csc-textpic-last"><img src="http://rtf.urfu.ru/uploads/pics/1_03.jpg" width="100" height="133" alt=""></figure>
        </div>
    
    <div style="0px!important;    font-size: 0.79em;
        line-height: 1.3em;
        margin: 0;
        margin-bottom: 10px;">
        <div>
            <h1 style="font-size: 1.375em;
            margin: 0;
            padding: 0;
            line-height: 1.2em;
            color: #444;    -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;display: block;-webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;font-family: sans-serif;">Департамент радиоэлектроники и связи
            </h1>
        </div>
        
        <p><b>Директор</b></p>
        <p><b>Доросинский Леонид Григорьевич,</b></p>
        <p><b>профессор,&nbsp;доктор технических наук</b></p>
        <p>Тел. департамента: (343) 375-48-48, (343) 375-44-93</p>
        <p>Адрес департамента: 620002, г. Екатеринбург, ул.Мира, 32, УрФУ, Институт радиоэлектроники и информационных технологий, Р-405</p>
    </div>
        
    <div>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;" class="align-justify"><strong>Департамент радиоэлектроники и связи осуществляет подготовку по следующим направлениям и специальностям</strong></p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;"><strong>Квалификация бакалавр:</strong></p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">10.03.01. Информационная безопасность.</p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">11.03.01. Радиотехника.</p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">11.03.02.&nbsp;Инфокоммуникационные технологии и системы связи.</p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">11.03.03. Конструирование и технология электронных средств.</p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;"><strong>Квалификации специалист, инженер:</strong></p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">10.05.02. Информационная безопасность телекоммуникационных систем.</p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">11.05.01. Радиоэлектронные системы и комплексы.</p>
    </div>
    </div>  
</div>
