<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;display: block;font-size: 100%;">
    <div style="border-top: 0;
        margin-top: 0;
        padding-top: 0; margin-bottom: 1em;">
        
        <div style="float: left;    margin-right: 10px;">
            <figure class="csc-textpic-image csc-textpic-last"><img src="http://rtf.urfu.ru/typo3temp/pics/3f070c860d.jpg"  width="103" height="138" alt=""></figure>
        </div>
    
    <div style="0px!important;    font-size: 0.79em;
        line-height: 1.3em;
        margin: 0;
        margin-bottom: 10px;">
        <div>
            <h1 style="font-size: 1.375em;
            margin: 0;
            padding: 0;
            line-height: 1.2em;
            color: #444;    -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;display: block;-webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;font-family: sans-serif;">Департамент информационных технологий и автоматики
            </h1>
        </div>
        
        <p><b>Директор</b></p>
        <p><b>Аксенов Константин Александрович,</b></p>
        <p><b>доцент,&nbsp;кандидат технических наук</b></p>
        <p>Тел. департамента: (343) 375-41-45</p>
        <p>Адрес департамента: 620002, г. Екатеринбург, ул.Мира, 32, УрФУ, Институт радиоэлектроники и информационных технологий, P-244</p>
    </div>
        
    <div>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;" class="align-justify"><strong>Департамент информационных технологий и автоматики осуществляет подготовку по следующим направлениям и специальностям</strong></p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;"><strong>Квалификация бакалавр (направление, руководитель образовательной программы):</strong></p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">02.03.03. Математическое обеспечение и администрирование информационных систем (Белоусова Вероника Игоревна тел.375-48-78)</p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">09.03.01. Информатика и вычислительная техника (Спиричева Наталия Рахматулловна тел. 375-41-45)</p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">09.03.02. Информационные системы и технологии (Пономарева Ольга Алексеевна тел. 375-94-24)</p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">09.03.04. Программная инженерия</p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">27.03.04. Управление в технических системах (Телицин Вадим Вадимович тел.375-44-68)</p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;">29.03.03. Технология полиграфического и упаковочного производства (Тягунов Андрей Геннадьевич тел. 375-46-30)</p>
        
    </div>
    </div>  
</div>
