<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;display: block;">
    <div>
        <p><h1 style= "font-size: 1.375em;margin: 0;padding: 0;line-height: 1.2em;color: #444;">История института</h1>

        <div>
            <p style = "font-size: 0.79em;line-height: 1.3em;font-weight: bold;">Рождение</p>
        </div>

            <div style="font-size: 0.79em;line-height: 1.3em;margin: 0;margin-bottom: 10px;text-align: justify;">
                <p> Основные этапы развития радиотехнической инженерной подготовки на Среднем Урале можно проследить на примере развития ИРИТ-РТФ.</p>

                <p>В годы советской власти подготовка инженеров в области автоматики и радиотехники первоначально велась в Москве, Ленинграде и Нижнем Новгороде. В послевоенное время возникла необходимость выпуска подобных специалистов и в других регионах страны. Появились факультеты радиотехники и автоматики в институтах Харькова, Киева, Таганрога, Томска, Рязани и других городов страны. Задача подготовки таких специалистов на Урале возникла в связи с появлением в нашем регионе предприятий радиопромышленности и приборостроения во время Великой Отечественной войны в результате их эвакуации из западных областей, а также в результате развития ядерной промышленности во второй половине 40-х годов. Наряду с открытием в 1949 году в Уральском политехническом институте физико-технического факультета было запланировано в дальнейшем создание и радиотехнического факультета. В мае 1951 г. директор института А. С. Качко ставит перед будущим деканом факультета В. Г. Степановым задачу создания радиотехнического факультета.</p>
                <p>Первым шагом в этом направлении была организация приема на первый курс радиофака в 1951 году. Поскольку радиотехнического факультета фактически еще не было, вся организационная работа была возложена на руководство энергетического факультета. На первом курсе студенты РТФ формально считались студентами —энергетиками. 18 января 1952 года приказом по Главному управлению политехнических вузов Министерства высшего образования СССР деканом радиотехнического факультета УПИ был назначен доцент, кандидат технических наук Степанов Валентин Георгиевич. Приказом по УПИ № 210 от 21 февраля 1952 года ему было предписано к 1 марта представить план «развертывания» деятельности РТФ. Таким образом, началась жизнь радиотехнического факультета УПИ.</p>

                <p><b>Хронология</b></p>
                <div>
                <ul style ="text-align: justify;">
                <li><b>2011 г.</b><p class="align-justify">Радиотехнический институт переименован в Институт радиоэлектроники и информационных технологий.</p></li>
                <li><b>2005 г.</b><p>Радиотехнический факультет стал институтом.</p></li>
                <li><b>2000 г.</b><p>На факультете 1330 студентов, 10 кафедр, 189 преподавателей, среди которых 18 докторов и 107 кандидатов наук, в том числе 5 академиков и 5 членов-корреспондентов различных академий наук.</p></li>
                <li><b>1999 г.</b><p>Открыт прием студентов на новые специальности «Комплексное обеспечение информационной безопасности в АСУ» и «Информационо-измерительная техника и технологии». На РТФ создана кафедра «Мультимедиа технологий» (зав. кафедрой — профессор, доктор физико–математических наук А. Н. Красовский).</p></li>
                <li><b>1997 г.</b><p>Открыт прием студентов на новые специальности «Сети связи и системы коммутаций», «Средства связи с подвижными объектами», «Информационные технологии в науке и образовании», «Бытовая радиоэлектронная аппаратура» и «Защищенные телекоммуникационные системы».</p></li>
                <li><b>1996 г.</b><p>На кафедре ТПРА открыт учебно–научный центр «Motorola» — первое подразделение на РТФ, которое выполняет совместные работы с иностранной фирмой.</p></li>
                <li><b>1995 г.</b><p>Факультет торжественно отметил 100–летие изобретения радио.</p></li>
                <li><b>1992 г.</b><p>Факультету 40 лет. Выпущено 12 тысяч специалистов. Подготовка ведется по 7 специальностям. На факультете более 170 персональных ЭВМ, используемых студентами в учебном процессе и научных исследованиях. На базе РТФ создан Екатеринбургский территориальный научный центр Российской академии инженерных наук (РАИН), а с 1995 г. — Уральское отделение РАИН. Председателем Уральского отделения избран профессор, доктор технических наук, заведующий кафедрой автоматики и управления в технических системах В. Г. Лисиенко.</p></li>
                <li><b>1988 г.</b><p>Первый прием студентов на вновь открытую специальность «Вычислительные машины, комплексы, системы и сети». Первоначально специальность велась кафедрой ТОР, затем, в связи с назначением профессора, доктора технических наук В. Г. Лабунца заведующим кафедрой автоматики и телемеханики, переведена на эту кафедру с дальнейшим её переименованием в кафедру автоматики и информационных технологий.</p></li>
                <li><b>1985 г.</b><p>Открыта проблемная НИЛ электрорадиосвязи при кафедре радиотехнических систем — первое самостоятельное научное подразделение такого типа на РТФ. Тематика исследований лаборатории — защита информации в системах связи. Создание ПНИЛ электрорадиосвязи означало признание достижений ученых РТФ в указанном научном направлении за 15 лет исследований.</p></li>
                <li><b>1982 г.</b><p>Факультету — 30 лет. На 9 кафедрах, в вычислительной лаборатории и научных подразделениях работают более 400 сотрудников, на 5 специальностях обучаются 2973 студента по очной, вечерней и заочной формам обучения. Выпущено около 10000 инженеров.</p></li>
                <li><b>1981 г.</b><p>На факультете впервые проведена Всесоюзная научно–техническая конференция на тему «Обработка локальных сигналов, отраженных протяженными целями». В работе конференции участвовало около 180 ученых, представляющих научно–исследовательские организации крупнейших городов СССР. Параллельно с конференцией на РТФ проводилось выездное совещание Головного совета по радиоэлектронике Министерства высшего и среднего специального образования РСФСР во главе с Председателем Совета профессором, доктором технических наук Ю. М. Казариновым. Проведение конференции и совещания Головного совета по радиоэлектронике на РТФ подтвердило признание и авторитет ученых РТФ в стране.</p></li>
                <li><b>1977 г.</b><p>Заведующим кафедрой технологии производства радиоаппаратуры стал Н. А. Семихатов, доктор технических наук, генеральный конструктор НПО «Автоматика», в дальнейшем - академик РАН.</p></li>
                <li><b>1974 г.</b><p>Организована отраслевая научно-исследовательская лаборатория по теории и технике радиовысотометрии (ОНИЛ–302) при кафедре радиоприемных устройств — первое научно–- исследовательское подразделение на РТФ (не считая СКБ - 1).</p></li>
                <li><b>1972 г.</b><p>Факультет широко отмечает двадцатилетие. Выпущено 186 групп — 5113 инженеров пяти специальностей по очной, вечерней и заочной формам обучения. На факультете 9 кафедр — 8 технических и кафедра вычислительных методов и уравнений математической физики, обучается 1450 студентов, работает более 400 преподавателей и научных сотрудников. Радиофак занимает отдельный учебный корпус с площадью лабораторий 4540 кв.м. Ряд преподавателей и студентов участвуют в работе СКБ–- 1, который является лучшим в УПИ.</p></li>
                <li><b>1971 г.</b><p>Выпускником РТФ защищена первая докторская диссертация. Первым доктором наук на РТФ стал заведующий кафедрой радиопередающих устройств, выпускник 1957 г. специальности «Радиотехника» Б. А. Панченко.</p></li>
                <li><b>1970 г.</b><p>Радиотехнический факультет полностью переехал в новое здание — 6–й учебный корпус УПИ. Открыта кафедра Автоматизированные системы управления, заведующим кафедрой стал доцент, кандидат технических наук (впоследствии профессор, доктор технических наук) О. П. Ситников.</p></li>
                <li><b>1969 г.</b><p>Первый прием на специальность «Автоматизированные системы управления». Сдана в эксплуатацию первая очередь нового учебного корпуса РТФ.</p></li>
                <li><b>1963 г.</b><p>Первый выпуск инженеров специальности «Радиоэлектронные устройства», целиком состоящий из студентов дополнительного набора, перешедших с электротехнического и механического факультетов. Дипломы вручены 91 инженеру.</p></li>
                <li><b>1962-1963 гг.</b><p>Студентами РТФ за год построен 11-й студенческий корпус. Командиром студенческого отряда был Б. М. Путинцев, в дальнейшем — один из создателей телецентра УПИ, начальник отдела технических средств обучения, проректор по хозяйственной работе. Комиссар отряда — А. П. Мальцев, в дальнейшем более 20 лет заведовавший кафедрой теоретических основ радиотехники.</p></li>
                <li><b>1961 г.</b><p>Открыта новая кафедра — «Электронные приборы», призванная организовывать обучение и выпуск специалистов новой специальности «Радиоэлектронные устройства». Заведующим кафедрой назначен доцент, кандидат технических наук Ю. Н. Болотов.</p></li>
                <li><b>1959-1960 гг.</b><p>Первый прием студентов на специальность «Радиоэлектронные устройства» (в настоящее время «Радиоэлектронные системы»), первый дополнительный набор — на РТФ переведено две группы студентов с энергетического факультета. На факультете создано студенческое конструкторское бюро СКБ - 1, первое в институте и одно из первых в стране.</p></li>
                <li><b>1957 г.</b><p>Первый выпуск студентов специальности «Конструирование и технология производства радиоаппаратуры» (82 специалиста). На факультете начаты две крупные НИР по заказу Министерства обороны.</p></li>
                <li><b>1956 г.</b><p>Первый выпуск студентов, поступивших на радиотехнический факультет в 1951 году, в том числе 71 студент специальности «Радиотехника».</p></li>
                <li><b>1955 г.</b><p>На факультете открыта специальность «Конструирование и технология производства радиоаппаратуры», на которую переведены восемь групп студентов, учившихся на специальности «Радиотехника».</p>
                    <p>Деканом факультета стал доцент, кандидат технических наук В. В. Мельников, заведующим кафедрой радиоаппаратуры — В. А. Лосев, кафедрой автоматики и телемеханики — доктор технических наук А. Т. Блажкин.</p></li>
                <li><b>1953-1954 гг.</b><p>Первые шаги факультета — на РТФ 560 студентов, 7 кафедр и 24 преподавателя. Появились первые выпускники — радиофак закончили 15 студентов специальности «Автоматика и телемеханика», переведенных в 1952 году с энергетического факультета.</p><p>Заведующим кафедрой аппаратуры автоматического управления стал О. П. Ситников, доцент, кандидат технических наук. Созданы кафедры радиопередающих устройств (заведующий — А. И. Портнягин) и радиоприемных устройств (заведующий — Н. А. Нехонов). В штатном расписании появились кафедра автоматики и телемеханики, кафедра радиоаппаратуры — пока без заведующих.</p></li>
                <li><b>1952 г.</b><p>На факультете три кафедры: Теория автоматических процессов (и.о. зав. кафедрой — доцент, кандидат технических наук И. Н. Печорина), Аппаратура автоматического управления (и.о. зав. кафедрой доцент, кандидат технических наук В. Г. Степанов), Теоретические основы радиотехники (в дальнейшем зав. кафедрой В. П. Шашерин). На первый курс принято 200 студентов, из них 50 — по специальности «Автоматика и телемеханика», 150 — по специальности «Радиотехника».</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>