<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;display: block;">
    <div>
        <h1 style="font-size: 1.375em;
        margin: 0;
        padding: 0;
        line-height: 1.2em;
        color: #444;    -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;display: block;-webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;font-family: sans-serif;">Международная деятельность</h1>
    </div>
    
    <div style="font-size: 0.79em;
        line-height: 1.3em;
        margin: 0;
        margin-bottom: 10px;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;">
        <p>По вопросам участия в программах обращаться к Юлии Папановой </p>
        <p>координатору международных программ </p>
        <p>Центр международного сотрудничества УрФУ И-436 </p>
        <p>тел.: +7 343 375 4768; +7 343 375 4627 </p>
        <p>E-mail: <a href="typo3/fileadmin/user_upload/rtf.urfu.ru/Dokumenty/Obshee/megdeyat.docx" title="megdeyat.docx (20 KB)">grants@mail.ustu.ru</a> </p>
        <p><a href="http://urfu.ru/ru/international/" title="Внешняя ссылка открывается в новом окне" class="external-link-new-window">http://urfu.ru/ru/international/</a></p>
        <p><a href="http://www.vkontakte.ru/club14833576" target="_blank">www.vkontakte.ru/club14833576</a> </p>
        <p>&nbsp;</p>
        <p><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Obshee/megdeyat.docx" title="megdeyat.docx (20 KB)">Подробнее...(скачать файл)</a> </p>

        <p>Олег Клюдт, студент группы Р-56071, выиграл стипендию DAAD – Германской службы академических обменов. По этой стипендии он будет учиться в магистратуре Мюнхенского технического университета. Олегу оплатят проезд, обучение, языковые курсы и будут выплачивать ежемесячную стипендию в размере 700 евро. <a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Obshee/Akademicheskii_obmen_v_deistvii.doc" title="Akademicheskii_obmen_v_deistvii.doc (35 KB)" >подробнее...(скачать файл)</a> </p>
        <p>&nbsp;</p>
        <p>15-19 мая состоялся визит делегации УрФУ в Донецкий национальный технический университет. В состав ДонНТУ входят факультеты, готовящие бакалавров, магистров и специалистов по тем же направлениям, что и ИРИТ-РТФ: факультет радиотехники и специальной подготовки, факультет компьютерных наук и технологий , факультет компьтерных информационных технологий и автоматики. В ходе визита был подписан протокол о сотрудничестве.</p>
    </div>
</div>