<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;display: block;">
    <div>
        <h1 style="font-size: 1.375em;
        margin: 0;
        padding: 0;
        line-height: 1.2em;
        color: #444; -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold; display: block; font-family: sans-serif;color: #222;">Презентация ИРИТ-РТФ</h1>
    </div>

        <p><section><article id="c612"><object data="http://rtf.urfu.ru/fileadmin/Dokumenty/Postuplenie/IRIT-RTF_dlja_DOD_aprel_2017_dlja_saita.pdf" type="application/pdf" width="600" height="450" internalinstanceid="20">
        </object></article></section>
</div>
