<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;display: block;font-size: 100%;">
    
    <div style="border-top: 0;
    margin-top: 0;
    padding-top: 0;margin-bottom: 1em;">
        <div>
            <h1 style="font-size: 1.375em;
            margin: 0;
            padding: 0;
            line-height: 1.2em;
            color: #444;    -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;display: block;-webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;font-family: sans-serif;">Лаборатория робототехники</h1>
        </div>
        <div>
            <div style=" float: left; margin-right: 10px;">
                <figure class="csc-textpic-image csc-textpic-last"><img src="http://rtf.urfu.ru/typo3temp/pics/f31e5abced.jpg" width="107" height="175" alt=""></figure>
            </div>
            
            <div style="margin-left: 0px!important;">
                <p>&nbsp;</p>
				<p><b>Руководитель лаборатории - доцент, к.т.н&nbsp;</b><b>Малыгин Иван Владимирович,</b></p>
				<p>E-mail:&nbsp;<span style="color: rgb(0, 119, 204); text-decoration-line: none; font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;"><a href="https://e.mail.ru/compose/?mailto=mailto%3apit_pit2@mail.ru" target="_blank" rel="noopener">pit_pit2@mail.ru</a></span>&nbsp;</p>
				<p>Тел.:&nbsp;(912) 242-98-96</p>
				<p>Адрес: 620002, Екатеринбург, ул. Мира, д.&nbsp;32, Р-045.</p>
                <p>&nbsp;</p>
            </div>
        </div>
        
        <div style="text-align: justify;font-size: 0.79em;
            line-height: 1.3em;
            margin: 0;
            margin-bottom: 10px; -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;display: block;" >
            <p class="align-justify">История лаборатории робототехники ИРИТ-РТФ начинается с 2005 года, когда комплекс созданных в лаборатории роботов получил золотую медаль выставки "Связь-Пром 2005" (Екатеринбург). В 2006 году памятной медали выставки «Робототехника-2006» (Москва, ВВЦ) была удостоена разработанная в лаборатории система (и концепция) роботизированной уборки мусора и конструкция робота для уборки мусора. </p>
            <p class="align-justify">В 2007 году было получено три патента на разработанные устройства:&nbsp;<br> 1.Роботизированный комплекс. Патент на полезную модель № 65421 от 10 августа 2007 года&nbsp;<br> 2.Роботизированная огневая установка. Патент на полезную модель № 67008 от 10 октября 2007 года<br> 3.Система автоматизированной уборки помещений. Патент на изобретение №&nbsp;2311868&nbsp;от 10 декабря 2007 года.<br> </p>
            <p class="align-justify">Запатентованные устройства были подробно рассмотрены в журнале&nbsp;"Бизнес и жизнь" <a href="http://rtf.urfu.ru/fileadmin/Images/Laboratoria_Robotov/ris1.jpg" title="Начинается скачивание файла" class="download">февраль 2011</a>.<br> В 2011 году на выставках «Иннопром-2011» (Россия, Екатеринбург), RussianExpoArms-2011 (Россия, Нижний Тагил) и ASRTURobotConfest&amp;Fair (Китай, Харбин, Пекин) был представлен <a href="http://rtf.urfu.ru/fileadmin/Images/Laboratoria_Robotov/android_robot.pdf" title="Начинается скачивание файла" class="download">проект андроидного робота</a>. На <a href="http://rtf.urfu.ru/fileadmin/Images/Laboratoria_Robotov/ris2.jpg" title="Начинается скачивание файла" class="download">фото</a> губернатор Свердловской области А.С. Мишарин, показывающий нашего робота президенту РФ В.В.&nbsp;Путину.&nbsp;<a href="http://rtf.urfu.ru/fileadmin/Images/Laboratoria_Robotov/ris3.pdf" title="Начинается скачивание файла" class="download">Офицеры</a> немецкого офиса НАТО, обсуждающие андроидного робота с руководителем лаборатории.<br> </p>
            <p class="align-justify">За последнее время два наших выпускника - Дмитрий Попов и Михаил Усвяцов продолжили свое обучение в магистратуре университета Иннополис (Казань) по специальности "Робототехника", пройдя по конкурсу примерно 100 человек на одно место. </p>
            <p class="align-justify">В 2014 году о роботах, созданных в лаборатории, писал журнал "ЕКБ.Собака.РУ" <a href="http://rtf.urfu.ru/fileadmin/Images/Laboratoria_Robotov/ris4.pdf" title="Начинается скачивание файла" class="download">№ 48</a> за 2014 год.</p>
            <p class="align-justify">В&nbsp;2016-2017&nbsp;учебном году в лаборатории проводился практикум для студентов 10 класса СУНЦа по проектированию роботов.</p>
            <p class="align-justify">В настоящее время студенты в лаборатории создают андроидного робота.</p>
        </div>
    </div>
</div>