<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;padding-bottom: 130px;    
    width: 750px;
    margin-left: 1.25em;font-size: 100%;    display: block;">
    <div>
        <h1 style="font-size: 1.375em;
            margin: 0;
            padding: 0;
            line-height: 1.2em;
            color: #444;    -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;display: block;-webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;font-family: sans-serif;">Центр космического мониторинга
        </h1>
        
        <p style="text-align: justify;">&nbsp;</p>

        <div style="text-align: justify;font-size: 0.79em;
            line-height: 1.3em;
            margin: 0;
            margin-bottom: 10px; -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;display: block;" >
            <p>Центр космического мониторинга создан на базе Института радиоэлектроники и информационных технологий – РТФ как научно-учебное &nbsp;подразделение, способное осуществлять полный цикл работ: от приёма информации с природно-ресурсных спутников Земли до получения готовых продуктов специализированной обработки в виде тематических карт, отраслевых ГИС, данных оперативного космического мониторинга.</p>

            <p>В состав ЦКМ входят:</p>

            <ul style="margin: 1em 0;
            padding: 0 0 0 2.5em;    display: block;
            list-style-type: disc;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 40px;"><li style="text-align: justify;">наземная станция приема и обработки космической информации <span lang="EN-US">X</span>-диапазона <b>«</b>УниСкан-24», включая терминалы приема, первичной обработки, хранения и каталогизации данных, принимаемых с космических аппаратов природно-ресурсного назначения;</li><li style="text-align: justify;">лаборатория геоинформационных технологий и обработки данных дистанционного зондирования Земли.</li></ul>
        </div>

        <div>
            <figure><img src="http://rtf.urfu.ru/typo3temp/pics/484bbc161b.jpg" width="600" height="400" alt=""></figure>
        </div>
        

        
        <div style="margin-left: 0px!important;text-align: justify;">
        <p style="margin-left:0cm;mso-add-space:auto;text-align: justify;text-indent:1.0cm">&nbsp;</p>
        <p style="margin-left:0cm;mso-add-space:auto;text-align: justify;text-indent:1.0cm">Станция <b>«</b>УниСкан-24» обеспечивает возможность оперативного приема данных, получаемых системами дистанционного зондирования Земли низкого, среднего и высокого пространственного разрешения. Сегодня осуществляется прием информации от оптико-электронных датчиков со спутников <i><span lang="EN-US">TERRA</span></i>, <i><span lang="EN-US">AQUA</span></i> и <i><span lang="EN-US">UK</span></i><i>-</i><i><span lang="EN-US">DMC</span></i> и радиолокатора с синтезированной апертурой <span lang="EN-US">RADARSAT</span>. </p>
        <p style="margin-left:0cm;mso-add-space:auto;text-align: justify;text-indent:1.0cm" class="align-justify">Лаборатория геоинформационных технологий и обработки данных дистанционного зондирования Земли, оснащенная программным обеспечением, которое включает в себя:</p><ul><li >программные комплексы обработки данных дистанционного зондирования Земли: <i><span lang="EN-US">ENVI</span></i> с модулями обработки космических радиолокационных изображений <i><span lang="EN-US">SARscape</span></i><i><span lang="EN-US"> </span></i><i><span lang="EN-US">Basic</span></i> и <i><span lang="EN-US">SARscape</span></i><i><span lang="EN-US"> </span></i><i><span lang="EN-US">InSAR</span></i>; <i><span lang="EN-US">ERDAS</span></i><i><span lang="EN-US"> </span></i><i><span lang="EN-US">Imagine</span></i><i>, </i><i><span lang="EN-US">ScanEX</span></i><i><span lang="EN-US"> </span></i><i><span lang="EN-US">Image</span></i><i><span lang="EN-US"> </span></i><i><span lang="EN-US">Processor</span></i><i>, </i><i><span lang="EN-US">Fhotomod</span></i>;</li><li class="align-justify">геоинформационные системы: <i>ArcGis, ArcView</i> со специализированными модулями геостатистического анализа, 3<i>D</i> моделирования и пространственного анализа и <i>MicroStation</i>. </li></ul><p style="margin-left:0cm;mso-add-space:auto; text-align:justify;text-indent:36.0pt;tab-stops:list 45.0pt" >По оснащению самым современным специализированным программным обеспечением лаборатория не будет иметь аналогов в Уральском Федеральном округе. </p>
        <p style="margin-left:0cm;mso-add-space:auto; text-align:justify;text-indent:36.0pt;tab-stops:list 45.0pt">&nbsp;</p>
        <p style="margin-left:0cm;mso-add-space:auto;text-align: justify;tab-stops:list 45.0pt"><i>Предлагаемые услуги:</i></p><ol><li>Индивидуальное и групповое обучение методам обработки данных дистанционного зондирования Земли при решении различных прикладных задач (курсы повышения квалификации с выдачей удостоверения установленного образца).&nbsp;</li><li >Предоставление учебно-методического обеспечения для преподавателей вузов, ведущих подготовку по дисциплинам «Геоинформационные системы», «Цифровая обработка изображений», «Основы дистанционного зондирования» и др.&nbsp;</li><li >Разработка методик обработки космических спектрозональных и радиолокационных изображений при решении различных тематических задач и создании геоинформационных систем на их основе (обновление цифровых топографических карт, экологический мониторинг, обнаружение и оценка последствий чрезвычайных ситуаций природного и техногенного характера, учет ресурсов земель сельскохозяйственного назначения и т. п.).</li><li>Оказание научно-технических консультаций по созданию тематических карт и геоинформационных систем на основе данных дистанционного зондирования Земли.&nbsp;</li><li>Выполнение совместных научно-исследовательских работ.</li></ol>
        </div> 
    </div>
</div>