<div style="font-family: sans-serif;
    color: #222; padding-bottom: 130px;    float: left;
    width: 750px;
    margin-left: 1.25em;padding-bottom: 130px;    
    width: 750px;
    margin-left: 1.25em;font-size: 100%; display: block;">
    <div>
        <div>
            <h1 style="font-size: 1.375em;
            margin: 0;
            padding: 0;
            line-height: 1.2em;
            color: #444;    -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;display: block;-webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;font-family: sans-serif;">Центр тестирования навигационной аппаратуры GPS/ГЛОНАСС</h1>
        </div>
        
        <div style="overflow: hidden;font-size: 100%;border-top: 0;
            margin-top: 0;
            padding-top: 0; margin-bottom: 1em;">
            
            <div>
                <figure style="overflow: hidden;"><img src="http://rtf.urfu.ru/typo3temp/pics/381ae72d34.jpg" width="711" height="400" alt=""></figure>
            </div>
            
            <div style="0px!important;   text-align: justify;">
                <div class="csc-textpic-text"><p style="line-height: 18px;">&nbsp;</p>
					<p style="line-height: 18px;" ><b>Оборудование центра предназначено для решения широкого спектра задач, связанных с&nbsp; разработкой и тестированием навигационной аппаратуры&nbsp;</b><b><span lang="EN-US">GPS</span>/ГЛОНАСС.&nbsp;</b>Основу оборудования лаборатории составляют имитатор навигационных сигналов Spirent GSS6700 (№64107-16 в государственном реестре средств измерений) и устройство записи и воспроизведения реальных навигационных сигналов Spirent GSS6400. Аппаратура центра имеет лучшие показатели точности, достоверности и надёжности в своём классе<b>&nbsp;</b>(точность псевдодальности:&nbsp;<b>±0,002 м</b>, точность псевдоскорости:&nbsp;<b>±0,001 м/с</b>).</p>
					<p style="line-height: 18px;" class="align-justify"><b>Центр проводит</b><b><span lang="EN-US">:</span></b></p><ul><li><b style="text-align: justify;">Тестирование работы и измерение технических параметров навигационных приёмников&nbsp;</b><b style="text-align: justify;"><span lang="EN-US">GPS</span>/ГЛОНАСС</b><span style="text-align: justify;">&nbsp;(точность определения координат и скорости, чувствительность, помехоустойчивость и др.) в статическом режиме и при имитации движения навигационной аппаратуры на самолётах, ракетах, кораблях, автомобилях. Предельные параметры движения: максимальная скорость 10 км/с, максимальное ускорение 45</span><span lang="EN-US" style="text-align: justify;">g</span><span style="text-align: justify;">.</span></li><li class="align-justify"><b>Исследования работы навигационной аппаратуры с учётом реальных условий эксплуатации</b>&nbsp;(наличие помех, затенение приёмника наземными объектами, многолучевое распространение радиоволн и др.).</li><li><b>Поверку навигационной аппаратуры&nbsp;</b><b><span lang="EN-US">GPS</span>/ГЛОНАСС</b>.</li><li><b>Испытания различных образцов навигационных приёмников по методикам&nbsp;</b>ГОСТ&nbsp; Р 55539-2013 и их сравнительный анализ.</li></ul></div>
            </div>
        </div>
    </div>
</div>