<div style="display: block;font-size: 100%;position:fixed;overflow:hidden">
    <div>
        <h1 style="text-align: left;    font-size: 1.375em;
        margin: 0;
        padding: 0;
        line-height: 1.2em;
        color: #444;    -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;    display: block;font-family: sans-serif;
        color: #222;">Виртуальная экскурсия</h1>
        <p></p>
    </div>
    
    
    <div style="position:fixed;overflow:hidden;padding-bottom: 130px;    float: left;
        width: 550px;
        margin-left: 1.25em;    ">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,42,0" id="Godcow" width="550" height="500">
        <param name="movie" value="http://rtf.urfu.ru/fileadmin/ExcursiaIRIT-RTF/IRIT-RTF.swf">
        <param name="bgcolor" value="#FFFFFF">
        <param name="quality" value="high">
        <param name="wmode" value="transparent">
        <param name="seamlesstabbing" value="false">
        <param name="allowscriptaccess" value="samedomain">
        <embed type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" name="Virtual Tour" width="550" height="500" src="http://rtf.urfu.ru/fileadmin/ExcursiaIRIT-RTF/IRIT-RTF.swf" quality="high" wmode="transparent" seamlesstabbing="false" allowscriptaccess="samedomain">
        </object>
    </div>
</div>