.root-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0168B5;
  height: 46px;
  font-size: 12pt;
  font-family: Roboto, sans-serif;
  justify-content: space-between;
  padding: 0 100px;
}

.root-header a {
  display: inline-block;
  text-decoration-line: none;
  color: white;
}

.root-header a:hover {
  text-decoration-line: underline;
}

img {
  height: 30px;
}
