<div class="root-header">
  <img src="assets/img/white-logo.png" routerLink="">
  <a routerLink="/about">ОБ ИНСТИТУТЕ</a>
  <a routerLink="/for-abit">АБИТУРИЕНТУ</a>
  <a href="#">АСПИРАНТУ</a>
  <a routerLink="/for-students">СТУДЕНТУ</a>
  <a href="#">НОВОСТИ</a>
  <a routerLink="/science">НАУКА</a>
  <a href="#">ОТ РАБОТАДАТЕЛЕЙ</a>
  <a routerLink="/not-stud">ВНЕУЧЕБНАЯ ЖИЗНЬ</a>
</div>
