<div *ngIf="news">
  <ul class="ul-news" *ngFor="let item of news">
    <li>
      <p class="title">{{item.title}}</p>
      <p class="description">{{item.description}}</p>
      <div *ngFor="let el of item.img">
        <img (click)="openModal(el.url)" class="image" src={{el.url}}>
      </div>
    </li>
  </ul>
</div>
