.root-footer {
  background-color: #313439;
  color: white;
  font-family: Roboto serif;
  width: 100%;
  white-space: nowrap;
  clear: both;
    position: relative;
    z-index: 10;
    margin-top: -3em;
}
.contacts {
  list-style-type: none;
  flex: 0 0;
  padding: 0;
  width: 35%;
  margin-left: 150px;
}
.contacts li {
  margin-bottom: 25px;

}
.contacts a {
  text-decoration: none;
  color: white;

}
.info {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
}
.social {
  flex: 0 0;
  width: 35%;
  margin-right: 150px;
}
.vk {
  width: 60px;
  height: 45px;
  margin-right: 50px;
}
.inst {
  width: 50px;
  height: 50px;
}
.root-child {
  display: flex;
  flex-direction: row;
}
