<div class="root-footer">
  <div class="root-child">
    <ul class="contacts">
      <li><a href="#">КОНТАКТЫ</a></li>
      <li><a href="#">НАШИ ПАРТНЕРЫ</a></li>
      <li><a href="#">НАПИСАТЬ НАМ</a></li>
    </ul>
    <div class="info">
      <p>Институт радиоэлектроники <br> и информационных технологий - РТФ</p>
      <p>Россия, г. Екатеринбург, ул. Мира 32 <br>
        Дирекция: +7 (343) 375-41-65 <br>
        Электронная почта: dekanat@rtf.ustu.ru</p>
    </div>
    <div class="social">
      <p>Мы в социальных сетях:</p>
      <img class="vk" src="assets/img/vk.png">
      <img class="inst" src="assets/img/instagram.png">
    </div>
  </div>
</div>
