﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c1221"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Консультации и пересдачи</h1></header><p><b><font size="3"><font face="Times New Roman"></font></font></b>
</p>
						<p><b><i style="background-color: rgb(255, 255, 51);">2017-2018 уч.год</i></b>
</p>
						<p><b>Всем студентам заочного обучения!</b>
</p>
						<p><b>Справки, зачетные книжки, экзаменационные листы («хвостовки») и другие необходимые документы&nbsp;</b><b>брать в деканате Р-217а&nbsp;</b><b>ЗАРАНЕЕ!!!</b>
</p>
						<p><b><i style="background-color: rgb(255, 255, 51);">Весенний семестр</i></b>
</p>
						<p><b>Пересдача по дисциплине&nbsp;</b><b>Радиоизмерения и&nbsp;</b><b>Электромагнитная совместимость устройств и систем,&nbsp;</b><b>преподаватель </b><b>Князев Н.С.,&nbsp;</b><b>состоится &nbsp;21.03.2018&nbsp;</b><b>в 18.00&nbsp;</b><b>ауд. </b><b>Р-404</b>
</p>
						<p><b><br></b><b style="text-align: center;">Студенты, желающие&nbsp;</b><b style="text-align: center;">пересдать Математику,&nbsp;</b><b style="text-align: center;">могут подойти 22.03.18&nbsp;</b><b style="text-align: center;">в 08.30, ауд.Р-048&nbsp;</b><b style="text-align: center;">преподаватель </b><b style="text-align: center;">Поторочина К.С.&nbsp;</b><b style="text-align: center;">(24.03.18 пересдача тоже будет)</b>
</p>
						<p><b><u>Пересдачи по&nbsp;<i>физике</i></u></b><b>&nbsp;проводятся каждую третью субботу месяца. Следующая пересдача&nbsp;</b><b>состоится &nbsp;17.03.2018&nbsp;</b><b>в 14.00 в ауд. III (ГУК-401)</b>
</p>
						<p><b>Пересдачи задолженностей по математике и&nbsp;</b><b>консультации по контрольным работам&nbsp;</b><b>для студентов заочного обучения&nbsp;</b><b>будут проходить&nbsp;</b><b>24 марта, 28 апреля, 26 мая 2018 года&nbsp;</b><b>с 14<u><sup>00</sup></u> до 17<u><sup>00</sup></u></b><sup> </sup>&nbsp;<b>в ауд. Р-050.&nbsp;</b>На пересдачу <u>обязательно</u> нужно принести зачетную книжку, «хвостовку» и зачтенные контрольные работы.&nbsp;Отсутствие хотя бы одного из вышеперечисленного –&nbsp;<u>недопуск</u> к пересдаче!&nbsp;<b>Крайний срок сдачи контрольных работ за весенний семестр </b><b>-</b><b> 26 мая 2018.&nbsp;</b><b>/</b><b>ауд. Р-336, тел. 375-48-78/.&nbsp;</b><b>Ответственный:&nbsp;</b><b>доцент Поторочина Ксения Сергеевна</b>
</p>
						<p>&nbsp;</p>
						<p><b><i style="background-color: rgb(255, 255, 51);">Осенний семестр</i></b>
</p>
						<p><b>Пересдача по </b><a href="https://uni.urfu.ru/fx/uni/ru.naumen.uni.published_jsp?parentcorebo18hc2jg0000lp0hnbfrg0o77f4=undigr18hc2jg0000l83m947e8ac75nk&amp;uuid=corebo18hc2jg0000lp0hnbfrg0o77f4&amp;parentACIDcorebo18hc2jg0000lp0hnbfrg0o77f4=GroupDSRegisters" target="_top"><b>Математике </b></a><b>&nbsp;</b><b>для студентов 1 и 2 курсов&nbsp;</b><b>будет проходить 2 февраля&nbsp;</b><b>в 8.30 ауд. Р-104.&nbsp;</b><b>При себе иметь зачетную книжку и экзаменационный лист («хвостовку»).&nbsp;</b><b>Экзаменационные листы получить в деканате Р-217а до среды 31.01.2018</b>
</p>
						<p><b>Пересдача по дисциплине </b><b><a href="https://uni.urfu.ru/fx/uni/ru.naumen.uni.published_jsp?parentcorebo18hc2jg0000lp0hnbfrg0o77f4=undigr18hc2jg0000l83m947e8ac75nk&amp;uuid=corebo18hc2jg0000lp0hnbfrg0o77f4&amp;parentACIDcorebo18hc2jg0000lp0hnbfrg0o77f4=GroupDSRegisters" target="_top">Алгоритмизация и программирование</a></b><b>,&nbsp;</b><b>преподаватель </b><b>Саблина Н.Г.,&nbsp;</b><b>состоится &nbsp;25.01.2018&nbsp;</b><b>в 17.40,&nbsp;</b><b>ауд. </b><b>Р-223</b>
</p>
						<p><b><u>Пересдачи по&nbsp;<i>физике</i></u></b><b>&nbsp;проводятся каждую третью субботу месяца. Следующая пересдача&nbsp;</b><b>состоится &nbsp;16.12.2017&nbsp;</b><b>в 14.00 в ауд.&nbsp;</b><b>М-538 (Мехфак, ГУК левое крыло, 5 этаж)</b>
</p>
						<p><b>Студентам гр. РИЗ-350</b><b><b>019</b></b><b>! Контакты преподавателя по дисциплине&nbsp;</b><b><i>Защита интеллектуальной собственности</i></b><b><b>:</b><b><b>&nbsp;</b>Кругленко Ирина Фаридовна, Тел.: (343) 374-54-62,&nbsp;e-mail:</b> <a href="mailto:aris2000@mail.ru" class="ns-action" data-click-action="common.go" data-params="new_window&amp;url=%23compose%3Fmailto%3Daris2000%2540mail.ru">aris2000@mail.ru</a></b>
</p>
						<p><b><u>Пересдачи задолженностей</u></b><b> по <i>математик</i>е и&nbsp;</b><b><u>консультации</u></b><b> по контрольным работам&nbsp;</b><b>для студентов заочного обучения&nbsp;</b><b>будут проходить&nbsp;</b><b>14 октября, 11 ноября, 9 декабря 2017 года&nbsp;</b><b>с 14<u><sup>00</sup></u> до 17<u><sup>00</sup></u></b><sup> </sup>&nbsp;<b>в ауд. Р-050.&nbsp;</b><b>На пересдачу <u>обязательно</u> нужно принести зачетную книжку, «хвостовку» и зачтенные контрольные работы.&nbsp;</b><b>Отсутствие хотя бы одного из вышеперечисленного –&nbsp;</b><b><u>недопуск</u> к пересдаче!&nbsp;</b><b>Срок сдачи контрольных работ за осенний семестр:&nbsp;</b><b>до 23 декабря 2017&nbsp;г.&nbsp;</b><b>/Департамент информационных технологий и автоматики&nbsp;</b><b>ауд. Р-336, тел. 375-48-78/&nbsp;</b><b>Ответственный:&nbsp;</b><b>ст.преподаватель Белоусова Марина Михайловна.&nbsp;</b><b>По возникшим вопросам можно писать на эл.адрес&nbsp;</b><a><b>mihalevamm@yandex.ru&nbsp;</b></a>
</p>
						<p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 15.6pt">&nbsp;</p>
						<p><b><u>Пересдача по <i>физике</i></u></b><b>&nbsp;</b><b>состоится &nbsp;16.09.2017&nbsp;</b><b>в 14.00 в ауд. I</b><b><span lang="EN-US">II&nbsp;</span></b><b>(ауд. кафедры И-253)</b>
</p>
						<p><b><i>Русский язык.</i>&nbsp;Желающим пересдать русский язык обращаться на кафедру Русского языка, ауд.Т-608 или к преподавателю Рябцевой Надежде Алексеевне,&nbsp;</b><b>электронная&nbsp;почта&nbsp;</b><a><b>nadriabtceva@gmail.com</b></a>
</p>
						<p>&nbsp;</p>
						<p><b><i>2016-2017 уч.год</i></b>
</p>
						<p><b><font size="3"><font face="Times New Roman">ВНИМАНИЕ!</font></font></b>
</p>
						<p><b><i>Весенний семестр</i></b>
</p>
						<p><b>Пересдача по </b><b>Информатике,&nbsp;</b><b>преподаватель </b><b>Саблина Н.Г.,&nbsp;</b><b>состоится &nbsp;2</b><b><span lang="EN-US">7</span></b><b>.0</b><b><span lang="EN-US">5</span></b><b>.2017&nbsp;</b><b>с 12.00&nbsp;</b><b>ауд. </b><b>Р-234</b>
</p>
						<p><b>Пересдать задолженности&nbsp;</b><b>по </b><b>Философии&nbsp;</b><b>можно по средам с 14.15&nbsp;</b><b>ауд. </b><b>И-317&nbsp;</b><b>преподаватель </b><b>Фокин Н.П.</b>
</p>
						<p><b>Пересдача по физике&nbsp;</b><b>состоится &nbsp;15.04.2017&nbsp;</b><b>в 14.00 в ауд. </b><b><span lang="EN-US">II&nbsp;</span></b><b>(ауд. кафедры И-253)</b>
</p>
						<p><b><u>Пересдачи задолженностей</u></b><b> по математике и&nbsp;</b><b><u>консультации</u></b><b> по контрольным работам&nbsp;</b><b>для студентов заочного обучения&nbsp;</b><b>будут проходить&nbsp;</b><b>25 марта, 22 апреля, 27 мая 2017 года&nbsp;</b><b>с 14<u><sup>00</sup></u> до 17<u><sup>00</sup></u></b><sup> </sup>&nbsp;<b>в ауд. Р-050.</b><b><b>&nbsp;</b>На пересдачу <u>обязательно</u> нужно принести зачетную книжку, «хвостовку» и зачтенные контрольные работы.&nbsp;Отсутствие хотя бы одного из вышеперечисленного –&nbsp;<u>недопуск</u> к пересдаче!</b><b>/</b><b>ауд. Р-336, тел. 375-48-78/</b><b>Ответственный:&nbsp;</b><b>ст.преподаватель Михалева Марина Михайловна</b>
</p>
						<p><b>Пересдача по дисциплине&nbsp;</b><b>Основы теории сигналов&nbsp;</b><b>будет проходить &nbsp;13.03.2017&nbsp;</b><b>с 12.00 ауд. </b><b>Р-246</b>
</p>
						<p><b>Пересдача по </b><b>Информатике,&nbsp;</b><b>преподаватель </b><b>Саблина Н.Г.,&nbsp;</b><b>состоится &nbsp;25.03.2017&nbsp;</b><b>в 12.00 – 14.00&nbsp;</b><b>ауд. </b><b>Р-234</b>
</p>
						<p><b><i>Осенний семестр</i></b>
</p>
						<p><b>Пересдача по физике&nbsp;</b><b>состоится &nbsp;1</b><b><span lang="EN-US">9</span></b><b>.</b><b><span lang="EN-US">11</span></b><b>.2016&nbsp;</b><b>в 14.15 в ауд. И-</b><b><span lang="EN-US">335&nbsp;</span></b><b>ауд. кафедры И-253</b>
</p>
						<p><b>Пересдача по дисциплине&nbsp;</b><b>Основы теории сигналов, преподаватель Кумков С.И.,&nbsp;</b><b>состоится &nbsp;20.10.2016&nbsp;</b><b><span lang="EN-US">I</span></b><b>-</b><b><span lang="EN-US">II</span></b><b> парами (с 8.30)&nbsp;</b><b>ауд. </b><b>Р-345</b>
</p>
						<p><b>Пересдача по дисциплине&nbsp;</b><b>радиоматериалы и радиокомпоненты&nbsp;</b><b>у преподавателя Батуева В.П.&nbsp;</b><b>состоится &nbsp;20.10.2016&nbsp;</b><b>в 13.30, ауд. Р-431</b>
</p>
						<p><b>Пересдача у преподавателя Соловьяновой И.П.&nbsp;</b><b>состоится&nbsp;</b><b>2</b><b><span lang="EN-US">1</span></b><b>.</b><b><span lang="EN-US">10</span></b><b>.2016 в 1</b><b><span lang="EN-US">4</span></b><b>.</b><b><span lang="EN-US">15</span></b><b> ауд. Р-421</b>
</p>
						<p style="margin:0cm;margin-bottom:.0001pt; text-align:center;line-height:150%"><b></b></p>
						<p><b>Пересдача&nbsp;по&nbsp;<i>физике</i>&nbsp;</b><b>состоится&nbsp;17.09.2016&nbsp;</b><b>в&nbsp;14.15&nbsp;в&nbsp;ауд.&nbsp;</b><b><span lang="EN-US">II&nbsp;</span></b><b>ауд.&nbsp;кафедры И-253</b>
</p>
						<p><b><u>Консультации</u></b><b> по контрольным работам&nbsp;</b><b>по <i>математике</i>&nbsp;</b><b>для студентов заочного обучения&nbsp;</b><b>будут проходить&nbsp;</b><b>8 октября, 12 ноября, 10 декабря 2016 года&nbsp;</b><b>с 14<u><sup>00</sup></u> до </b>17<b><u><sup>00</sup></u></b><sup> </sup>&nbsp;<b>в ауд. Р-050.</b>
</p>
						<p style="margin:0cm;margin-bottom:.0001pt"><b><u>Пересдачи&nbsp;задолженностей&nbsp;</u></b><b>по&nbsp;<i>математике</i>&nbsp;</b><b>для&nbsp;студентов&nbsp;заочного&nbsp;обучения&nbsp;</b><b>будут проходить&nbsp;</b><b>15 октября, 12 ноября, 10 декабря 2016 года&nbsp;</b><b>с 14<u><sup>00</sup></u> до </b>17<b><u><sup>00</sup></u></b><sup> </sup>&nbsp;<b>в ауд. Р-050.&nbsp;</b></p>
						<p style="margin:0cm;margin-bottom:.0001pt"><b>На пересдачу <u>обязательно</u> нужно принести зачетную книжку, «хвостовку» и зачтенные контрольные работы. </b><b>Отсутствие хотя бы одного из вышеперечисленного – <u>не допуск</u> к пересдаче!&nbsp;</b><b>/каф. ВМиУМФ (ауд. Р-336) тел. 375-48-78/&nbsp;</b><b>ответст. Михалева Марина&nbsp;Михайловна</b></p>
						<p style="margin:0cm;margin-bottom:.0001pt">&nbsp;</p>
						<p style="margin:0cm;margin-bottom:.0001pt"><b>Консультации по&nbsp;<strong>&nbsp;<i>Инженерной графике</i>&nbsp;</strong></b><b>будут проходить по субботам&nbsp;</b><b>в 11.40 в ауд. Мт-344,&nbsp;</b><b>доц. Семенова Наталья Владимировна,&nbsp;</b><b>e-mail:&nbsp;<a href="index.php?id=369">n.v.semenova@urfu.ru&nbsp;</a></b></p>
						<p style="margin:0cm;margin-bottom:.0001pt">&nbsp;</p>
						<p style="margin:0cm;margin-bottom:.0001pt"><b>Пересдачи по <i>ФИЗИКЕ</i> будут проходить&nbsp;каждую 3-ю субботу месяца в 14.00 в ауд.&nbsp;</b><b><span lang="EN-US">II</span>&nbsp;или&nbsp;</b><b>на кафедре (ауд. И-253).&nbsp;</b><b>По вопросам пересдач и др. можно обращаться по адресу&nbsp;</b><b><a href="index.php?id=369">e.i.lopatko@urfu.ru.</a>&nbsp;&nbsp;</b><b>Информацию&nbsp;и методические рекомендации&nbsp;по физике см. по ссылке&nbsp;&nbsp;</b><a href="http://kf.info.urfu.ru/trudy-kafedry/"><b>kf.info.urfu.ru/trudy-kafedry/</b></a><b>&nbsp;</b></p>
						<p style="margin:0cm;margin-bottom:.0001pt">&nbsp;</p>
					<p style="margin:0cm;margin-bottom:.0001pt">&nbsp;</p></article><article id="c1220"></article></section><!--TYPO3SEARCH_end--></div>