﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c1229"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Отдел по работе со студентами</h1></header><p><span style="color: rgb(34, 34, 34); font-family: sans-serif; font-size: 0.79em;">&nbsp;</span>
</p>
						<p style="font-size: 0.79em; line-height: 1.3em; margin: 0px 0px 10px; color: rgb(34, 34, 34); font-family: sans-serif;"><span style="font-family: Verdana, sans-serif; font-size: 12px;">Часы приема студентов:</span></p>
						<p><span lang="EN-US">Понедельник - Пятница: 11.00-17.00</span> 
</p>
						<p><span lang="EN-US">Каждая вторая суббота: 12.00-14.00</span> 
</p>
						<p><span lang="EN-US">Аудитория Р-217a</span>
</p>
						<p class="align-justify">Специалист по работе со студентами Отдела организации образовательной деятельности: Антропова Ирина Викторовна, тел.:&nbsp;375-44-80</p>
					<p> E-mail: <a>Antropova-irina2009@yandex.ru&nbsp;</a></p></article></section><!--TYPO3SEARCH_end--></div>