﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c674"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Расписание сессий</h1></header><p style="margin-bottom: 7.5pt; line-height: 15.6pt;">&nbsp;</p>
						<p><b>ВНИМАНИЕ!</b>
</p>
						<p><b>01.03.2018</b>
</p>
						<p><b>Расписание сессии&nbsp;3 курса&nbsp;норм.сроки 6&nbsp;семестр&nbsp;см.<a href="fileadmin/Dokumenty/zaoch/raspisanie/3_kurs_6sem._2017-18_01.doc" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b>
</p>
						<p><b>Расписание сессии&nbsp;4 курса&nbsp;норм.сроки 8&nbsp;семестр&nbsp;см.<a href="fileadmin/Dokumenty/zaoch/raspisanie/4_kurs_8sem._2017-18.doc" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b>
</p>
						<p><b>В расписании могут появиться изменения. Cледите за изменением в расписании на стенде деканата!</b>
</p>
						<p><b>12.01.2018</b>
</p>
						<p><b>Расписание сессии&nbsp;</b><b>группы РИЗ-260016у</b><b>&nbsp;3&nbsp;семестр&nbsp;см. <a href="fileadmin/Dokumenty/zaoch/raspisanie/RIZ-260016u_3_sem._1ned.xlsx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b>
</p>
						<p><b>Cледите за изменением в расписании на стенде кафедры!</b>
</p>
						<p><b>28.12.2017</b>
</p>
						<p><b>Расписание сессии&nbsp;1 курса&nbsp;норм.сроки 1&nbsp;семестр&nbsp;см. <a href="fileadmin/Dokumenty/zaoch/raspisanie/1_kurs_1sem._2017-18_01.doc" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b>
</p>
						<p><b>Расписание сессии&nbsp;2 курса&nbsp;норм.сроки 3&nbsp;семестр&nbsp;см. <a href="fileadmin/Dokumenty/zaoch/raspisanie/2_kurs_3sem._2017-18.doc" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b>
</p>
						<p><b>Cледите за изменением в расписании на стенде деканата!</b>
</p>
						<p>&nbsp;</p>
						<p><b>11.12.2017</b>
</p>
						<p><b>Сроки&nbsp;сессии&nbsp;у&nbsp;студентов&nbsp;</b><b>3 и 4 курсов</b><b>&nbsp;</b><b>норм.сроков обучения&nbsp;</b><b>с 12.03.2018 по 05.04.2018</b><b>.&nbsp;</b><b>Справки-вызовы получать за месяц до сессии, т.е. после&nbsp;</b><b>12.02.2018</b><b>.</b>
</p>
						<p><b>05.12.2017</b>
</p>
						<p><b>Студентам&nbsp;</b><b>1 и 2 курсов!&nbsp;</b><b>Справки-вызовы готовы, можно получать.</b>
</p>
						<p><b>08.11.2017</b>
</p>
						<p><b>Сроки&nbsp;сессии&nbsp;у&nbsp;студентов&nbsp;</b><b>1 и 2 курсов</b><b>&nbsp;</b><b>норм.сроков обучения&nbsp;</b><b>с 15.01.2018 по 03.02.2018,&nbsp; для&nbsp;</b><b>группы РИЗ-260016у -&nbsp;</b><b>с 15.01.2018 по 08.02.2018.&nbsp;</b><b>Справки-вызовы получать за месяц до сессии.</b>
</p>
						<p>&nbsp;<b>22.09.2017</b>
</p>
						<p style="margin-bottom:7.5pt;line-height:15.6pt"><b>Расписание сессии&nbsp;3 курса&nbsp;норм.сроки 5&nbsp;семестр&nbsp;см. <a href="fileadmin/Dokumenty/zaoch/raspisanie/3_kurs_5sem.norm.sroki_17-18_01.doc" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b></p>
						<p style="margin-bottom:7.5pt;line-height:15.6pt"><b>Расписание сессии&nbsp;4 курса&nbsp;норм.сроки 7&nbsp;семестр&nbsp;см. <a href="fileadmin/Dokumenty/zaoch/raspisanie/4_kurs_7sem.norm.sroki_17-18_02.doc" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b></p>
						<p style="margin-bottom:7.5pt;line-height:15.6pt"><b>Cледите за изменением в расписании на стенде деканата!</b></p>
						<p style="margin-bottom:7.5pt;line-height:15.6pt"><b>28.08.2017</b></p>
						<p style="margin-bottom:7.5pt;line-height:15.6pt"><b>Сроки&nbsp;сессии&nbsp;у&nbsp;студентов&nbsp;</b><b>3 и 4 курсов</b><b>&nbsp;норм.сроков обучения с 28.09.2017 по 22.10.2017.&nbsp;</b><b>Справки-вызовы можно получать после 05.09.2017.</b></p>
						<p style="margin-bottom:7.5pt;line-height:15.6pt"><b>РИЗ-4400017у -&nbsp;</b><b>ГОС 18.09.2017 - 24.09.2017, ВКР 25.09.2017 - 29.10.2017.&nbsp;</b><b>Справки-вызовы можно получать после 05.09.2017.</b></p>
						<p style="margin: 0cm 0cm 7.5pt; line-height: 15.6pt;">&nbsp;</p>
						<p style="margin: 0cm 0cm 7.5pt; line-height: 15.6pt;">&nbsp;</p>
						<p style="margin: 0cm 0cm 7.5pt; line-height: 15.6pt;">&nbsp;</p>
						<p style="margin: 0cm 0cm 7.5pt; line-height: 15.6pt; background-position: initial initial; background-repeat: initial initial;">&nbsp;</p>
						<p style="margin: 0cm 0cm 7.5pt; line-height: 15.6pt;">&nbsp;</p>
					<p style="margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm; line-height:15.6pt">&nbsp;</p></article><article id="c402"></article></section><!--TYPO3SEARCH_end--></div>