﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c404"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">ВНИМАНИЕ!</h1></header><p>&nbsp;</p>
						<p><b>КОНТРОЛЬНЫЕ РАБОТЫ </b>
</p>
						<p><b><i style="background-color: rgb(255, 255, 102);">по физике</i> регистрировать в Р-217а, затем относить на кафедру</b><b>&nbsp;Физики ГУК 2 этаж ауд. И-249;</b>
</p>
						<p><b><i style="background-color: rgb(255, 255, 102);">по математике</i>&nbsp;</b><b>регистрировать в Р-217а, затем относить на кафедру</b><b>&nbsp;</b><b>ВМиУМФ (ауд. Р-336,&nbsp;</b><b>тел. 375-48-78</b><b>).&nbsp;</b><b>По возникшим вопросам можно писать на эл.адрес</b><b><b>&nbsp;</b></b><b>Белоусовой Марине&nbsp;Михайловне&nbsp;</b><b><span style="color: rgb(65, 118, 171);"><a href="index.php?id=370">mihalevamm@yandex.ru</a></span>&nbsp;</b>
</p>
						<p><b>Для студентов всех курсов (у которых в рабочем плане есть эта дисциплина)!&nbsp;Задания для контрольных работ&nbsp;и Методические рекомендации&nbsp;по <span style="background-color: rgb(255, 255, 102);">ФИЗИКЕ</span> см. по ссылке&nbsp; </b><b><a href="http://kf.info.urfu.ru/trudy-kafedry/">kf.info.urfu.ru/trudy-kafedry/</a>&nbsp;&nbsp;</b></p></article><article id="c1269"><header class="csc-header csc-header-n2"><h1>1 курс (поступившие в 2017 году)</h1></header><p>&nbsp;</p>
						<p><b>Объявление от 02.02.2018</b>
</p>
						<p><b>Внимание! Студентам&nbsp;гр. <span style="background-color: rgb(255, 255, 102);">РИЗ-170020</span>!&nbsp;Гиперметод к курсу «Математика для заочного обучения 2 семестр» см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Matematika_1_kurs_Gipermetod_01.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b>
</p>
						<p><b>Внимание! Задания&nbsp;</b><b>к контрольным работам&nbsp;</b><b>и методические рекомендации&nbsp;</b><b>для студентов 1 курса,&nbsp;</b><b>гр.&nbsp;</b><b>РИЗ-170020</b><b>:&nbsp;</b>
</p>
						<p><b><i>Математика,&nbsp;</i></b><b><i>Векторный анализ,&nbsp;</i></b><b><i>Введение в специальность,&nbsp;</i></b><b><i>Компьютерная и инженерная графика</i>: задания даны на установочных лекциях, а также см. ниже:</b>
</p>
						<p><b><i>Математика. Векторный анализ.&nbsp;</i></b><b>Контрольные работы и методические материалы см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Matematika_2017.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>.&nbsp;</b><b>Контрольные работы должны быть сданы до 8 января.&nbsp;</b><b>Контрольные работы регистрировать в Р-217а, затем относить на каф.</b><b>&nbsp;ВМиУМФ (ауд. Р-336,&nbsp;</b><b>тел. 375-48-78</b><b>).&nbsp;</b><b>По возникшим вопросам можно писать на эл.адрес</b><b><b>&nbsp;</b></b><b>Поторочиной Ксении&nbsp;Сергеевне<b>&nbsp;</b></b><b><a href="javascript:linkTo_UnCryptMailto('jxfiql7hpbk50Xjxfi+or');">ksen83@<span style="display:none;">remove-this.</span>mail.ru</a>&nbsp;</b>
</p>
						<p style="margin: 0cm 0cm 0.0001pt;"><b><u>Консультации</u></b><b>&nbsp;по контрольным работам&nbsp;</b><b>по <i>математике&nbsp;</i></b><b>для студентов заочного обучения&nbsp;</b><b>будут проходить&nbsp;</b><b>11 ноября,&nbsp;</b><b>9 декабря 2017 года&nbsp;</b><b>с 14<u><sup>00</sup></u>&nbsp;до&nbsp;</b><b>17<b><u><sup>00</sup></u></b></b><sup>&nbsp;</sup>&nbsp;<b>в ауд. Р-050.&nbsp;</b><b>/каф. ВМиУМФ (ауд. Р-336) тел. 375-48-78/&nbsp;</b><b>ответст.&nbsp;</b><b>Поторочина&nbsp;Ксения&nbsp;Сергеевна</b></p>
						<p style="margin: 0cm 0cm 0.0001pt;">&nbsp;</p>
						<p><b>Компьютерная и инженерная графика. Д</b><b>оц. Семенова Наталья Владимировна,&nbsp;</b><b>ауд. Мт-344,&nbsp;</b><b>e-mail:&nbsp;<a href="index.php?id=369">n.v.semenova@urfu.ru&nbsp;</a>&nbsp;</b><b>Контрольные работы и методические материалы см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Kompjut.i_inzhen.grafika_2017.zip" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>&nbsp;</b>
</p>
						<p><b><i>Информатика.&nbsp;</i></b><b>Преподаватель Казанцева Любовь Николаевна.</b><b>&nbsp;</b><b>Задания&nbsp;</b><b>и методические рекомендации&nbsp;</b><b>см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Informatika_2017.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>.&nbsp;</b><b>Информацию</b>&nbsp;<b>по дисциплине изучить к началу сессии.&nbsp;</b>
</p>
						<p><b><i>Русский язык.</i>&nbsp;Преподаватель&nbsp;</b><b>Рябцева Надежда Алексеевна. Писать на эл.почту для получения задания</b><b>&nbsp;<a href="index.php?id=370">nadriabtceva@gmail.com</a></b>
</p>
						<p><b><i>Иностранный язык</i>.&nbsp;</b><b>Контрольные работы будут проводиться во время сессии.</b></p></article><article id="c863"><header class="csc-header csc-header-n3"><h1>1 курс (поступившие в 2016 году)</h1></header><div class="csc-textpic-text"><p style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:150%">&nbsp;</p>
						<p style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:150%">&nbsp;</p>
						<p style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:150%"><b>Внимание! Студентам </b><b>гр.&nbsp;</b><b>РИЗ-160019,&nbsp;</b><b>РИЗ-160020!&nbsp;</b><b>Гиперметод к курсу «Математика для заочного отделения 2 семестр» см. <a href="fileadmin/Dokumenty/zaoch/raspisanie/Matematika_1_kurs_Gipermetod.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>&nbsp;</b></p>
						<p><b>Внимание! Задания&nbsp;</b><b>к контрольным работам&nbsp;</b><b>и методические рекомендации&nbsp;</b><b>для студентов 1 курса, гр.&nbsp;</b><b>РИЗ-160016у:</b>
</p>
						<p><b><i>Иностранный язык</i>. См. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Zadanie_po_angl.jaz._RIZ-160016u_1sem.docx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b>
</p>
						<p><b>Внимание! Задания&nbsp;</b><b>к контрольным работам&nbsp;</b><b>и методические рекомендации&nbsp;</b><b>для студентов 1 курса,&nbsp;</b><b>гр.&nbsp;</b><b>РИЗ-160019,&nbsp;</b><b>РИЗ-160020,&nbsp;</b><b>пропустивших установочные лекции:&nbsp;</b>
</p>
						<p><b><i>Информатика</i>: установочная лекция&nbsp;см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Ustanovoch_lekcija_2016.pptx" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>,&nbsp;контрольные работы <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Kontrolnaja_rabota.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>,&nbsp;лекции <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Lekcii.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>. Выполненные к</b><b>онтрольные работы привезти&nbsp;на&nbsp;сессию. Задания с дополненными вариантами см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Dom_rab1.xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b>
</p>
						<p><b><i>История</i>. Всю информацию получать в группе </b><b><b>"</b>Кафедра истории России ДГО ИТН ИГНИ УрФУ" в ВКонтакте.</b>
</p>
						<p><b>ВНИМАНИЕ! Дисциплина "История" у студентов гр. РИЗ-160019 и РИЗ-160020 будет изучаться в 3 семестре. Контрольные работы в этом семестре&nbsp;сдавать не нужно!</b>
</p>
						<p style="margin: 0cm 0cm 0.0001pt;"><b><i>Математика</i> см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Matematika_1sem.2016.pdf" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>.&nbsp;<i>Векторный&nbsp;анализ</i> см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Vektornyi_analiz_1sem.2016.pdf" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>.&nbsp;</b><b>&nbsp;</b><b>УМК по этим дисциплинам см.&nbsp;<a href="fileadmin/Dokumenty/zaoch/metod_obesp/Ucheb.posobija.rar" title="Начинается скачивание файла" class="download">здесь</a>.&nbsp;</b><b>Контрольные работы должны быть сданы до 20 декабря.&nbsp;</b><b>Контрольные работы регистрировать в Р-217а, затем относить на каф.</b><b>&nbsp;ВМиУМФ (ауд. Р-336).&nbsp;</b><b>По возникшим вопросам можно писать на эл.адрес</b><b><b>&nbsp;</b><a href="javascript:linkTo_UnCryptMailto('jxfiql7jfexibsxjjXvxkabu+or');">mihalevamm@<span style="display:none;">remove-this.</span>yandex.ru</a>&nbsp;</b></p>
						<p style="margin: 0cm 0cm 0.0001pt;"><b><u>Консультации</u></b><b>&nbsp;по контрольным работам&nbsp;</b><b>по математике&nbsp;</b><b>для студентов заочного обучения&nbsp;</b><b>будут проходить&nbsp;</b><b>8 октября, 12 ноября, 10 декабря 2016 года&nbsp;</b><b>с 14<u><sup>00</sup></u>&nbsp;до&nbsp;</b><b>17<b><u><sup>00</sup></u></b></b><sup>&nbsp;</sup>&nbsp;<b>в ауд. Р-050.&nbsp;</b><b>/каф. ВМиУМФ (ауд. Р-336) тел. 375-48-78/&nbsp;</b><b>ответст. Михалева Марина&nbsp;Михайловна</b></p>
						<p style="margin: 0cm 0cm 0.0001pt;">&nbsp;</p>
						<p style="margin: 0cm 0cm 0.0001pt;"><b><i>Русский язык.</i>&nbsp;Преподаватель&nbsp;</b><b>Рябцева Надежда Алексеевна.&nbsp;</b><b>М</b><b>атериалы для подготовки&nbsp;см.&nbsp;<a href="fileadmin/Dokumenty/zaoch/metod_obesp/RP_RJAiKRlek._prak__kontr.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла" style="border: 0px; vertical-align: middle; margin-right: 10px;">здесь</a>&nbsp;и&nbsp;<a href="fileadmin/Dokumenty/zaoch/metod_obesp/RP_RJAiKRdopol.dokumentacija.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла" style="border: 0px; vertical-align: middle; margin-right: 10px;">здесь</a>.&nbsp;</b><b>Кроме ознакомления с материалами студентам необходимо выполнить&nbsp;следующее:&nbsp;</b></p>
						<p style="margin: 0cm 0cm 0.0001pt;"><b>1) все&nbsp;задания к практическим занятиям №1, 2, 3, 4&nbsp;из файла "Практические занятия" (срок сдачи - первое занятие во время зимней сессии;&nbsp;задания можно продемонстрировать как на бумажном, так и на электронном носителе информации);</b></p>
						<p><b>2)&nbsp;задания&nbsp;№3 и 4 в разделе "Практическое занятие&nbsp;№9" из файла "Практические занятия"&nbsp;(срок сдачи - 15 декабря, выполненные задания прислать на электронную почту <a href="javascript:linkTo_UnCryptMailto('jxfiql7kxaofxyqzbsxXdjxfi+zlj');">nadriabtceva@<span style="display:none;">remove-this.</span>gmail.com</a>);&nbsp;</b>
</p>
						<p><b>3) все задания по теме №2 в файле "Личная документация"&nbsp;(срок сдачи - 15 декабря, выполненные задания прислать на электронную почту <a href="javascript:linkTo_UnCryptMailto('jxfiql7kxaofxyqzbsxXdjxfi+zlj');">nadriabtceva@<span style="display:none;">remove-this.</span>gmail.com</a>).&nbsp;</b>
</p>
						<p><b><i>Введение в специальность.</i>&nbsp;</b><b>Контрольная работа будет выполняться во время сессии.</b>
</p>
						<p style="margin: 0cm 0cm 0.0001pt;">&nbsp;</p>
						<p style="margin: 0cm 0cm 0.0001pt;"><i><b>Компьютерная и инженерная графика.&nbsp;</b></i><b><a href="fileadmin/Dokumenty/zaoch/metod_obesp/Soderzhanie_kontr._raboty_2016_g..doc" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">Контрольные работы</a>, материалы&nbsp;<a href="fileadmin/Dokumenty/zaoch/metod_obesp/Rukovodstvo_dlja_studentov_ZF.doc" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">1</a>, <a href="fileadmin/_temp_/Rabota_1401.doc" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">2</a>, <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Titulnyi_list_kontr._rab..doc" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">3</a>, <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Zadanija_k_rabote_3106.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">4</a>&nbsp;и учебное пособие см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Uchebnoe_posobie_dlja_IRIT-RtF.zip" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>.&nbsp;</b><b>Контрольные работы должны быть сданы до 20 декабря.&nbsp;</b><b>Консультации по&nbsp;<strong>&nbsp;<i>Инженерной графике</i>&nbsp;</strong></b><b>будут проходить по субботам&nbsp;</b><b>в 11.40 в ауд. Мт-344,&nbsp;</b><b>доц. Семенова Наталья Владимировна,&nbsp;</b><b>e-mail:&nbsp;<a href="index.php?id=369">n.v.semenova@urfu.ru&nbsp;</a></b></p></div></article><article id="c406"><header class="csc-header csc-header-n4"><h1>2 курс</h1></header><p>&nbsp;</p>
						<p><b style="background-color: rgb(255, 255, 102);">2017-18&nbsp;уч.год</b>
</p>
						<p><b>Объявление от 02.02.2018</b>
</p>
						<p><b>Внимание! Задания&nbsp;</b><b>к контрольным работам&nbsp;</b><b>и методические рекомендации&nbsp;</b><b>для студентов 2 курса&nbsp;</b><b>гр. <span style="background-color: rgb(255, 255, 102);">РИЗ-260019</span> и&nbsp;</b><b><span style="background-color: rgb(255, 255, 102);">РИЗ-260020</span> по дисциплине&nbsp;<span style="background-color: rgb(255, 255, 102);">Дискретная математика</span> на 4 семестр см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Diskretnaja_matematika_CH1.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>&nbsp;и <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Diskretnaja_matematika_CH2.pdf" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b>
</p>
						<p><b>Объявление от 31.01.2018</b>
</p>
						<p><b>Студентам гр. РИЗ-260016у! П</b><b>о дисциплине Моделирование систем (будет в 4 семестре)&nbsp;</b><b>задания,&nbsp;</b><b>вопросы к экзамену&nbsp;см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Zadanija__voprosy.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>, лекции см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Lekcija_1-7.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>&nbsp;и <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Lekcija_8-12.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></b>
</p>
						<p><b>Внимание!&nbsp;</b>
</p>
						<p><b><i>История</i></b>
</p>
						<p><b>Студентам гр. РИЗ-260019! Тем, кто не был на установочной лекции&nbsp;</b><b>по Истории</b><b>,&nbsp;</b><b>связываться с преподавателем Петуховой Ириной Валерьевной,&nbsp;</b><b>срочно получить задания,&nbsp;</b><b>выполнить до сессии.&nbsp;</b><b>Всю информацию получать в открытой группе&nbsp;</b><b><b>"</b>Кафедра истории России ДГО ИТН ИГНИ УрФУ" в ВКонтакте.</b></p></article><article id="c668"><header class="csc-header csc-header-n5"><h1>3 курс</h1></header><p>&nbsp;</p>
						<p><b style="background-color: rgb(255, 255, 102);">2017-18&nbsp;уч.год</b>
</p>
						<p><b>Для группы <span style="background-color: rgb(255, 255, 102);">РИЗ-350019!</span></b>
</p>
						<p><b>Задания&nbsp;</b><b>к контрольным работам&nbsp;</b><b>и методические рекомендации по&nbsp;</b><b>дисциплине&nbsp;Схемотехника аналоговых устройств см. <a href="fileadmin/Dokumenty/zaoch/metod_obesp/Skhemotekhnika_2017_RIZ-350019.rar" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>. Преподаватель к.т.н. Паутов Валентин Иванович.</b>
</p>
					<h1 style="font-size: 1.375em; margin: 0px; padding: 0px; line-height: 1.2em; color: rgb(68, 68, 68); font-family: sans-serif;">&nbsp;</h1></article><article id="c669"><p class="align-justify">&nbsp;</p><table class="" style="width:100%;" id="GroupDSRegisters.DSRegisterList" cellpadding="0" cellspacing="0"><tbody><tr><td></td> <td></td></tr></tbody></table></article></section><!--TYPO3SEARCH_end--></div>