﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c403"><p><b>Рабочие планы на 2017-18 уч.год:</b>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-170020_1sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-170020 1 сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-170020_2_sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-170020 2&nbsp;сем.</a>
</p>
						<p>Рабочий план <a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-260016u_3_sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-260016у 3 сем.</a>
</p>
						<p>Рабочий план <a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-260016u_4_sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-260016у 4 сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-260019_3sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-260019 3&nbsp;сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-260019_4sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-260019 4&nbsp;сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-260020_3sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-260020 3&nbsp;сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-260020_4sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-260020 4&nbsp;сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-350019_5sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-350019 5&nbsp;сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-350019_6sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-350019 6&nbsp;сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-350020_5sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-350020 5&nbsp;сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-350020_6sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-350020 6 сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-440018_7sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-440018 7 сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-440018_8sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-440018 8&nbsp;сем.</a></p><div><p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-440019_7sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-440019 7&nbsp;сем.</a></p></div><div><p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-440019_8sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-440019 8&nbsp;сем.</a></p></div><div><p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-440020_7sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-440020 7&nbsp;сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-440020_8sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-440020 8&nbsp;сем.</a></p></div><div><p><b>Рабочие планы на 2016-17 уч.год:</b></p></div><p>Рабочий план гр.&nbsp;РИЗ-250020 4 сем. см. <a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-250020_4sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>
</p>
						<p>Рабочий план гр.&nbsp;РИЗ-250020 3 сем. см. <a href="fileadmin/Dokumenty/zaoch/raspisanie/RIZ-250020_3sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>
</p>
						<p>Рабочий план&nbsp;РИЗ-340017у <a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-340017u_5sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">5 сем.</a>
</p>
						<p>Рабочий план&nbsp;РИЗ-340017у <a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-340017u_6sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">6 сем.</a>
</p>
						<p>Рабочий план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-240017u_4sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-240017у 4сем.</a>
</p>
						<p>Учебный план&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-240018.xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-240018</a>
</p>
						<p>Рабочий план <a href="fileadmin/Dokumenty/zaoch/Uch_graf/Rab.plan_RIZ-240017u_3sem.xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-240017у 3 сем.</a>
</p>
						<p>Учебный план <a href="fileadmin/_temp_/RIZ-150019.xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-150019</a>
</p>
						<p>Учебный план <a href="fileadmin/_temp_/RIZ-150020.xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-150020</a>
</p>
						<p>Учебный план гр.&nbsp;РИЗ-230205с,&nbsp;РИЗ-320205с см. <a href="fileadmin/Dokumenty/zaoch/Uch.pl.RIZ-230205s__RIZ-320205s.xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>
</p>
						<p>Учебный план гр.&nbsp;<a href="fileadmin/Dokumenty/zaoch/Uch_graf/Uch.pl.RIZ-230503.xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">РИЗ-230503</a>
</p>
						<p>Рабочий план гр.&nbsp;РИЗ-230503 3 семестр см. <a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-230503_3sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a>
</p>
					<p>Рабочий план гр.&nbsp;РИЗ-240019 5 семестр см. <a href="fileadmin/Dokumenty/zaoch/Uch_graf/RIZ-340019_5sem..xls" title="Начинается скачивание файла" class="download"><img src="typo3/sysext/rtehtmlarea/res/accessibilityicons/img/download.gif" alt="Начинается скачивание файла">здесь</a></p></article></section><!--TYPO3SEARCH_end--></div>