<div>
    <div style="float: left; width: 750px; margin-left: 1.25em;">
        <div style=" margin-bottom: 1em;">
            <h1 style="font-size: 1.375em; margin: 0; padding: 0; line-height: 1.2em; color: #444">
                Монографии
            </h1>
        </div>

        <div>
            <ul style="margin: 1em 0; padding: 0 0 0 2.5em;">
                <li style="font-size: 1em; line-height: 1.725em; margin-bottom: 0.5em;">
                    <a href="http://reit-rtf.ru" style="color: #4176AB; text-decoration: none;">
                        <b style="font-weight: bold;">
                        <span lang="EN-US">
                            International Workshop on Radio Electronics &amp; Information Technologies
                        </span>
                        </b>
                    </a>
                </li>
                <li style="font-size: 1em; line-height: 1.725em; margin-bottom: 0.5em;">
                    <a href="http://rtf.urfu.ru/index.php?id=488" style="color: #4176AB; text-decoration: none;">
                        <b style="font-weight: bold;">
                        <span lang="EN-US">
                            IEEE 2018 Ural Symposium on Biomedical Engineering, Radio Electronics and Information Technology – IEEE USBEREIT
                        </span>
                        </b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
