<div>

    <div style="float: left; width: 750px; margin-left: 1.25em;">


        <div>
            <p style="text-align: justify">
                <img height="156" width="300" style="padding: 5px; float: left;" alt=""
                     src="http://rtf.urfu.ru/uploads/RTEmagicC_Sovet_molodykh_uchenykh-logotip.jpg.jpg">
            </p>
            <p style="text-align:justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px;
            font-family: sans-serif;">
                &nbsp;
            </p>
            <p style="text-align:justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px;
            font-family: sans-serif;">
                &nbsp;
            </p>
            <p style="text-align:justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px;
            font-family: sans-serif;">
                Официальная страница Совета Молодых Учёных (СМУ) Института
                радиоэлектроники и
                информационных технологий - РТФ, Уральского федерального университета имени первого Президента России
                Б.Н. Ельцина.
            </p>
            <p style="text-align:justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px;
            font-family: sans-serif;">
                &nbsp;
            </p>
            <p style="text-align:justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px;
            font-family: sans-serif;">
                &nbsp;
            </p>
            <p style="text-align:justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px;
            font-family: sans-serif;">
                СМУ ИРИТ-РтФ является постоянно действующим
                коллегиальным совещательным органом для сотрудников института младше 35 лет, занимающихся научными
                исследованиями, и функционирует при Учёном Совете Института.
            </p>
            <p style="text-align:justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px;
            font-family: sans-serif;">
                <b>Миссия СМУ:</b>
                выполнение экспертно-консультативных
                функций по вопросам улучшения условий научной работы, учёбы и быта молодых учёных; обеспечение кадрового
                потенциала для устойчивого развития Института; представление интересов молодых учёных ИРИТ-РтФ в Совете
                Молодых Учёных УрФУ.
            </p>
            <p>&nbsp;</p>
            <p style="text-indent:35.4pt; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px;
            font-family: sans-serif;">
                Контактные данные:
                <a style="color: #4176AB; text-decoration: none; font-family: sans-serif;">
                    smurtf@urfu.ru
                </a>
            </p>
            <p style="text-indent:35.4pt; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px;
            font-family: sans-serif;">
                Страница в социальных сетях:
                <a href="https://vk.com/smu_rtf"
                   style="color: #4176AB; text-decoration: none; font-family: sans-serif;">
                    https://vk.com/smu_rtf
                </a>
            </p>
        </div>
    </div>
</div>
