<div>
   
    <div style="float: left; width: 750px; margin-left: 1.25em;">
        <div style=" margin-bottom: 1em;">
            <h1 style="font-size: 1.375em; margin: 0; padding: 0; line-height: 1.2em; color: #444">
                Монографии
            </h1>
        </div>

        <div>
            <p style="mso-margin-top-alt:auto; mso-margin-bottom-alt: auto; text-align:center; line-height:normal">
                <b>Монографии изданные за 2016 год</b>
            </p>
            <table border="0" cellspacing="0" cellpadding="0" width="737" style="margin-left:-8.8pt;
            border-collapse: collapse; mso-table-layout-alt: fixed;  mso-padding-alt: 0cm 0cm 0cm 0cm">
                <tbody>
                <tr style="height: 28.5pt">
                    <td width="36" style="width: 26.9pt; border: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;
                    height:28.5pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%"><b>№</b>
                        </p></td>
                    <td width="145"
                        style="width:108.95pt;border:solid windowtext 1.0pt;border-left: none;padding:0cm 5.4pt 0cm 5.4pt;height:28.5pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            <b>Авторы</b></p></td>
                    <td width="284"
                        style="width:212.65pt;border:solid windowtext 1.0pt;border-left: none;padding:0cm 5.4pt 0cm 5.4pt;height:28.5pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%"><b>Название
                            работы</b></p></td>
                    <td width="46"
                        style="width:34.55pt;border:solid windowtext 1.0pt;border-left: none;padding:0cm 5.4pt 0cm 5.4pt;height:28.5pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            <b>Объем,</b></p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            <b>стр.</b></p></td>
                    <td width="125"
                        style="width:93.9pt;border:solid windowtext 1.0pt;border-left: none;padding:0cm 5.4pt 0cm 5.4pt;height:28.5pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm; margin-bottom:.0001pt; text-align:center;line-height:130%"><b>Издатель</b>
                        </p></td>
                    <td width="101" nowrap=""
                        style="width:75.8pt;border:solid windowtext 1.0pt; border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:28.5pt">
                        <p class="MsoNormal"
                           style="margin-top:0cm;margin-right:-5.4pt; margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center; line-height:130%">
                            <b>Кафедра</b></p></td>
                </tr>
                <tr style="mso-yfti-irow:1;height:15.0pt">
                    <td width="737" colspan="6"
                        style="width:552.75pt;border-top:none;border-left: solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right: solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%"><b>Монографии</b>
                        </p></td>
                </tr>
                <tr style="mso-yfti-irow:2;height:45.0pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">1</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">К.А.
                            Аксенов,</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Кай
                            Ван</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Разработка и применение метода реинжиниринга бизнес-процессов на основе мультиагентного
                            моделирования</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">192</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            Издательство "Зебра", г.Ульяновск</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ИТ</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:3;height:57.6pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;padding:0cm 5.4pt 0cm 5.4pt;height:57.6pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">2</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:57.6pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Л.Г.
                            Доросинский,</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">О.М.&nbsp;Зверева</p>
                    </td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:57.6pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Информационные технологии поддержки жизненного цикла изделия</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:57.6pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">243</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:57.6pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">М</p>
                    </td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:57.6pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ИТ</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:4;height:45.0pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">3</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Н.А.
                            Бегунов</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Методы и
                            инструментальные средства интеллектуального анализа данных при решении бизнес-задач</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">100</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            Издательство "Зебра", г.Ульяновск</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:45.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ИТ</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:5;height:53.45pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;padding:0cm 5.4pt 0cm 5.4pt;height:53.45pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">4</p>
                    </td>
                    <td width="145" nowrap=""
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:53.45pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Л.Г.
                            Доросинский</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:53.45pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Введение
                            в теорию обработки сигналов от пространственно-распределительных цепей в РСА</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:53.45pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">144</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:53.45pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            Издательство "Зебра", г.Ульяновск</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:53.45pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТОР</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:6;height:49.15pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;padding:0cm 5.4pt 0cm 5.4pt;height:49.15pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">5</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:49.15pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Л.Г.
                            Доросинский</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">О.М.
                            Зверева</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:49.15pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Информационные технологии поддержки жизненного цикла</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:49.15pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">242</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:49.15pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            Издательство "Зебра", г.Ульяновск</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:49.15pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТОР</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:7;height:46.15pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;padding:0cm 5.4pt 0cm 5.4pt;height:46.15pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">6</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:46.15pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">С.В.
                            Трошина</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:46.15pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Информационные юридические источники</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:46.15pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">140</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:46.15pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">УМЦ
                            УПИ</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:46.15pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТОР</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:8;height:30.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;padding:0cm 5.4pt 0cm 5.4pt;height:30.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">7</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:30.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Н.В.
                            Папуловская</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:30.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Формирование компетенций для полипрофессионального взаимодействия</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:30.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">221</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:30.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">LAP
                            LAMBERT Academic Publishing</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:30.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТОР</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:9;height:39.0pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;padding:0cm 5.4pt 0cm 5.4pt;height:39.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">8</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:39.0pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Д.Д.
                            Бызов,</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">И.В.
                            Ладовский,</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">П.С.
                            Мартышко,</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">А.Г.
                            Цидаев</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:39.0pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Теория и
                            методы комплексной интерпретации геофизических данных</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:39.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">96</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:39.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">УрО
                            РАН</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:39.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            ВМиУМФ</p></td>
                </tr>
                <tr style="mso-yfti-irow:10;height:44.6pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;padding:0cm 5.4pt 0cm 5.4pt;height:44.6pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">9</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:44.6pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">С.Н.
                            Шабунин</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:44.6pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Электродинамика плоских магнитно-диэлектрических слоистых структур</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:44.6pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">128</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:44.6pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">LAP
                            LAMBERT Academic Publishing</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:44.6pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ВЧСРТ</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:11;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-left-alt:solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt; height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">10</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">О<span
                            lang="EN-US">.</span>Н<span lang="EN-US">. </span>Александрова<span
                            lang="EN-US"> &nbsp;- </span>автор статьи<span lang="EN-US"> (</span>главы<span
                            lang="EN-US"> 24) </span>в коллективной монографии<span lang="EN-US">: O.V. Frank-Kamenetskaya et al (eds.), Biogenic-Abiogenic Interactions in Natural and Anthropogenic Systems, Lecture Notes in Earth System Sciences.</span>
                        </p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%"><span
                            lang="EN-US">Spin Labeling EPR Analyses of Soil: A New Method to Investigate Biogenic and Abiogenic Interactions of Amines in the Environment of Natural Soils</span>
                        </p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">Объем
                            главы - 13 стр.; объем монографии - 543 стр.</p></td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            Springer</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ЦУО</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:12;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%"><span
                            lang="EN-US">11</span></p></td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">С.В.
                            Поршнев</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Рабайа
                            Фауд</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Исследование особенностей применения метода сингулярного спектрального анализа в задаче
                            анализа и прогнозирования временных рядов</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">167</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            Издательство "Зебра", г.Ульяновск</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">РЭИС</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:13;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%"><span
                            lang="EN-US">12</span></p></td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">С.В.
                            Поршнев</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Д.В.
                            Кусайкин</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Исследование алгоритмов восстановления ДС, заданных на неравномерной временной сетке с точно
                            неизвестными значениями координат узлов</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">211</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            Издательство "Зебра", г.Ульяновск</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">РЭИС</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:14;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">13</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Б.Т.
                            Будаи</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Оценка
                            влияния дифракции на качество изображения в оптико-электронных системах</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p></td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">УМН
                            УПИ</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТСС</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:15;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">14</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Б.Т.
                            Будаи</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Исследование причин возникновения сигналоподобных автоколебаний в контурах управления
                            оптико-электронных систем</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p></td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">УМН
                            УПИ</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТСС</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:16;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">15</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Б.Т.
                            Будаи</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Определение максимально неблагоприятных траекторий движения объектов</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p></td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">УМН
                            УПИ</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТСС</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:17;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">16</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Б.Т.
                            Будаи</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Исследование причин возникновения сигналоподобных автоколебаний в контурах управления
                            оптико-электронных систем</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p></td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">УМН
                            УПИ</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТСС</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:18;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">17</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">В.Н.
                            Штенников</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Научное
                            развитие технологии пайки приборов</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">48</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">УМЦ
                            УрФУ</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТСС</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:19;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">18</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">В.Н.
                            Штенников</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Преимущества конвекционной пайки</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">60</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">УМЦ
                            УрФУ</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТСС</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:20;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">19</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">В.Н.
                            Штенников</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            Преимущества механизированной пайки</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">89</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">УМЦ
                            УрФУ</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТСС</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:21;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">20</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">В.Н.
                            Штенников</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Тепловые
                            характеристики паяльного инструмента</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">115</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">УМЦ
                            УрФУ</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТСС</p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow:22;mso-yfti-lastrow:yes;height:41.75pt">
                    <td width="36"
                        style="width:26.9pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">21</p>
                    </td>
                    <td width="145"
                        style="width:108.95pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">В.Н.
                            Штенников</p></td>
                    <td width="284"
                        style="width:212.65pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: 130%">Тепловые
                            характеристики паяльных стержней</p></td>
                    <td width="46"
                        style="width:34.55pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">122</p>
                    </td>
                    <td width="125"
                        style="width:93.9pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">УМЦ
                            УрФУ</p></td>
                    <td width="101"
                        style="width:75.8pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt; mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.75pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:130%">ТСС</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
