<div>
   
    <div style="float: left; width: 750px; margin-left: 1.25em;">
        <div style=" margin-bottom: 1em;">
            <h1 style="font-size: 1.375em; margin: 0; padding: 0; line-height: 1.2em; color: #444">
                Основные результаты НИР
            </h1>
        </div>

        <div>
            <object data="http://rtf.urfu.ru/fileadmin/Dokumenty/Nayka/Osnovnye_rezultaty_NIR_i_OKR_za_2016_dlja_saita.pdf"
                    type="application/pdf" width="600" height="450">
            </object>
        </div>
    </div>
</div>
