<div>
    
    <div style="float: left; width: 750px; margin-left: 1.25em;">
        <div style=" margin-bottom: 1em;">
            <h1 style="font-size: 1.375em; margin: 0; padding: 0; line-height: 1.2em; color: #444">
                Российский научный фонд. Проект № 14-19-01396
            </h1>
        </div>

        <div>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                <b>Наименование проекта:</b>
                Разработка теории и технологии создания устройств микроволнового диапазона с использованием композитных
                материалов нового поколения
            </p>
            <p>
                <b>Руководитель проекта:</b> Шабунин Сергей Николаевич, д.т.н., профессор
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                <b>Наименование этапа 2014 г.:</b> Развитие аппарата тензорных функций Грина для
                решения внутренних и внешних задач электродинамики применительно к устройствам, содержащим композитные и
                мета-материалы.
            </p>
            <p>
                <b>Полученные результаты за 2014 г.:</b>
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Научная группа принадлежит к ведущей научной школе прикладной электродинамики
                Уральского федерального университета. Участники проекта занимаются задачами электродинамики, излучения,
                дифракции и распространения электромагнитных волн. Разработана теория различных структур, содержащих
                слоистые материалы: слоистых волноводов, микрополосковых и щелевых линий передачи, микрополосковых
                антенн и антенных решеток, решены задачи дифракции электромагнитных волн на плоских, сферических и
                цилиндрических телах, в том числе и имеющих слоистую структуру.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                В последние годы с развитием технологии появилась возможность реального
                изготовления малоразмерных диэлектрических и проводящих элементов, а с появлением 3D принтеров и
                достаточно сложных объёмных конструкций. Подобные элементы являются основой для создания мета-структур и
                композитных материалов, которые находят широкое распространение в системах телекоммуникаций,
                радиолокации и радионавигации. Научный коллектив поставил и решает задачу разработки теории и технологии
                создания устройств микроволнового диапазона с использованием композитных материалов нового поколения. На
                основе разработанных ранее универсальных методов решения граничных задач электродинамики разрабатываются
                теоретические подходы к решению проблемы взаимодействия электромагнитного поля различных частотных
                диапазонов с композитными материалами и мета-структурами с целью использования их в устройствах и
                системах микроволнового диапазона и достижения улучшения тактико-технических характеристик систем связи,
                радиолокации и радионавигации.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                В течение 2014 года основные усилия научного коллектива были направлены на развитие
                аппарата тензорных функций Грина для решения внутренних и внешних задач электродинамики применительно к
                устройствам, содержащим композитные и мета-материалы.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Выполнен анализ существующих конструкций элементов СВЧ и КВЧ трактов, использующих
                композитные и мета-материалы и структуры, и методик их расчета.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Отмечено, что использование метаматериалов и мета-поверхностей позволяет уменьшить
                размеры элементов конструкций, традиционно привязанных к длине волны, реализовать новые функциональных
                возможности, например, при использовании свойства отрицательного коэффициента рефракции. Однако
                применение мета-структур имеет определенные ограничения, обусловленные их частотными характеристиками,
                электродинамическими свойствами материалов и технологическими проблемами. В ряде случаев мета-структуры
                проявляют свои особые свойства в достаточно узком диапазоне частот. Базовые элементы мета-структур
                представляют собой проводники, имеющие форму диполей, колец, полуколец, квадратов и тому подобное,
                регулярно распределенные в диэлектрике с низким значением диэлектрической проницаемости. Широкое
                распространение получили конструкции, содержащие планарные проводящие элементы в виде различных
                геометрических фигур, чаще замкнутых и незамкнутых квадратов, колец и спиралей, размеры которых много
                меньше длины волны. Вставляя подобные элементы, например, в микрополосковые линии передачи, удается
                строить частотнозависимые электрические цепи, используемые при конструировании фильтров и согласующих
                устройств с малыми электрическими размерами.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                В результате проведенного обзора подтвердилась предположение участников проекта в
                целесообразности и перспективности использования аппарата тензорных функций Грина для анализа и синтеза
                структур, содержащих метаматериалы и метаповерхности. Несмотря на существенные затраты времени на
                теоретическом этапе при получении функций Грина для областей различной формы и содержания в них
                магнитодиэлектричских материалов, их применение в алгоритмах и компьютерных программах существенно, в
                десятки и сотни раз, сокращает процессорное время расчетов, анализа и синтеза устройств.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                В текущем году разработанный научной группой аппарат тензорных функций Грина,
                используемый для решения задач возбуждения, излучения, распространения и дифракции электромагнитных
                волн, был адаптирован к анализу и синтезу устройств, содержащих композитные и метаматериалы и структуры.
                Адаптация состояла в получении или коррекции аналитических выражений для компонентов тензоров Грина
                плоских, цилиндрических и сферических стратифицированных сред. При применении аппарата тензорных функций
                Грина стало возможным использовать магнитные и диэлектрические постоянные как с положительной, так и с
                отрицательной вещественной частью.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Были устранены ложные и не имеющие физического смысла решения. Выделение
                особенностей, связанных с возбуждением в слоистых средах поверхностных и вытекающих волн, позволили
                выполнить корректное решение электродинамических задач. Были модифицированы выражения для расчета
                компонентов электромагнитного поля произвольных электрических и магнитных сторонних источников при
                разложении как по волнам типа Е и Н, так и по волнам типа LE и LM. Второй способ разложения позволяет
                для плоских слоистых структур еще на этапе формального решения задачи выделить спектр поверхностных и
                вытекающих волн, обойти особенности на пути интегрирования функций Грина и существенно упростить
                алгоритмизацию решаемых задач.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Таким образом, подготовлен математический аппарат для решения и дальнейшей
                алгоритмизации задач возбуждения, распространения, излучения и дифракции электромагнитных волн на
                координатных объектах, содержащих слоистые магнитодиэлектрические и проводящие среды, в том числе
                метаматериалы, в плоских, цилиндрических и сферических системах координат.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Получено решение задачи дифракции электромагнитных волн на многослойном
                диэлектрическом укрытии при произвольных углах падения и поляризации поля. В первую очередь задачи
                дифракции актуальны при решении проблем отражения и прохождения электромагнитных волн от источников
                электромагнитного поля. Например, при анализе и/или синтезе малоотражающих покрытий объектов с целью
                снижения эффективной отражающей поверхности при радиолокационном мониторинге пространства или
                конструировании радиопрозрачных антенных укрытий. Предложено решение задачи дифракции как задачи
                излучения эквивалентных электрических и магнитных токов, наведенных первичным полем. Этот подход
                существенно сокращает время вычислений. Получены частотные зависимости коэффициентов передачи и
                отражения для одно-, трех- и пятислойных структур, которые предполагается использовать в качестве
                антенных обтекателей. Отмечено хорошее совпадение расчетных и экспериментальных значений, измеренных в
                условиях безэховой камеры EMC3 фирмы Rainford. Выполнено теоретическое исследование поведения
                электромагнитного поля при падении его на плоскую структуру, содержащую слои с отрицательным
                коэффициентом рефракции (метаматериалы).
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                На основе предложенной методики разработаны компьютерные программы анализа
                возбуждения и дифракции волн в замкнутых, полузамкнутых и открытых областях. Получены выражения для
                расчета комплексной постоянной распространения и дисперсионные кривые для радиально неоднородных круглых
                волноводов и прямоугольного волновода с частичным заполнением и импедансной стенкой.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Разработаны компьютерные программы расчета дифракции электромагнитных волн на
                цилиндрических и сферических телах, содержащих слоистый магнитодиэлектрик с произвольными параметрами.
                Предложена методика, позволяющая еще на этапе аналитического решения задачи дифракции выделить из
                полного поля рассеянное объектом электромагнитное поле. Для координатных объектов получены аналитические
                выражения для расчета рассеянного поля цилиндрическими и сферическими слоистыми объектами. На их основе
                разработаны компьютерные программы и выполнены расчеты рассеянного поля и эффективной площади
                поверхности отражения. Предложенная методика позволяет оптимизировать параметры защитных покрытий не
                только с точки зрения минимизации эффективной отражающей поверхности, но и с точки зрения
                перераспределения рассеянного поля в других по отношению к станции подсвета направлениях, что также
                способствует минимизации отраженной энергии и снижению заметности объекта для РЛС.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Разработана методика расчета дифракционного поля для сферически неоднородной
                структуры при наличии близко расположенного облучателя. Данная методика является крайне эффективной,
                например, при проектировании линз Люнеберга. По сравнению с традиционными методами, основанными на
                использовании известных программных продуктов, например, Ansoft HFSS, время вычислений диаграмм
                направленности, коэффициента усиления, определения поляризационных характеристик антенн с линзой
                Люнеберга уменьшается в десятки раз.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Разработана программа и получены результаты для поля, рассеянного проводящим
                цилиндром, покрытом материалами как с положительным, так и отрицательным коэффициентом рефракции
                (метаматериалами). Показано, что в определенных частотных диапазонах, зависящих от размеров и параметров
                покрытий, наблюдается существенное снижение эффективной отражающей поверхности объекта.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Разработана методика решения задачи излучения антенны вытекающей волны в виде
                прямоугольного волновода с частичным заполнением магнитодиэлектриком с верхней стенкой в виде
                мета-поверхности, образованной поперечными щелями. Получены выражения для расчета дисперсионных кривых и
                определения постоянных распространения. Выполнен анализ положения главных лепестков диаграммы
                направленности в зависимости от частоты и параметров волновода.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                На основе предложенных алгоритмов и разработанных компьютерных программ&nbsp;
                выполнены расчеты коэффициентов отражения и прохождения электромагнитных волн через плоское многослойное
                антенное укрытие с различными конструктивными и электродинамическими характеристиками. Проведена
                оптимизация параметров укрытия для создания окон радиопрозрачности в заданных диапазонах частот.
                Построены графики, иллюстрирующие изменение коэффициентов отражения и прохождения для различных углов
                падения и вида поляризации. Исследовано преобразование коэффициента эллиптичности падающей волны при ее
                прохождении слоистого антенного укрытия. Исследовано воздействие антенного укрытия при наличии в его
                структуре метаматериалов на поляризационные характеристики отраженной и прошедшей волн.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                В ходе выполнения проекта авторами отработана методика проведения измерений
                коэффициентов отражения и прохождения через слоистые диэлектрические материалы, используемых в качестве
                обтекателей антенн, при использовании имеющейся в Уральском федеральном университете безэховой камеры
                EMC3 фирмы Rainford. При измерениях использовались векторные анализаторы Rohde&amp;Schwarz ZVA24 и ZVA50
                с верхней частотой рабочего диапазона 24 и 50 ГГц, соответственно. В качестве тестовых антенн
                использовались антенны Rohde&amp;Schwarz HL050 и рупорные антенны 8-миллиметрового диапазона частот.
                Проведены измерения параметров более 15 образцов антенных укрытий.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Полученные исполнителями проекта научные результаты докладывались на различных, в
                том числе международных, научных конференциях. Среди них международная конференция по антеннам и
                распространению радиоволн «2014 Loughborough Antennas and Propagation Conference (LAPC)»,
                Великобритания, Лафборо; международная конференция по актуальным проблемам конструирования электронных
                приборов «12 International conference on actual problems of electronic instrument engineering (APEIE)»,
                Россия, Новосибирск; международная конференция по антеннам и распространению радиоволн «8th European
                Conference on Antennas and Propagation EuCAP 2014», Нидерланды, Гаага; 24-я Международная Крымская
                конференция «СВЧ-техника и телекоммуникационные технологии», Россия, Севастополь.
            </p>
            <p style="text-align: justify; font-size: 0.79em; line-height: 1.3em; margin: 0; margin-bottom: 10px; font-family: sans-serif;">
                Всего по материалам научных исследований сделано 9 докладов. Полученные научным
                коллективом результаты опубликованы в 4 статьях. 2 из них входят в базу Web of Science, 3 в базу Scopus,
                4 в базу РИНЦ. 1 статья направлена в журнал «Известия вузов России. Радиоэлектроника» для опубликования
                и успешно прошла рецензирование.&nbsp;
            </p>
        </div>
    </div>
</div>
