<div>
   
    <div style="float: left; width: 750px; margin-left: 1.25em;">
        <div style=" margin-bottom: 1em;">
            <h1 style="font-size: 1.375em; margin: 0; padding: 0; line-height: 1.2em; color: #444">
                Тематический план выполненных работ за 2016 год
            </h1>
        </div>

        <div>
            <table class="" cellspacing="0" cellpadding="0" width="756"
                   style="border-collapse: collapse; vertical-align: middle;" summary="">
                <tbody>
                <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:34.9pt">
                    <td width="38"
                        style="width:28.75pt;border:solid windowtext 1.0pt;mso-border-alt: solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:34.9pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">№
                            &nbsp;п/п</p></td>
                    <td width="255"
                        style="width:191.0pt;border:solid windowtext 1.0pt;border-left: none;mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:34.9pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            Наименование темы</p></td>
                    <td width="132"
                        style="width:99.2pt;border:solid windowtext 1.0pt;border-left: none;mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:34.9pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            Руководитель</p></td>
                    <td width="236"
                        style="width:177.2pt;border:solid windowtext 1.0pt;border-left: none;mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:34.9pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            Заказчик</p></td>
                    <td width="94"
                        style="width:70.85pt;border:solid windowtext 1.0pt;border-left: none;mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:34.9pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            Стоимость работ, руб.</p></td>
                </tr>
                <tr style="height: 10em;">
                    <td width="38"
                        style="width:28.75pt;border-top:none;border-left:solid windowtext 1.0pt; border-bottom:none;border-right:solid windowtext 1.0pt;mso-border-top-alt: solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt: solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;padding: 0cm 5.4pt 0cm 5.4pt;height:110pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">&nbsp;&nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">1</p>
                    </td>
                    <td width="255"
                        style="width:191.0pt;border:none;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:110pt">
                        <p class="MsoListParagraphCxSpFirst"
                           style="margin-top:0cm;margin-right:0cm; margin-bottom:0cm;margin-left:15.5pt;margin-bottom:.0001pt;mso-add-space: auto;text-indent:-15.5pt;line-height:normal;mso-list:l0 level1 lfo1">
                            &nbsp;</p>
                        <p class="MsoListParagraphCxSpFirst"
                           style="margin-top:0cm;margin-right:0cm; margin-bottom:0cm;margin-left:15.5pt;margin-bottom:.0001pt;mso-add-space: auto;text-indent:-15.5pt;line-height:normal;mso-list:l0 level1 lfo1">
                            1.&nbsp;&nbsp;&nbsp;&nbsp; Проведение моделирования и экспериментальной обработки составных
                            частей СУ.</p>
                        <p class="MsoListParagraphCxSpMiddle"
                           style="margin-top:0cm;margin-right:0cm; margin-bottom:0cm;margin-left:15.5pt;margin-bottom:.0001pt;mso-add-space: auto;text-indent:-15.5pt;line-height:normal;mso-list:l0 level1 lfo1">
                            2.&nbsp;&nbsp;&nbsp;&nbsp; Исследование возможности построения системы радиосвязи. Шифр
                            "Тишина-3"</p>
                        <p class="MsoListParagraphCxSpLast"
                           style="margin-top:0cm;margin-right:0cm; margin-bottom:0cm;margin-left:15.5pt;margin-bottom:.0001pt;mso-add-space: auto;text-indent:-15.5pt;line-height:normal;mso-list:l0 level1 lfo1">
                            3.&nbsp;&nbsp;&nbsp;&nbsp; Проведение моделирования и экспериментальной отработки составных
                            частей перспективных АСУ.</p></td>
                    <td width="132"
                        style="width:99.2pt;border:none;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:110pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">&nbsp;&nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">Шабунин
                            С. Н.</p></td>
                    <td width="236"
                        style="width:177.2pt;border:none;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:110pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">АО "НПО
                            Автоматики",</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ФГУП
                            "Производственное объединение "Октябрь"</p></td>
                    <td width="94"
                        style="width:70.85pt;border:none;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:110pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">&nbsp;&nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">24&nbsp;800
                            000</p></td>
                </tr>
                <tr style="mso-yfti-irow:2;height:150pt">
                    <td width="38"
                        style="width:28.75pt;border:solid windowtext 1.0pt;border-bottom: solid black 1.0pt;mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt: solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:150pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">2</p>
                    </td>
                    <td width="255"
                        style="width:191.0pt;border-top:solid windowtext 1.0pt; border-left:none;border-bottom:solid black 1.0pt;border-right:solid windowtext 1.0pt; mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; mso-border-bottom-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:150pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            Исследование устройств и систем на соответствие требованиям стандартов электромагнитной
                            совместимости</p></td>
                    <td width="132"
                        style="width:99.2pt;border-top:solid windowtext 1.0pt; border-left:none;border-bottom:solid black 1.0pt;border-right:solid windowtext 1.0pt; mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; mso-border-bottom-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:150pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">Князев
                            Н. С.</p></td>
                    <td width="236"
                        style="width:177.2pt;border-top:solid windowtext 1.0pt; border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:150pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            Индивидуальный предприниматель,</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ЗАО
                            "НТЦ Экспертцентр",</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            "Тритон-Электроникс",</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ЗАО
                            "Промэлектроника",</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ООО
                            "Фотек",</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">НПФ
                            "Прософт-Е",</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ООО
                            "Прософт-Биометрикс",</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">АО
                            "Уральский завод гражданской авиации",</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ФГУП
                            "ПО "Уральский оптико-механический завод" (ГК "Ростехнологии")</p></td>
                    <td width="94"
                        style="width:70.85pt;border-top:solid windowtext 1.0pt; border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:150pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">577
                            000</p></td>
                </tr>
                <tr style="mso-yfti-irow:3;height:60.2pt">
                    <td width="38"
                        style="width:28.75pt;border-top:none;border-left:solid windowtext 1.0pt; border-bottom:none;border-right:solid windowtext 1.0pt;mso-border-top-alt: solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt: solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;padding: 0cm 5.4pt 0cm 5.4pt;height:60.2pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">3</p>
                    </td>
                    <td width="255"
                        style="width:191.0pt;border:none;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:60.2pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            Исследование коэффициентов передачи электромагнитных волн экструзионного пенополистирола и
                            др.</p></td>
                    <td width="132"
                        style="width:99.2pt;border:none;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:60.2pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">Князев
                            С. Т.</p></td>
                    <td width="236"
                        style="width:177.2pt;border-top:solid windowtext 1.0pt; border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:60.2pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ООО
                            "Альфа ЭМС",</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ООО
                            ТПК"Уралтехноресурс"</p></td>
                    <td width="94"
                        style="width:70.85pt;border-top:solid windowtext 1.0pt; border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:60.2pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">217
                            000</p></td>
                </tr>
                <tr style="mso-yfti-irow:4;height:42.0pt">
                    <td width="38"
                        style="width:28.75pt;border:solid windowtext 1.0pt;mso-border-alt: solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:42.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">&nbsp;&nbsp;
                            4<img name="req_tt_content_1194_bodytext" src="typo3/clear.gif" class="t3-TCEforms-reqImg"
                                  alt=""></p></td>
                    <td width="255"
                        style="width:191.0pt;border:solid windowtext 1.0pt;border-left: none;mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:42.0pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">&nbsp;Разработка
                            макета зарядного устройства для автономного источника питания</p></td>
                    <td width="132"
                        style="width:99.2pt;border:solid windowtext 1.0pt;border-left: none;mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:42.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">Петров
                            А. С.</p></td>
                    <td width="236"
                        style="width:177.2pt;border:solid windowtext 1.0pt;border-left: none;mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:42.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ОАО
                            «Уралэлемент»</p></td>
                    <td width="94"
                        style="width:70.85pt;border:solid windowtext 1.0pt;border-left: none;mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:42.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">807
                            800</p></td>
                </tr>
                <tr style="mso-yfti-irow:5;height:35.05pt">
                    <td width="38"
                        style="width:28.75pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:35.05pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">5</p>
                    </td>
                    <td width="255"
                        style="width:191.0pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:35.05pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            Исследование алгоритмов обнаружения сигнала</p></td>
                    <td width="132"
                        style="width:99.2pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:35.05pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            Калмыков А. А.</p></td>
                    <td width="236"
                        style="width:177.2pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:35.05pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ООО
                            "КОМПЛЕКС"</p></td>
                    <td width="94"
                        style="width:70.85pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:35.05pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">750
                            000</p></td>
                </tr>
                <tr style="mso-yfti-irow:6;height:33.0pt">
                    <td width="38"
                        style="width:28.75pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:33.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">6</p>
                    </td>
                    <td width="255"
                        style="width:191.0pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:33.0pt">
                        <p class="MsoListParagraphCxSpFirst"
                           style="margin-top:0cm;margin-right:0cm; margin-bottom:0cm;margin-left:15.45pt;margin-bottom:.0001pt;mso-add-space: auto;text-indent:-14.15pt;line-height:normal;mso-list:l2 level1 lfo2">
                            &nbsp;</p>
                        <p class="MsoListParagraphCxSpFirst"
                           style="margin-top:0cm;margin-right:0cm; margin-bottom:0cm;margin-left:15.45pt;margin-bottom:.0001pt;mso-add-space: auto;text-indent:-14.15pt;line-height:normal;mso-list:l2 level1 lfo2">
                            1.&nbsp;&nbsp;&nbsp; Шифр "РВС-80-У"</p>
                        <p class="MsoListParagraphCxSpMiddle"
                           style="margin-top:0cm;margin-right:0cm; margin-bottom:0cm;margin-left:15.45pt;margin-bottom:.0001pt;mso-add-space: auto;text-indent:-14.15pt;line-height:normal;mso-list:l2 level1 lfo2">
                            2.&nbsp;&nbsp;&nbsp; НИР "Статуэтка _Урал"</p>
                        <p class="MsoListParagraphCxSpLast"
                           style="margin-top:0cm;margin-right:0cm; margin-bottom:0cm;margin-left:15.45pt;margin-bottom:.0001pt;mso-add-space: auto;text-indent:-14.15pt;line-height:normal;mso-list:l2 level1 lfo2">
                            3.&nbsp;&nbsp;&nbsp; НИР "Статуэтка-У"</p></td>
                    <td width="132"
                        style="width:99.2pt;border:none;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:33.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">Важенин
                            В. Г.</p></td>
                    <td width="236"
                        style="width:177.2pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:33.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ГУП
                            "Уральское проектно-конструкторское бюро "Деталь" (ОАО "Корпорация "Тактическое ракетное
                            вооружение")</p></td>
                    <td width="94"
                        style="width:70.85pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:33.0pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">2 000
                            000</p></td>
                </tr>
                <tr style="mso-yfti-irow:7;height:13.3pt">
                    <td width="38"
                        style="width:28.75pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:13.3pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">7</p>
                    </td>
                    <td width="255"
                        style="width:191.0pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:13.3pt">
                        <p class="MsoListParagraphCxSpFirst"
                           style="margin-top:0cm;margin-right:0cm; margin-bottom:0cm;margin-left:15.45pt;margin-bottom:.0001pt;mso-add-space: auto;text-indent:-15.45pt;line-height:normal;mso-list:l1 level1 lfo3">
                            1.&nbsp;&nbsp;&nbsp;&nbsp; Создание обеспечивающих объектов, средств и систем наземной
                            космической инфраструктуры космодрома Восточный, в части создания системы аэрологического
                            зондирования атмосферы</p>
                        <p class="MsoListParagraphCxSpLast"
                           style="margin-top:0cm;margin-right:0cm; margin-bottom:0cm;margin-left:15.45pt;margin-bottom:.0001pt;mso-add-space: auto;text-indent:-15.45pt;line-height:normal;mso-list:l1 level1 lfo3">
                            2.&nbsp;&nbsp;&nbsp;&nbsp; Подготовка и запуск РН "Союз-2-1а" и БВ "Волга" с автоматическими
                            КА. Проведение послепусковых работ на тему "Участие в метеорологическом обеспечении
                            подготовки и запуска РН "Союз-2-1а" и БВ "Волга" с автоматическими КА.</p></td>
                    <td width="132"
                        style="width:99.2pt;border:solid windowtext 1.0pt;border-left: none;mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt; mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt; height:13.3pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">Иванов
                            В. Э.</p></td>
                    <td width="236"
                        style="width:177.2pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:13.3pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ФГУП
                            "Центр эксплуатации объектов наземной космической инфраструктуры"</p></td>
                    <td width="94"
                        style="width:70.85pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:13.3pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">14 958
                            430</p></td>
                </tr>
                <tr style="mso-yfti-irow:8;mso-yfti-lastrow:yes;height:52.2pt">
                    <td width="38"
                        style="width:28.75pt;border:solid windowtext 1.0pt;border-top: none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:52.2pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">8</p>
                    </td>
                    <td width="255"
                        style="width:191.0pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:52.2pt">
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            &nbsp;</p>
                        <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal">
                            Комплексированный приемо-передающий СВЧ модуль для изделий 1Б77 и "Вектор-М"</p></td>
                    <td width="132"
                        style="width:99.2pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:52.2pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">Иванов
                            В. Э.</p></td>
                    <td width="236"
                        style="width:177.2pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:52.2pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">ОАО
                            "УПП "Вектор"</p></td>
                    <td width="94"
                        style="width:70.85pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt; mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt; padding:0cm 5.4pt 0cm 5.4pt;height:52.2pt">
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">
                            &nbsp;</p>
                        <p class="MsoNormal"
                           style="margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal">1 000
                            000</p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
