﻿<div>
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Бакалавриат (3,5 года учебы)</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_9080299a88.css?1494053195" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100&L=1%27A%3D0">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c848"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Квалификации: бакалавр</h1></header><p><span style="color: rgb(255, 0, 0);"><strong>Ускоренное обучение на базе среднего профессионального</strong><br /><strong>или&nbsp;высшего профессионального образовани</strong></span><strong style="color: rgb(255, 0, 0);">я</strong></p></article><article id="c844"><p><a href="fileadmin/Dokumenty/Postuplenie/IVT-090301_Ispr.doc" title="Начинается скачивание файла" class="download" >09.03.01</a>&nbsp;— Информатика и вычислительная техника</p>
					<p><a href="fileadmin/Dokumenty/Postuplenie/PE-090304.doc" title="Начинается скачивание файла" class="download" >09.03.04</a>&nbsp;— Программная инженерия</p>
					<p><a href="fileadmin/Dokumenty/Postuplenie/IB-090900.doc" title="Начинается скачивание файла" class="download" >10.03.01</a>&nbsp;— Информационная безопасность</p>
					<p><a href="fileadmin/Dokumenty/Postuplenie/RT_11_03_01.docx" title="Начинается скачивание файла" class="download" >11.03.01</a>&nbsp;— Радиотехника</p>
				<p><a href="fileadmin/Dokumenty/Obshee/TK-210700.doc" title="Начинается скачивание файла" class="download" >11.03.02</a>&nbsp;— Инфокоммуникационные технологии и системы связи</p></article></section><!--TYPO3SEARCH_end--></div>
			</div>