﻿<div>
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Магистратура (2 года учебы)</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_9080299a88.css?1494053195" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c789"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Квалификации: магистр</h1></header></article><article id="c790"><p><a href="fileadmin/Dokumenty/Postuplenie/Annotacija_02.04.03__MOAIS.doc" title="Начинается скачивание файла" class="download" >02.04.03</a>&nbsp;—&nbsp;Математическое&nbsp;обеспечение&nbsp;и&nbsp;администрирование&nbsp;информационных систем</p>
					<p class="align-justify"><a href="fileadmin/Dokumenty/Postuplenie/IVT-090301_Ispr.doc" title="Начинается скачивание файла" target="_self" class="download" >09.04.01</a>&nbsp;— Информатика и вычислительная техника</p>
					<p class="align-justify"><a href="fileadmin/Dokumenty/Postuplenie/IST-09_03_02.doc" title="Начинается скачивание файла" class="download" >09.04.02</a>&nbsp;— Информационные системы и технологии</p>
					<p class="align-left">09.04.02&nbsp;—&nbsp;Информационные системы и технологии?: <a href="http://bioeng.rtf.urfu.ru/" title="Внешняя ссылка открывается в новом окне" class="external-link-new-window" >Интеллектуальные информационные системы и технологии функциональной диагностики и нейрореабилитации.</a></p>
					<p class="align-justify"><a href="fileadmin/Dokumenty/Postuplenie/PE-090304.doc" title="Начинается скачивание файла" class="download" >09.04.04</a>&nbsp;— Программная инженерия</p>
					<p class="align-justify"><a href="fileadmin/Dokumenty/Postuplenie/IB-090900.doc" title="Начинается скачивание файла" class="download" >10.04.01</a>&nbsp;— Информационная безопасность</p>
					<p class="align-justify"><a href="fileadmin/Dokumenty/Postuplenie/RT_11_03_01.docx" title="Начинается скачивание файла" class="download" >11.04.01</a>&nbsp;— Радиотехника</p>
					<p class="align-justify"><a href="fileadmin/Dokumenty/Obshee/TK-210700.doc" title="Начинается скачивание файла" target="_self" class="download" >11.04.02</a>&nbsp;— Инфокоммуникационные технологии и системы связи</p>
					<p class="align-justify"><a href="fileadmin/Dokumenty/Postuplenie/KR-211000.doc" title="Начинается скачивание файла" class="download" >11.04.03</a>&nbsp;— Конструирование и технология электронных средств</p>
					<p class="align-justify"><a href="fileadmin/Dokumenty/Postuplenie/Avtomatika_-_27_03_04.docx" title="Начинается скачивание файла" class="download" >27.04.04</a>&nbsp;— Управление в технических системах</p>
					<p class="align-justify"><a href="fileadmin/Dokumenty/Postuplenie/TPUP-29_03_03.doc" title="Начинается скачивание файла" class="download" >29.04.03</a>&nbsp;— Технология полиграфического и упаковочного производства</p><div></div></article></section>