﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c586"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Контакты</h1></header><p>&nbsp;</p>
						<p>Координатор ДПО: Николаева Евгения Медарисовна
</p>
						<p>Адрес: 620002, г.Екатеринбург, ул.Мира 32, УрФУ, Институт радиоэлектроники и информационных технологий, Р-217а
</p>
						<p>тел.: (343) 375-44-80
</p>
						<p>Сот. тел.:&nbsp;<span title="Позвонить через Веб-Агент">8-906-813-95-20</span><br><br>E-mail:&nbsp;<span style="color: rgb(0, 119, 204); font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;"><a href="https://e.mail.ru/compose?To=e.m.nikolaeva@urfu.ru" rel="noopener">e.m.nikolaeva@urfu.ru</a>,&nbsp;</span><span style="color: rgb(0, 119, 204); font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 15px;"><a href="https://e.mail.ru/compose?To=Princessa669@yandex.ru" rel="noopener">Princessa669@yandex.ru</a></span>
</p>
					<p>Часы работы: пн-пт 10<sup>00</sup> - 17<sup>00</sup>&nbsp;, с 12<sup>30</sup>&nbsp;- 13<sup>30 </sup>&nbsp;обеденный перерыв</p></article></section><!--TYPO3SEARCH_end--></div>