﻿<div>
	
	<base href="http://rtf.urfu.ru/">
	<link rel="shortcut icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<link rel="icon" href="http://rtf.urfu.ru/fileadmin/default/templates/favicon.ico">
	<title>Выпускники-отличники ИРИТ-РтФ</title>
	<meta name="generator" content="TYPO3 4.7 CMS">
	<meta name="robots" content="all">
	<meta name="revisit-after" content="7 days">
	<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5fd31bd94.css?1494054107" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/t3colorbox/Resources/Public/Css/1.4.4/example1/colorbox.css?1364216552" media="all">
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ws_flexslider/Resources/Public/Css/flexslider.css?1366979510" media="all">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/style.css?1403070035" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="fileadmin/default/templates/css/print.css?1337769330" media="print">
	<script src="fileadmin/default/templates/js/libs/jquery-1.9.1.min.js?1403070583" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/libs/modernizr-2.0.6.min.js?1337769330" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/tinydropdown.js?1366716718" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/naverh.js?1366635854" type="text/javascript"></script>
	<script src="fileadmin/default/templates/js/interface.js?1403071079" type="text/javascript"></script>
	<script src="typo3temp/javascript_26e79dba8d.js?1494053196" type="text/javascript"></script>
	<meta name="robots" content="noindex,follow"><link rel="alternate" type="application/rss+xml" title="" href="index.php?id=1&type=100">
</div>
<div id="content-column"><!--TYPO3SEARCH_begin--><section><article id="c590"><header class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Информация о прошедших курсах</h1></header></article><article id="c591"><p><i><b>Технология цифрового телерадиовещания в стандарте DVB-T2</b></i>
</p>
						<p>с 03.09 по 14.09.2012 - 13 человек
</p>
						<p>с 17.09 по 28.09.2012 - 12 человек
</p>
						<p>с 01.10 по 12.10.2012 - 12 человек
</p>
						<p>с 15.10 по 26.10.2012 - 13 человек
</p>
						<p>Курганский ОРТПЦ - 1 чел.
</p>
						<p>Пермский КРТПЦ - 2 чел.
</p>
						<p>Свердловский ОРТПЦ - 2 чел.
</p>
						<p>Урало-Сибирский РЦ - 3 чел.
</p>
						<p>Челябинский ОРТПЦ - 5 чел.
</p>
						<p>с 12.11 по 23.11.2012 - 12 человек
</p>
						<p>Пермский КРТПЦ - 2 чел.
</p>
						<p>Свердловский ОРТПЦ -&nbsp;3 чел.
</p>
						<p>Урало-Сибирский РЦ - 3 чел.
</p>
						<p>Челябинский ОРТПЦ -&nbsp;4 чел.
</p>
						<p>с 26.11 по 07.12.2012 - 13 человек
</p>
						<p>Курганский ОРТПЦ - 1 чел.
</p>
						<p>Пермский КРТПЦ - 2 чел.
</p>
						<p>Свердловский ОРТПЦ - 2 чел.
</p>
						<p>Урало-Сибирский РЦ - 3 чел.
</p>
						<p>Челябинский ОРТПЦ - 5 чел.
</p>
						<p>с 10.12 по 21.12.2012 - 13 человек
</p>
						<p>Курганский ОРТПЦ - 1 чел.
</p>
						<p>Пермский КРТПЦ - 2 чел.
</p>
						<p>Свердловский ОРТПЦ - 2 чел.
</p>
						<p>Урало-Сибирский РЦ - 3 чел.
</p>
						<p>Челябинский ОРТПЦ - 5 чел.
</p>
						<p>с 21.01 по 01.02.2013 - 12 человек
</p>
						<p>Челябинский ОРТПЦ -&nbsp;2 чел.
</p>
						<p>Курганский ОРТПЦ -&nbsp;2 чел.
</p>
						<p>Урало-Сибирский РЦ -&nbsp;2 чел.
</p>
						<p>Пермский КРТПЦ - 2 чел.
</p>
						<p>Свердловский ОРТПЦ - 2 чел.
</p>
						<p>Удмуртский РРТПЦ&nbsp;-&nbsp;2 чел.
</p>
						<p>с 04.02 по 15.02.2013 - 12 человек
</p>
						<p>Курганский ОРТПЦ -&nbsp;2 чел.
</p>
						<p>Свердловский ОРТПЦ - 2 чел.
</p>
						<p>Удмуртский РРТПЦ - 2 чел.
</p>
						<p>Урало-Сибирский РЦ -&nbsp;2 чел.
</p>
						<p>Челябинский ОРТПЦ -&nbsp;4 чел.
</p>
						<p>с 18.03 по 29.03.2013 - 12 человек
</p>
						<p>Курганский ОРТПЦ -&nbsp;3 чел.
</p>
						<p>Свердловский ОРТПЦ -&nbsp;5 чел.
</p>
						<p>Удмуртский РРТПЦ - 2 чел.
</p>
						<p>Урало-Сибирский РЦ -&nbsp;1 чел.
</p>
						<p>Челябинский ОРТПЦ -&nbsp;1 чел.
</p>
						<p>с 01.04 по 12.04.2013 - 12 человек
</p>
						<p>Курганский ОРТПЦ -&nbsp;2 чел.
</p>
						<p>Пермский КРТПЦ - 2 чел.
</p>
						<p>Удмуртский РРТПЦ&nbsp;- 2 чел.
</p>
						<p>Урало-Сибирский РЦ -&nbsp;4 чел.
</p>
						<p>Челябинский ОРТПЦ -&nbsp;2 чел.
</p>
						<p>с 15.04 по 26.04.2013 - 13 человек
</p>
						<p>Курганский ОРТПЦ -&nbsp;2 чел.
</p>
						<p>Пермский КРТПЦ -&nbsp;4 чел.
</p>
						<p>Свердловский ОРТПЦ -&nbsp;1 чел.
</p>
						<p>Удмуртский РРТПЦ - 2 чел.
</p>
						<p>Урало-Сибирский РЦ - 3 чел.</p></article><article id="c592"><p><b><i>Теория электромагнитного поля и распространение радиоволн</i><span id="1372993521138S">&nbsp;</span></b>
</p>
						<p>с 11.03 по 15.03.2013 - 8 человек
</p>
						<p>ФГУП "Российский федеральный ядерный центр-Всероссийский научно-исследовательский институт технической физики имени академика Е.И. Забабахина" - 8 человек.
</p>
						<p><i><b>Устройства СВЧ и антенны</b></i>
</p>
						<p>с 22.04 по 26.04.2013 - 8 человек
</p>
						<p>ФГУП "Российский федеральный ядерный центр-Всероссийский научно-исследовательский институт технической физики имени академика Е.И. Забабахина" - 8 человек.</p></article><article id="c593"><p><i><b>Электромагнитная совместимость радиоэлектронных средств и частотно-территориальное планирование сетей подвижной и фиксированной радиосвязи</b></i>
</p>
						<p>с 19.11 по 28.11.2012 - 15 человек
</p>
						<p>ФГУП "Радиочастотный центр Уральского федерального округа" - 8 человек.
</p>
						<p>ФГУП "Радиочастотный центр&nbsp;Приволжского федерального округа" -&nbsp;7 человек.</p></article><article id="c594"><p><i><b>Эффективное управление структурным подразделением на предприятии связи</b></i>
</p>
						<p style="color: rgb(0, 0, 153); background-color: rgb(255, 255, 255);"><b>с 27.03 по 05.04.2013 - 10 человек</b></p>
						<p>ФГУП "Радиочастотный центр Уральского федерального округа" -&nbsp;4 человека.
</p>
						<p>ФГУП "Радиочастотный центр Приволжского федерального округа" -&nbsp;6 человек.
</p>
						<p><b style="color: rgb(0, 0, 153);">с 15.04 по 24.04.2013 - 11 человек</b>
</p>
						<p>ФГУП "Радиочастотный центр Уральского федерального округа" -&nbsp;4 человека.
</p>
					<p>ФГУП "Радиочастотный центр Приволжского федерального округа" - 7 человек.</p></article></section><!--TYPO3SEARCH_end--></div>